<template>
<div class="flex flex-col items-center w-full h-auto py-6 border border-gray-500 shadow lg:w-4/12 rounded-xl">
    <div class="flex flex-col items-center justify-around w-6/12"></div>
        <div class="relative flex flex-col items-center w-full h-auto pb-6">
        <div class="flex flex-wrap w-4/5 mt-10 place-content-between">
            <h2 class="uppercase font-rob-bold text-blueBT">Datos del propietario de la tarjeta</h2>
            <div><span class="font-rob-light text-grayBT">4 - 5</span></div>
        </div>

        <div class="flex items-center justify-center w-full mt-4">
            <div class="flex flex-col items-center w-9/12 border-gray-400 rounded-lg lg:w-11/12 lg:border">
                <div class="w-4/5 my-6">
                    <input-texto placeHolder="CALLE *" reg="1" v-model="domicilio_tarjeta.calle"/>
                    <input-texto placeHolder="C.P. *" reg="5" v-model="domicilio_tarjeta.cp"/>
                    <input-texto placeHolder="COLONIA *" reg="1" v-model="domicilio_tarjeta.colonia"/>

            <select-estados v-on:seleccionar="seleccionarEstado" v-bind:actual="domicilio_tarjeta.estado.valor"/>
            <select-municipio v-if="domicilio_tarjeta.estado" v-on:seleccionar="seleccionarMunicipio" v-bind:actual="domicilio_tarjeta.municipio.valor" v-bind:estado_id="domicilio_tarjeta.estado.valor"/>

                </div>
                <div class="relative flex justify-center w-full mb-4">
                    <button type="submit" v-on:click="siguiente" :class="{'pointer-events-none opacity-50':disableNextButton}" class="appearance-none relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md bg-gray-400 border border-solid border-gray-400 color-white--bk cursor-pointer hover:bg-white hover:border-blue-400 hover:text-blue-400 lg:text-lg md:text-base sm:text-sm ">
                        <span class="rob-bold">SIGUIENTE</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>

export default {
    props:['pago', 'pedido'],
    data(){
        return {
            domicilio_tarjeta: {
                calle: {valor: '', error: false},
                cp: {valor: '', error: false},
                colonia: {valor: '', error: false},
                estado: {valor: '', error: false},
                municipio: {valor: '', error: false}
            }
        }
    },
    computed: {
        disableNextButton() {
            return !(
                this.domicilio_tarjeta.calle.error == false && this.domicilio_tarjeta.calle.valor != '' &&
                this.domicilio_tarjeta.cp.error == false && this.domicilio_tarjeta.cp.valor != '' &&
                this.domicilio_tarjeta.colonia.error == false && this.domicilio_tarjeta.colonia.valor != '' &&
                this.domicilio_tarjeta.estado.error==false && typeof(this.domicilio_tarjeta.estado.valor) != 'undefined' &&
                this.domicilio_tarjeta.municipio.error==false &&  typeof(this.domicilio_tarjeta.municipio.valor) != 'undefined'
                )
        }
    },
    methods: {
        seleccionarEstado(estado) {
            console.log('SeleccionarEstado:', estado)
            this.domicilio_tarjeta.estado = estado
        },
        seleccionarMunicipio(municipio) {
            console.log('SeleccionarMunicipio:', municipio)
            this.domicilio_tarjeta.municipio = municipio
        },
        siguiente() {
            this.$emit('message', 'domicilio_tarjeta', this.domicilio_tarjeta)
            this.$emit('navegacion', 8)
        },
        anterior() {
            this.$emit('navegacion', 6)
        }
    }
}
</script>
