<template>
<div class="box-border flex flex-row items-start justify-center w-full h-full py-1">
    <div class="flex flex-col items-center justify-around w-4/12 h-full">
        <div><img src="/assets/img/svg/emvco_logo.png" alt="pago1" class="object-contain w-52 h-28 opacity-70"/></div>
        <div><img src="/assets/img/svg/sello_logo.png" class="object-contain w-52 h-28 opacity-70"/></div>
        <div><img src="/assets/img/svg/pci-standard.png" class="object-contain w-52 h-28 opacity-70"/></div>
        <div><img src="/assets/img/svg/openpay.png" class="object-contain w-52 h-28 opacity-70"/></div>
    </div>

    <div class="flex flex-col items-center w-1/2 h-auto h-full py-6 border border-gray-500 shadow rounded-xl">
        <span class="content-end w-full mt-5 mb-5 mr-10 text-right font-rob-light text-grayBT">
            5 - 5
        </span>

        <div id="netpay-form"></div>
        <div class="relative flex justify-center w-full mt-10">
            <div v-on:click="paginaAnterior()" class="appearance-none relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md color-gray--bk border border-solid border-gray-400 cursor-pointer hover:bg-white hover:border-blue-400 hover:text-blue-400 lg:text-lg md:text-base sm:text-sm">
                <span class="rob-bold">REGRESAR</span>
            </div>
        </div>
    </div>

    <div class="flex flex-col items-center justify-around w-4/12 h-full">
        <div><img src="/assets/img/svg/Logobm.svg.png" class="object-contain w-52 h-28 opacity-70"/></div>
        <div><img src="/assets/img/svg/Mastercard-logo.png" alt="pago1" class="object-contain w-52 h-28 opacity-70"/></div>
        <div><img src="/assets/img/svg/Visa_Logo.png" class="object-contain w-52 h-28 opacity-70"/></div>
        <div><img src="/assets/img/svg/bbva.png" class="object-contain w-52 h-28 opacity-70"/></div>
    </div>
</div>
</template>

<script>
import Swal from 'sweetalert2';
const axios = require('axios').default
export default {
    props:['pago', 'pedido'],
    data() {
        return {

        }
    },
    methods: {
        paginaAnterior() {
            this.$emit('navegacion', 6)
        },
        enviarPago() {

            var dtoPago = {
                contacto: {
                    nombre: this.pago.contacto.nombre.valor,
                    apellidos: this.pago.contacto.apellidos.valor,
                    celular: this.pago.contacto.celular.valor,
                    correo: this.pago.contacto.correo.valor,
                },
                tipo_entrega: this.pago.tipo_entrega,
                id_direccion_envio: this.pago.entrega.id,
                facturacion_requerida: this.pago.solicitar_factura.valor == 1,
                terminos_aceptados: this.pago.metodo_pago.privacidad,
                forma_pago: this.pago.metodo_pago.forma.valor,
                metodo_pago: this.pago.metodo_pago.metodo.valor,
                meses: 0 + this.pago.metodo_pago.forma.meses,
                direccion: {
                    calle: this.pago.entrega.calle,
                    no_exterior: this.pago.entrega.no_exterior,
                    no_interior: this.pago.entrega.no_interior,
                    colonia: this.pago.entrega.colonia,
                    cp: this.pago.entrega.cp,
                    referencia: this.pago.entrega.referencia,

                },
                tarjeta: {
                    token: this.pago.netpay.token,
                    lastFourDigits: this.pago.netpay.lastFourDigits,
                    brand: this.pago.netpay.brand,
                    bank: this.pago.netpay.bank,
                    type: this.pago.netpay.type,
                    country: this.pago.netpay.country,
                    scheme: this.pago.netpay.scheme,
                    cardPrefix: this.pago.netpay.cardPrefix,
                    direccion: {
                        calle: this.pago.domicilio_tarjeta.calle.valor,
                        cp: this.pago.domicilio_tarjeta.cp.valor,
                        colonia: this.pago.domicilio_tarjeta.colonia.valor,
                        estado: this.pago.domicilio_tarjeta.estado.estado.nombre,
                        municipio: this.pago.domicilio_tarjeta.municipio.municipio.nombre
                    }
                }
            }

            if(this.pago.tipo_entrega == 2) {
                dtoPago['direccion']['estado_id'] = this.pago.entrega.estado_id
                dtoPago['direccion']['municipio_id'] = this.pago.entrega.municipio_id
                dtoPago['direccion']['estado'] = this.pago.entrega.estado,
                dtoPago['direccion']['municipio'] = this.pago.entrega.municipio
            }else{
                dtoPago['direccion']['estado'] = this.pago.entrega.estado.nombre,
                dtoPago['direccion']['municipio'] = this.pago.entrega.municipio.nombre
            }

            if(this.pago.solicitar_factura.valor == 1) {
                let ni;
                if(typeof(this.pago.datos_facturacion.num_interior.valor) === 'undefined'){
                    ni = null
                }else{
                    ni = this.pago.datos_facturacion.num_interior.valor
                }
                dtoPago['facturacion'] = {
                    razon_social: this.pago.datos_facturacion.razon_social.valor,
                    rfc: this.pago.datos_facturacion.rfc.valor,
                    correo: this.pago.datos_facturacion.correo.valor,
                    cp: this.pago.datos_facturacion.cp.valor,
                    id_cfdi: this.pago.datos_facturacion.cfdi.valor.id,
                    cfdi: this.pago.datos_facturacion.cfdi.valor.codigo,
                    regimen_fiscal: this.pago.datos_facturacion.regimen_fiscal.valor,
                    calle: this.pago.datos_facturacion.calle.valor,
                    num_exterior: this.pago.datos_facturacion.num_exterior.valor,
                    num_interior: ni,
                    colonia: this.pago.datos_facturacion.colonia.valor,
                    municipio: this.pago.datos_facturacion.municipio.valor,
                    estado: this.pago.datos_facturacion.estado.valor
                };
            }

            Swal.showLoading()
            axios.post('/api_web/pedido/' + this.pedido.id + '/pagarNetpay', dtoPago)
                .then(result => {
                    Swal.close()
                    // Comprobamos si es necesario usar 3DS o notificar que terminó el proceso
                    if(typeof(result.data.data.action) != 'undefined') {
                        // 3DS
                        document.location.href = result.data.data.returnUrl
                    }else{
                        if(typeof(result.data.success) == 'undefined') {
                            Swal.fire({
                                title: 'Error',
                                text: 'No se puede procesar el resultado, reintente más tarde',
                                icon: 'error'
                            })
                        }else{
                            if(result.data.success) {
                                this.$emit('navegacion', 10)
                                this.$emit('message', 'success', result.data.data)
                            }else{
                                console.log('Pagar pedido Fail', result.data)
                                this.$emit('message', 'error', result.data.message)
                                this.$emit('navegacion', 11)
                            }
                        }
                    }
                }, error => {
                    Swal.close()
                    console.log('Pagar pedido Error', error.response.data)
                    this.$emit('message', 'error', error.response.data.message)
                    this.$emit('navegacion', 11)
                })
        }
    },
    mounted() {
        NetPay.form.generate("netpay-form", (success) => {
            console.log("Token created successfully");
            console.log(success);

            this.$emit('message', 'netpay', JSON.parse(success.message.data))
            this.$emit('message', 'netpay_raw', success.message.data)

            this.enviarPago()
        }, (error) => {
            console.log(error);
            this.$emit('message', 'error', error)
            this.$emit('navegacion', 11)
        }, { title: "Pago con tarjeta", submitText: "Pagar" })
    }
}
</script>
