<template>
<div class="flex flex-col items-center w-full h-auto p-6 border border-gray-500 shadow md:w-8/12 lg:w-6/12 rounded-xl print:p-0 print:border-0 print:w-full print:border-transparent">
    <div class="flex flex-wrap w-4/5 mt-10 place-content-between print:hidden">
        <h2 class="rob-bold text-blueBT text-greenBT">Referencia de pago</h2>
        <div><span class="font-rob-light text-grayBT">5 - 5</span></div>
    </div>

    <div class="w-full my-16 border rounded-lg border-color-gray--BK print:my-0" id="print">
        <div class="flex flex-col items-center w-full p-8 text-base break-words">
            <img class="w-36" v-bind:src="pago.colegio.logo">
            <div class="flex justify-between w-full color-gray--bk mt-5 py-1.5 border-b border-gray-300">
                <span>FECHA LÍMITE DE PAGO:</span>
                <b>{{ referencia.fecha_limite }}</b>
            </div>
            <div class="w-full py-3 uppercase border-b border-gray-300 color-gray--bk">
                <p>
                    <b>NOMBRE:</b>
                    <span>{{ referencia.nombre }}</span>
                </p>
            </div>
            <div class="flex flex-col items-center w-full py-3 text-center border-b border-gray-300">
                <b class="text-base color-gray--bk">{{ referencia.codigo_producto }}</b>
                <b class="text-xl">${{ referencia.monto }} MXN</b>
                <span class="text-xs leading-5">({{ referencia.monto_letra }})</span>
            </div>
            <div class="w-full py-3 border-b border-gray-300 color-gray--bk">
                <img src="/images/comercios_participantes_7.png" alt="Comercios participantes"/>
            </div>
            <div class="flex flex-col items-center w-full py-3 text-center border-b border-gray-300 color-gray--bk">
                <span>REFERENCIA:</span>
                <b class="text-xl">{{ referencia.referencia_tienda }}</b>
            </div>
            <div class="w-full py-3 text-xs color-gray--bk">
                <ul class="list-outside list-line">
                    <li>1- Acude al comercio de tu preferencia y solicita realizar un <b>"pago de servicios"</b>.</li>
                    <li>2- Solicita al cajero que elija “pago de servicios por Banco” seleccionando <b>BANORTE</b>.</li>
                    <li>3- Dicta tu número de referencia (<b>19 dígitos</b>).</li>
                    <li>4- Te solicitarán ingresar el número de facturador o número de empresa, proporciona el número <b>002452</b> de NetPay (6 dígitos Farmacias del Ahorro) y <b>2452</b> de NetPay (4 dígitos en 7 Eleven)</li>
                    <li>5- Indicar nuevamente el número de referencia (<b>19 dígitos</b>).</li>
                    <li>6- Indica el monto a pagar en efectivo. *</li>
                    <li>7- Al confirmar el pago el cajero te entregará un comprobante impreso, verifícalo y consérvalo para cualquier aclaración y para la entrega de tus libros. **</li>
                </ul>
                <p>
                    <span class="text-blueBT">Te hemos enviado una copia de esta información a tu correo.</span><br>
                    <span><span class="text-blueBT">*</span> Se te cobrará una comisión establecida en el comercio.</span><br>
                    <span><span class="text-blueBT">**</span> Al pagar en el comercio autorizado, el pago se verá reflejado en un tiempo estimado de 24 horas.</span>
                </p>
            </div>
            <div class="flex flex-col items-center w-full text-center pt-7 boton_imprimir print:hidden">
                <!-- <a v-print="'#print'" v-on:click="print" class="flex items-center justify-center w-40 h-12 text-xl text-white border border-gray-200 rounded-md cursor-pointer background-green--bk hover:bg-gray-400 hover:text-white hover:no-underline"><b>IMPRIMIR</b></a> -->
                <a v-on:click="print" class="flex items-center justify-center w-40 h-12 text-xl text-white border border-gray-200 rounded-md cursor-pointer background-green--bk hover:bg-gray-400 hover:text-white hover:no-underline"><b>IMPRIMIR</b></a>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import print from 'vue-print-nb'
const axios = require('axios').default
import Swal from 'sweetalert2';

export default {
    props:['pago', 'pedido'],
    components: {
    },
    directives: {
        print
    },
    data() {
        return {
            referencia: {
                fecha_limite: '--/--/----',
                nombre: '----',
                monto: 0.00,
                monto_letra: 'Calculando...',
                nombre_cuenta: 'COLEGIO DEMO S.A. DE C.V.',
                nombre_banco: 'BBVA BANCOMER',
                numero_cuenta: '123 456 7890',
                clabe: '1234 5678 1234 567890',
                referencia_interbancaria: '3584216987642200528',
                codigo_producto: '-----'
            }
        }
    },
    methods: {
        print() {
            window.print()
        }
    },
    mounted() {
        var dtoPago = {
                contacto: {
                    nombre: this.pago.contacto.nombre.valor,
                    apellidos: this.pago.contacto.apellidos.valor,
                    celular: this.pago.contacto.celular.valor,
                    correo:   this.pago.contacto.correo.valor
                },
                tipo_entrega: this.pago.tipo_entrega,
                id_direccion_envio: this.pago.entrega.id,
                facturacion_requerida: this.pago.solicitar_factura.valor == 1,
                terminos_aceptados: this.pago.metodo_pago.privacidad,
                forma_pago: this.pago.metodo_pago.forma.valor,
                metodo_pago: this.pago.metodo_pago.metodo.valor,
                meses: 0 + this.pago.metodo_pago.forma.meses,
                direccion: {
                    calle: this.pago.entrega.calle,
                    no_exterior: this.pago.entrega.no_exterior,
                    no_interior: this.pago.entrega.no_interior,
                    colonia: this.pago.entrega.colonia,
                    cp: this.pago.entrega.cp,
                    referencia: this.pago.entrega.referencia,

                }
            }

            if(this.pago.tipo_entrega == 2) {
                dtoPago['direccion']['estado_id'] = this.pago.entrega.estado_id
                dtoPago['direccion']['municipio_id'] = this.pago.entrega.municipio_id
                dtoPago['direccion']['estado'] = this.pago.entrega.estado,
                dtoPago['direccion']['municipio'] = this.pago.entrega.municipio
            }else{
                dtoPago['direccion']['estado'] = this.pago.entrega.estado.nombre,
                dtoPago['direccion']['municipio'] = this.pago.entrega.municipio.nombre
            }

            if(this.pago.solicitar_factura.valor == 1) {

                console.log("df: ", this.pago.datos_facturacion)
                let ni;
                if(typeof(this.pago.datos_facturacion.num_interior.valor) === 'undefined'){
                    ni = null
                }else{
                    ni = this.pago.datos_facturacion.num_interior.valor
                }
                dtoPago['facturacion'] = {
                    razon_social: this.pago.datos_facturacion.razon_social.valor,
                    rfc: this.pago.datos_facturacion.rfc.valor,
                    correo: this.pago.datos_facturacion.correo.valor,
                    cp: this.pago.datos_facturacion.cp.valor,
                    id_cfdi: this.pago.datos_facturacion.cfdi.valor.id,
                    cfdi: this.pago.datos_facturacion.cfdi.valor.codigo,
                    regimen_fiscal: this.pago.datos_facturacion.regimen_fiscal.valor,
                    calle: this.pago.datos_facturacion.calle.valor,
                    num_exterior: this.pago.datos_facturacion.num_exterior.valor,
                    num_interior: ni,
                    colonia: this.pago.datos_facturacion.colonia.valor,
                    municipio: this.pago.datos_facturacion.municipio.valor,
                    estado: this.pago.datos_facturacion.estado.valor
                };
            }
        Swal.fire({
            allowOutsideClick: false
        })

        Swal.showLoading()

        // axios.post('/api_web/pedido/' + this.pedido.id + '/pagar', dtoPago)
        axios.post('/api_web/pedido/' + this.pedido.id + '/pagarNetpay', dtoPago)
        .then(response => {
            this.referencia = response.data.data
            Swal.close()
        }, fail => {
            Swal.close()
            Swal.fire({
                icon: 'error',
                text: typeof(fail.response.data.message) != 'undefined'? fail.response.data.message: 'Ocurrió un error, intente de nuevo más tarde.',
                footer: 'Contacte al administrador si el problema persiste.',
                confirmButtonText: 'Cerrar',
            })
        })
    }
}
</script>
