<template>
    <!-- <div class="flex flex-col h-screen justify-around items-center w-4/12"></div> -->
    <div class="flex flex-col lg:w-4/12 w-full items-center shadow rounded-xl border h-auto border-gray-500 py-6">
        <div class="flex flex-wrap w-full md:w-4/5 px-3 md:px-0 mt-0 md:mt-10 place-content-between">
            <h2 class="font-rob-bold text-greenBT uppercase">Datos de contacto</h2>
            <div><span class="font-rob-light text-grayBT">1 - 2</span></div>
        </div>

        <div class="flex justify-around w-full mt-12 h-auto">
            <div class="mb-6 w-full md:w-4/5 px-3 md:px-0 h-auto relative flex flex-col">
            <!-- <form class="mb-6 w-4/5" action="/" method="post"> -->
                <input-texto placeHolder="NOMBRE *"     reg="1" v-model="usuario.nombre"/>
                <input-texto placeHolder="APELLIDOS *"  reg="1" v-model="usuario.apellidos"/>
                <input-texto placeHolder="CELULAR *"    reg="2" v-model="usuario.celular"/>
                <input-texto placeHolder="CORREO *"     reg="7" v-model="usuario.correo"/>

                <div class="flex flex-col mb-4  w-full text-right h-5 relative">
                    <span class="rob-light color-gray--bk">*Campos son obligatorios</span>
                </div>
                <!-- Botones -->
                <div class="w-full relative h-1/3 flex flex-wrap content-end mb-4 mt-auto">

                    <div class="w-full flex justify-center relative">
                        <button v-on:click="paginaSiguiente()" :class="{'pointer-events-none opacity-50': disableNext}"  type="submit" class="appearance-none  relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md bg-gray-400 border border-solid border-gray-400 color-white--bk cursor-pointer hover:bg-white hover:border-blueBT hover:text-blueBT lg:text-lg md:text-base sm:text-sm ">
                            <span class="rob-bold">SIGUIENTE</span>
                        </button>
                    </div>

                    <div class="w-full flex justify-center relative">
                        <div v-on:click="regresar()" class="appearance-none relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md color-gray--bk border border-solid border-gray-400 cursor-pointer hover:bg-white hover:border-blueBT hover:text-blueBT lg:text-lg md:text-base sm:text-sm">
                            <span class="rob-bold">REGRESAR</span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</template>
<script>

import Swal from 'sweetalert2';
import inputTexto from '../inputTexto.vue';

const axios = require('axios').default

export default{
    props:['pago', 'pedido'],
    components:{
        inputTexto
    },
    data(){
        return{
            usuario: {
                nombre: {
                    valor: '',
                    error: false,
                },
                apellidos: {
                    valor: '',
                    error: false,
                },
                celular: {
                    valor: '',
                    error: false,
                },
                correo: {
                    valor: '',
                    error: false,
                },
            }
        }
    },
    computed: {
        // EVALUACION DE ERRORES
        disableNext() {
            return ! (this.usuario.nombre.error == false &&
                this.usuario.apellidos.error == false &&
                this.usuario.celular.error == false &&
                this.usuario.correo.error == false &&
                this.usuario.nombre.valor != '' &&
                this.usuario.apellidos.valor != '' &&
                this.usuario.correo.valor != ''
                )
        }
    },
    methods:{
        paginaSiguiente(){
            this.$emit('message', 'contacto', this.usuario )
            this.$emit('navegacion', 2)
        },

        regresar() {
            this.$emit('navegacion', 0)
        }
    },

    mounted() {
        if(typeof(this.pedido) != 'undefined') {
            Swal.showLoading()
            axios.get('/api_web/usuario/' + this.pedido.usuario_id + '/datos-ultimo-pedido').then(response => {
                Swal.close();
                this.usuario = {
                    nombre:{
                        error:false,
                        valor: response.data.data.contacto.nombre == null?'':response.data.data.contacto.nombre.trim(),
                        reg:"1"
                    },apellidos:{
                        error:false,
                        valor: response.data.data.contacto.apellidos == null?'':response.data.data.contacto.apellidos.trim(),
                        reg:"1"
                    },
                    celular:{
                        error:false,
                        valor: response.data.data.contacto.celular == null?'':response.data.data.contacto.celular.trim(),
                        reg:"2"
                    },
                    correo:{
                        error:false,
                        valor: response.data.data.contacto.correo == null?'':response.data.data.contacto.correo.trim(),
                        reg:"2"
                    },
                }

            }, fail => {
                Swal.close()
                Swal.fire({
                    icon: 'error',
                    text: typeof(fail.response.data.message) != 'undefined'? fail.response.data.message: 'Ocurrió un error, intente de nuevo más tarde.',
                    footer: 'Contacte al administrador si el problema persiste.',
                    confirmButtonText: 'Cerrar',
                })
            })
        }
    },
}
</script>
