<template>
<div class="flex flex-col items-center w-full h-auto py-6 border border-gray-400 shadow lg:w-4/12 rounded-xl">
    <div class="flex flex-wrap w-full px-3 mt-0 md:w-4/5 md:px-0 md:mt-10 place-content-between">
        <h2 class="uppercase font-rob-bold text-blueBT">pago</h2>
        <div><span class="font-rob-light text-grayBT">2 - 2</span></div>
    </div>
    <div class="relative flex justify-around w-full h-auto mt-12">
        <div class="relative flex flex-col w-full h-auto px-3 mb-6 md:w-4/5 md:px-0">
            <div class="relative flex flex-col mb-4">
                <label class="mb-2 text-left uppercase text-grayBT font-rob-light">METODO DE PAGO *</label>
                <select class="block w-full px-4 py-0 pr-8 border rounded appearance-none bg-grey-lighter border-grey-lighter text-grey-darker h-11" v-model="metodo_pago.metodo">
                    <option selected value="">Seleccione una opción</option>
                    <option v-for="metodo_pago in metodosPago" :value="metodo_pago" :key="metodo_pago.id">{{ metodo_pago.nombre }}</option>
                </select>

                <div class="flex flex-col my-4">
                    <label for="first_name" class="mb-2 text-left uppercase text-grayBT font-rob-light">REFERENCIA</label>
                    <input type="text" v-model="metodo_pago.referencia" class="px-3 py-2 border rounded-md text-grey-darkest font-rob-light h-11">
                </div>

                <div class="flex flex-col my-4">
                    <label for="first_name" class="mb-2 text-left uppercase text-grayBT font-rob-light">CUPÓN DE DESCUENTO</label>
                    <div class="w-full flex justify-between items-center my-1.5">
                        <input type="text" v-model="codigo_cupon" class="w-2/3 px-3 py-2 mr-2 border rounded-md text-grey-darkest font-rob-light h-11">
                        <button v-on:click="canjearCupon" class="relative w-1/3 px-3 py-1 ml-2 text-center border border-gray-400 border-solid rounded-md appearance-none cursor-pointer h-11 color-gray--bk hover:bg-white hover:border-blue-400 hover:text-blue-400 lg:text-lg md:text-base sm:text-sm">CANJEAR</button>
                    </div>
                </div>

                <div class="absolute right-0 flex items-center px-2 pointer-events-none top-12 text-grey-darker">
                <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                </div>
            </div>
            <br>
            <div class="flex items-center justify-end w-fu">
                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" v-model="metodo_pago.privacidad" class="w-5 h-5 transition duration-100 ease-in-out border-2 border-gray-400 rounded shadow-md form-checkbox text-blueBT focus:border-blue-500 focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50 focus:ring-offset-0 disabled:opacity-50 disabled:cursor-not-allowed">
                    <span class="h-5 h-auto my-auto ml-2 text-gray-700 uppercase"><small class="text-xs text-grayBT font-rob-light">He leído y acepto las <a class="text-blueBT" target="__blank" href="/politicas">políticas de compra </a> y <a class="text-blueBT" target="__blank" href="/aviso-de-privacidad">aviso de privacidad</a></small></span>
                </label>
            </div>
            <div class="flex flex-row mt-4">
                <div class="box-border flex flex-col pr-3 text-right" >
                    <span class="mb-3 text-grayBT font-rob-bold">SUBTOTAL</span>
                    <span class="mb-3 text-grayBT font-rob-bold">COMISIÓN DE PAGO</span>
                    <span class="mb-3 text-grayBT font-rob-bold">DESCUENTO</span>
                    <span class="mb-3 text-grayBT font-rob-bold">TOTAL</span>
                </div>
                <div class="box-border flex flex-col pl-3 text-right">
                    <span class="mb-3 text-greenBT font-rob-regularBT">${{ pedido.subtotal.toFixed(2) }} MXN</span>
                    <span class="mb-3 text-greenBT font-rob-regularBT">${{ calculo_comision.toFixed(2) }} MXN</span>
                    <span class="mb-3 text-greenBT font-rob-regularBT">${{ total_descuento.toFixed(2) }} MXN</span>
                    <span class="mb-3 text-greenBT font-rob-regularBT">${{ total.toFixed(2) }} MXN</span>
                </div>
            </div>

            <!-- Botones -->
            <div class="relative flex flex-wrap content-end w-full h-auto mt-auto">
                <div class="relative flex justify-center w-full">
                    <button v-on:click="registrarPago()" :class="{'pointer-events-none opacity-50': disableNextButton}" class="appearance-none relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md bg-greenBT border border-solid border-gray-400 color-white--bk cursor-pointer hover:bg-white hover:border-greenBT hover:text-greenBT lg:text-lg md:text-base sm:text-sm ">
                        <span class="rob-bold">PAGAR</span>
                    </button>
                </div>

                <div class="relative flex justify-center w-full">
                    <div v-on:click="paginaAnterior()" class="appearance-none relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md color-gray--bk border border-solid border-gray-400 cursor-pointer hover:bg-white hover:border-blue-400 hover:text-blue-400 lg:text-lg md:text-base sm:text-sm">
                        <span class="rob-bold">REGRESAR</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
const axios = require('axios').default

export default{
    props:['pago', 'pedido'],
    data() {
        return{
            descuento: 0,
            metodos_pago: [],
            metodo_pago: {
                metodo: undefined,
                referencia: '',
                privacidad: false
            },
            codigo_cupon: ''
        }
    },
    computed: {
        metodosPago() {
            if(this.metodos_pago.length > 0)
                return this.metodos_pago.filter(item => {
                    return (item.formas_pago[0].minimo < this.pedido.subtotal)
                })
            return []
        },
        total_descuento() {
            return (0 + this.pedido.subtotal + this.calculo_comision) * this.descuento / 100;
        },
        calculo_comision() {
            if (typeof(this.metodo_pago.metodo) == 'undefined')
                return 0

            if (typeof(this.metodo_pago.metodo.formas_pago) == 'undefined')
                return 0

            return (this.metodo_pago.metodo.formas_pago[0].comision / 100) * this.pedido.subtotal
        },
        total() {
            var total = 0 + this.pedido.subtotal + this.calculo_comision
            total = total - (this.descuento / 100 * total)
            return total
        },
        disableNextButton() {

            var check_metodo = typeof(this.metodo_pago.metodo) == 'undefined'
            var check_referencia = typeof(this.metodo_pago.referencia) == 'undefined' || this.metodo_pago.referencia == ""

            return check_metodo || this.metodo_pago.privacidad == false
            // return check_metodo || check_referencia || this.metodo_pago.privacidad == false
        }
    },
    mounted() {
        Swal.showLoading()
        axios.get('/api_web/colegios/' + this.pago.colegio.id + '/configuracion_venta_movil')
        .then(res => {
            Swal.close()
            this.metodos_pago = res.data.data.metodos_pago
        })
        .catch(fail => {
            Swal.close()
            Swal.fire({
                icon: 'error',
                text: typeof(fail.response.data.message) != 'undefined'? fail.response.data.message: 'Ocurrió un error, intente de nuevo más tarde.',
                footer: 'Contacte al administrador si el problema persiste.',
                confirmButtonText: 'Cerrar',
            })
        })
    },
    methods:{
        registrarPago(){
            Swal.showLoading()
            this.$emit('message', 'metodo_pago', this.metodo_pago)

            axios.post('/api_web/colegios/venta_movil/pagar', {
                'colegio_id'       : this.pago.colegio.id,
                'metodo_pago_id'   : this.metodo_pago.metodo.id,
                'forma_pago_id'    : this.metodo_pago.metodo.formas_pago[0].id,
                'pedido_id'        : this.pedido.id,
                'referencia'       : this.metodo_pago.referencia,
                'privacidad'       : this.metodo_pago.privacidad,
                'codigo_cupon'     : this.codigo_cupon,
                'cliente'    : {
                    'nombre'    : this.pago.contacto.nombre.valor,
                    'apellidos' : this.pago.contacto.apellidos.valor,
                    'celular'   : this.pago.contacto.celular.valor,
                    'correo'    : this.pago.contacto.correo.valor,
                }
            }).then(response => {
                Swal.close()
                this.$emit('navegacion', 3)
            }).catch(fail => {
                var errores = '';

                for(var i in fail.response.data.errors) {
                    errores += fail.response.data.errors[i].join(', ')
                }

                Swal.close()
                Swal.fire({
                    icon: 'error',
                    text: typeof(fail.response.data.errors) != 'undefined'? errores : 'Ocurrió un error, intente de nuevo más tarde.',
                    footer: 'Contacte al administrador si el problema persiste.',
                    confirmButtonText: 'Cerrar',
                })
            })
        },

        paginaAnterior(){
             this.$emit('navegacion', 1)
        },
        canjearCupon() {
            Swal.showLoading()
            axios.post('/api_web/cupones/canjear', {
                'codigo': this.codigo_cupon
            }).then(response => {
                Swal.close()
                this.descuento = response.data.data.valor
            }).catch(fail => {
                Swal.close()
                Swal.fire({
                    icon: 'error',
                    text: typeof(fail.response.data.message) != 'undefined'? fail.response.data.message: 'Ocurrió un error, intente de nuevo más tarde.',
                    footer: 'Contacte al administrador si el problema persiste.',
                    confirmButtonText: 'Cerrar',
                })
            })
        },
        togglePrivacidad() {
            if(typeof(this.pago.privacidad) == 'undefined')
                this.pago.privacidad = false

            this.pago.privacidad = !this.pago.privacidad
        }
    }
}
</script>
