<template>

<div class="flex flex-col items-center p-4 relative w-full h-full justify-center items-center">
        <div v-if="resultados.mensaje == undefined" class="relative w-full h-full flex flex-row">
            <!-- Parte izq -->
            <div class="relative w-1/2 h-full justify-center flex">
                <img src="/assets/img/svg/colegios/libros.svg" alt="" class="w-1/2">
            </div>
            <!-- División -->
            <div class="border-r border-color-gray--BK separacion h-full relative"></div>
            <!-- Parte derecha -->
            <div class="relative w-1/2 h-full justify-center items-center flex flex-col">
                <label for="archivos_subir" class="text-center inline-block w-3/4 mt-5 color-gray--bk border border-gray-200 rounded-md background-white--bk p-3 hover:bg-gray-400 hover:text-white cursor-pointer">ADJUNTAR ARCHIVOS</label>
                <input type="hidden" name="_token" v-bind:value="csrf"/>
                <input @change="verArchivos" id="archivos_subir" name="archivos[]" multiple="multiple" type="file" class="hidden" :key="fileInputKey" accept=".xlsx" capture="camera">
                <div class="w-3/4 text-center p-2 px-6 color-gray--bk border border-gray-200 bg-gray-200 rounded-md mt-3 relative flex justify-center flex-col" v-if="archivos.length > 0">
                    <div v-on:click="clearFiles()" class="w-6 h-6 absolute top-1 right-1 rounded-full border border-gray-500 bg-white cursor-pointer" title="Borrar archivos">
                        <div class="w-9/12 h-0.5 bg-gray-500 absolute m-auto top-0 bottom-0 left-0 right-0 transform rotate-45"></div>
                        <div class="w-9/12 h-0.5 bg-gray-500 absolute m-auto top-0 bottom-0 left-0 right-0 transform -rotate-45"></div>
                    </div>
                    <div v-for="archivo in archivos" v-bind:key="archivo.name" class="block relative w-auto bg-gray-100 my-1 cursor-default rounded-xl p-1" :title="'Tamaño: ' + (Math.trunc(archivo.size / 1024) > 1024? (Math.trunc(archivo.size / 1024) / 1024).toFixed(2) + ' MB' : Math.trunc(archivo.size / 1024) + ' KB')">{{ archivo.name }}</div>
                </div>
                <div class="w-full py-8">
                    <ul>
                        <li v-for="error in errores" v-bind:key="error" class="px-4 text-center color-red--bk">
                            {{ error }}
                        </li>
                    </ul>
                </div>
                <div class="flex justify-around w-full relative">
                    <button v-on:click="enviar()" class="w-1/4 roboto-bold py-2 px-4 rounded background-green--bk text-white hover:bg-white hover:border-color-green--BK hover:color-green--bk lg:text-lg md:text-base sm:text-sm border border-solid">
                    ACEPTAR
                    </button>
                </div>
            </div>
        </div>
        <div v-else class="w-full h-5/6 relative">

            <table class="relative w-full text-center color-gray--bk espacio_tablas mb-8">
                <thead class="border-b border-t border-color-gray--BK h-12">
                    <tr>
                        <th>Activo</th>
                        <th>Nombre</th>
                        <!-- <th>Edicion</th>
                        <th>Editorial</th> -->
                        <th>ISBN</th>
                        <th>Mensaje</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="h-16" v-for="libro in resultados.libros" :key="libro.id">
                        <td v-if="libro.activo">Activo</td>
                        <td v-else>Inactivo</td>
                        <td>{{libro.nombre }}</td>
                        <!-- <td>{{libro.edicion}}</td>
                        <td>{{libro.editorial}}</td> -->
                        <td>{{libro.isbn}}</td>
                        <td v-if="libro.error==1" class="color-red--bk font-bold">{{libro.message}}</td>
                        <td v-else>{{libro.message}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="relative w-full flex justify-center mt-6">
            <div class="flex justify-around w-1/4 relative">
                <a href="/admin/libros" class="w-full roboto-bold py-2 px-4 rounded bg-white text-white color-gray--bk border-grayBT hover:border-color-green--BK hover:color-green--bk lg:text-lg md:text-base sm:text-sm border border-solid uppercase flex justify-center items-center">
                Regresar
                </a>
            </div>
        </div>
    </div>

</template>

<script>

    const axios = require('axios').default

    export default {
        props: ['csrf'],
        updated() {
            var table = $('#example2').DataTable();
            table.order( [ 0, 'desc' ] ).draw();
        },
        data() {
            return {
                archivos: [],
                fileInputKey: 0,
                errores: [],
                resultados: {
                    mensaje: undefined
                },
            }
        },
        computed: {
            validar() {
                this.errores = []
                return this.errores.length == 0
            }
        },
        methods: {
            verArchivos: function(evt) {
                this.errores = []
                if (evt.target.files.length > 1) {
                    this.errores.push('No se permite más de 1 archivo')
                } else {
                    console.log(evt.target.files);
                    this.archivos = evt.target.files;
                }
            },
            clearFiles() {
                this.fileInputKey++;
                this.archivos = [];
            },
            enviar(){
                //sube entrada
                if(this.validar){

                    let data = new FormData();
                    data.append('_token', this.csrf);
                    data.append('file', this.archivos[0]);
                    data.append('preview', true);

                    axios.post("import/catalogo_libros", data).then((result) => {
                        // console.log(result);
                        this.resultados.libros = result.data.libros;
                        this.resultados.mensaje = "Datos obtenidos"
                        console.log(this.resultados.libros);
                    }, (fail) => {
                        this.resultados.mensaje = "Error al cargar los archivos"
                    });
                }


            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace(',', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
        }
    }

</script>
