<template>
<div class="flex flex-col p-4 relative w-full h-interno border rounded-lg border-color-gray--BK">
    <span class="font-rob-bold text-greenBT text-xl p-6 uppercase">Impresion de pedidos</span>
    <div class="relative w-full h-full flex flex-row">
        <div class="relative w-1/2 h-full flex items-center justify-center border-r border-color-gray--BK">
            <img src="/assets/img/svg/documento.svg" alt="" class="relative w-1/4">
        </div>
        <div class="relative w-1/2 h-full flex justify-center items-center">
            <form method="GET" action="/print/diario_pedidos" class="w-2/3 h-auto justify-center items-center relative flex flex-col">
                <!-- <span class="font-rob-light color-gray--bk uppercase relative w-1/2">FECHA</span> -->
                <input @mouseover="datePicker" id="inicio" name="date" placeholder="FECHA INICIAL" class="relative w-1/2 m-4 p-2 border color-gray--bk" type="text" v-model="fecha">
                <!-- <input type="hidden" name="_token" :value="csrf"> -->
                <div class="relative w-1/2 flex justify-center mt-4">
                    <button type="submit" class="w-full bg-greenBT uppercase rounded-sm text-center p-2 font-bold text-white cursor-pointer">
                        Imprimir reporte
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>




</template>

<script>

    const axios = require('axios').default

    export default {
        // props: ['csrf'],
        data() {
            return{
                fecha:undefined
            }
        },
        computed: {
        },
        mounted() {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();
            today = yyyy + '-' + mm + '-' + dd;
            this.fecha = today;
        },
        methods: {
            datePicker(){
                $("#inicio").datepicker({ dateFormat: 'yy-mm-dd' });

            },
            // imprimir(){
            //     axios.post("/print/diario_pedidos", {
            //         date: this.fecha
            //     }).then(response => {
            //     console.log(response);
            //     }, fail => {
            //         console.log(fail)
            //     })
            // }
        }
    }

</script>
