<template>

<!-- Div padre -->
    <div class="relative flex flex-col justify-center w-full h-auto border rounded-md min-h-interno border-color-gray--BK">
        <div class="relative flex flex-col justify-center w-full h-interno">
            <div class="relative flex flex-row justify-center w-full h-full">
                <div class="relative flex flex-col w-1/2 h-full p-12">
                    <span class="text-xl font-bold uppercase color-green--bk">LOG</span>
                    <div class="relative flex items-end justify-center w-full h-full">
                        <img src="/assets/img/svg/documento.svg" alt="" class="w-1/3 h-5/6">
                    </div>
                </div>
                <div class="border-r border-color-gray--BK separacion mt-14">
                </div>
                <form method="POST" action="/api_web/log/informacion-log" class="relative flex flex-col items-center justify-center w-1/2 h-full p-12">
                    <div class="flex flex-col justify-center w-full h-5/6 align-center xl:w-2/3">
                        <div class="relative flex w-full">
                            <input @mouseover="datePicker" v-model="inicio" name="inicio" id="inicio" placeholder="FECHA INICIAL" class="relative w-1/2 p-2 m-4 border appearance-none color-gray--bk" type="text">
                            <input @mouseover="datePicker" v-model="fin" id="fin" name="fin" placeholder="FECHA FINAL" class="relative w-1/2 p-2 m-4 border appearance-none color-gray--bk" type="text">
                        </div>

                         <div class="relative flex w-full m-2 overflow-hidden border border-gray-200 rounded-md cursor-pointer">
                                <label for="select_motivos" class="cursor-pointer select_motivos"></label>
                                 <select name="usuario" class="p-2 appearance-none color-gray--bk">
                                    <option disabled selected>USUARIO</option>
                                    <option value="0">TODOS LOS USUARIOS</option>
                                    <option v-for="usuario in usuarios" :value="usuario.id" v-bind:key="usuario.id">{{usuario.name}} {{usuario.apellido}}</option>
                                 </select>
                        </div>

                        <input type="hidden" name="_token" :value="csrf">
                        <div class="relative flex justify-center w-full mt-4">
                            <button type="submit" class="w-5/12 p-2 font-bold text-center text-white uppercase rounded-sm appearance-none cursor-pointer enviar-reporte bg-greenBT">
                                ver reporte
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="relative flex items-center justify-center w-full h-1/6">
                <!-- <a href="/reportes" class="relative flex items-center justify-center w-1/6 p-5 uppercase border border-gray-400 rounded-md cursor-pointer h-1/3 color-gray--bk">
                    <div>Regresar</div>
                </a> -->
            </div>
        </div>
    </div>

</template>

<script>

const axios = require('axios').default

    export default {
        props:{
            texto: String,
            csrf: String

        },
        data() {
            return {
                usuarios:undefined,
                inicio:String,
                fin:String

            }
        },mounted() {

            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            today = yyyy + '-' + mm + '-' + dd;
            this.inicio = today;
            this.fin = today;

            $("#inicio").val(today);
            $("#fin").val(today);


                axios.get("/api_web/log", {
                    codigo: this.codigo_colegio
                }).then(response => {
                    this.usuarios = response.data.data;
                    console.log(this.usuarios);
                }, fail => {
                    console.log(fail)
                })

        },
        methods:{
            datePicker(){
                $("#inicio").datepicker({ dateFormat: 'yy-mm-dd' });
                $("#fin").datepicker({ dateFormat: 'yy-mm-dd' });
            }

        }
    }

</script>
