<template>

<div class="relative flex flex-col items-center justify-center w-full h-full p-4">
    <div v-if="resultados.mensaje == undefined" class="relative flex flex-row w-full h-full">
        <div class="relative flex justify-center w-1/2 h-full">
            <img src="/assets/img/svg/documento.svg" alt="" class="w-1/3">
        </div>
        <!-- División -->
        <div class="relative h-full border-r border-color-gray--BK separacion"></div>
        <!-- Parte derecha -->
        <div class="relative flex flex-col items-center justify-center w-1/2 h-full">
            <div class="relative w-3/4 h-12 overflow-hidden border border-gray-200 rounded-md cursor-pointer">
                <label for="paqueteria_id" class="cursor-pointer select_motivos"></label>
                <select v-model="paqueteria_id" id="paqueteria_id" name="paqueteria_id" class="w-full h-full p-2 rounded-md appearance-none cursor-pointer text-grayBT">
                    <option value="null" selected disabled>SELECCIONE LA PAQUETERÍA</option>
                    <option v-for="paqueteria in paqueterias" v-bind:key="paqueteria.id" :value="paqueteria.id" v-on:click="errores = []">{{ paqueteria.nombre }}</option>
                </select>
            </div>
            <label for="archivos_subir" class="inline-block w-3/4 p-3 mt-5 text-center border border-gray-200 rounded-md cursor-pointer color-gray--bk background-white--bk hover:bg-gray-400 hover:text-white">ADJUNTAR ARCHIVOS</label>
            <input type="hidden" name="_token" v-bind:value="csrf"/>
            <input @change="verArchivos" id="archivos_subir" name="archivos[]" multiple="multiple" type="file" class="hidden" :key="fileInputKey" accept=".xlsx, .xlsm, .xlsb, .xltx" capture="camera">
            <div class="relative flex flex-col justify-center w-3/4 p-2 px-6 mt-3 text-center bg-gray-200 border border-gray-200 rounded-md color-gray--bk" v-if="archivos.length > 0">
                <div v-on:click="clearFiles()" class="absolute z-10 w-6 h-6 bg-white border border-gray-500 rounded-full cursor-pointer top-1 right-1" title="Borrar archivos">
                    <div class="w-9/12 h-0.5 bg-gray-500 absolute m-auto top-0 bottom-0 left-0 right-0 transform rotate-45"></div>
                    <div class="w-9/12 h-0.5 bg-gray-500 absolute m-auto top-0 bottom-0 left-0 right-0 transform -rotate-45"></div>
                </div>
                <div v-for="archivo in archivos" v-bind:key="archivo.name" class="relative block w-auto p-1 my-1 bg-gray-100 cursor-default rounded-xl" :title="'Tamaño: ' + (Math.trunc(archivo.size / 1024) > 1024? (Math.trunc(archivo.size / 1024) / 1024).toFixed(2) + ' MB' : Math.trunc(archivo.size / 1024) + ' KB')">{{ archivo.name }}</div>
            </div>
            <div class="w-full py-8">
                <ul>
                    <li v-for="error in errores" v-bind:key="error" class="px-4 text-center color-red--bk">
                        {{ error }}
                    </li>
                </ul>
            </div>
            <div class="relative flex flex-col items-center justify-center w-full">
                <img v-if="btn_desactivado" src="/assets/img/spinner.gif" class="w-1/12" alt="">
                <button v-else v-on:click="enviar()" class="w-1/4 px-4 py-2 text-white border border-solid rounded roboto-bold background-green--bk hover:bg-white hover:border-color-green--BK hover:color-green--bk lg:text-lg md:text-base sm:text-sm">
                ACEPTAR
                </button>
            </div>
        </div>
    </div>
    <div v-else class="relative w-full h-auto">
        <div class="table-responsive">
          <table id="example2" class="relative w-full mb-8 text-center color-gray--bk espacio_tablas" style="width:100%">
        <!-- <table class="relative w-full mb-8 text-center color-gray--bk espacio_tablas"> -->
            <thead class="h-12 border-t border-b border-color-gray--BK">
                <tr>
                    <th>Folio</th>
                    <th>Status</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Celular</th>
                </tr>
            </thead>
            <tbody>
                <tr class="h-16" v-for="(pedido,index) in resultados.pedidos" :key="index">
                    <td v-if="pedido.status == 'UNDEFINED'" class="bg-amarillo">{{pedido.serie + pedido.folio}}</td>
                    <td v-else>{{pedido.serie + pedido.folio}}</td>
                    <td v-if="pedido.status == 'UNDEFINED'" class="bg-amarillo">{{pedido.status}}</td>
                    <td v-else>{{pedido.status}}</td>
                    <td>{{pedido.nombre_contacto}}</td>
                    <td>{{pedido.apellidos_contacto}}</td>
                    <td>{{pedido.celular_contacto}}</td>

                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>

</template>

<style scoped>
.bg-amarillo{
    background-color: yellow !important;
}
.desactivar{
    pointer-events: none;
}
</style>

<script>

    const axios = require('axios').default

    export default {
        props: ['csrf'],
        updated() {
            var table = $('#example2').DataTable();
            table.order( [ 0, 'desc' ] ).draw();
        },
        data() {
            return {
                archivos: [],
                fileInputKey: 0,
                errores: [],
                resultados: {
                    mensaje: undefined
                },
                todos_pagados: true,
                cambio_status: false,
                btn_desactivado: false,
                paqueteria_id: 'null',
                paqueterias: []
            }
        },
        computed: {
            validar() {
                // this.errores = []
                return this.errores.length == 0
            }
        },
        methods: {
            verArchivos: function(evt) {
                this.errores = []
                if (evt.target.files.length > 1) {
                    this.errores.push('No se permite más de 1 archivo')
                } else {
                    console.log(evt.target.files);
                    this.archivos = evt.target.files;
                }
            },
            clearFiles() {
                this.fileInputKey++;
                this.archivos = [];
            },
            enviar(){
                // Verifica que se haya seleccionado
                if(this.paqueteria_id == 'null' || this.archivos[0] == undefined) {
                    this.errores = []
                }
                if(this.paqueteria_id == 'null') {
                    this.errores.push('Debe seleccionar una paquetería')
                }
                if(this.archivos[0] == undefined){
                    this.errores.push('Debe agregar un archivo')
                }

                // sube entrada
                if(this.validar){
                    this.btn_desactivado = true;

                    let data = new FormData();
                    data.append('_token', this.csrf);
                    data.append('archivo', this.archivos[0]);
                    data.append('preview', true);
                    data.append('paqueteria_id', this.paqueteria_id);

                    // alert(this.paqueteria_id);
                    // console.log(this.archivos[0]);

                    axios.post("pedidos/xls/uploadPedidosEnviados", data).then((result) => {
                        this.resultados.mensaje = result.data.message;
                        this.resultados.pedidos = result.data.pedidos;
                    }, (fail) => {
                        this.resultados.mensaje = "Error al cargar los archivos"
                    });
                }


            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace(',', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
        },
        created: function () {
            axios.get("/api_web/servicio_paqueterias").then(response => {
                console.log(response.data.data);
                this.paqueterias = response.data.data
            })
            .catch(e => {
                this.errores.push('Error al cargar las paqueterias')
            })
        }
    }

</script>
