<template>

        <div class="flex flex-row justify-center items-center min-w-min">
            <svg class="text-greenBT w-5 ml-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
            <span class="text-sm text-greenBT text-base tracking-wide font-thin flex justify-end pl-1 cursor-pointer uppercase font-rob-light">
                {{ texto }}
            </span>
        </div>


</template>

<script>

export default {
    components: {

    },
    props:{
        texto: String
    },
    data(){
        return{

        }
    },
    methods:{

    }
}
</script>

