<template>
    <div>
        <button @click="abrir"><img src="/assets/img/svg/calificar.svg" class="w-6 cursor-pointer"></button>
        <modal-calificar-ticket v-if="mostrar_modal_calificar" v-bind:caso="caso" v-on:cerrar="cerrar_modal_calificar_caso"/>
    </div>
</template>

<script>

    export default {
        props: ['caso'],
        data() {
            return {
                mostrar_modal_calificar: false
            }
        },
        methods:{
            abrir(){
                this.mostrar_modal_calificar = true
            },
            cerrar_modal_calificar_caso() {
                this.mostrar_modal_calificar = false
            }
        }
    }

</script>

