<template>

    <div class="ml-3 w-52 max-w-full flex justify-end py-10">
        <button @click="abrir" class="
        appearance-none rounded-none relative block text-center
        h-10 w-full my-1.5 rounded-md rob-bold
        color-gray--bk border border-solid border-gray-400
        hover:bg-gray-400 hover:text-white
        lg:text-lg md:text-base sm:text-sm">CERRAR CASO</button>
        <modal-cerrar-caso v-if="mostrar_modal_cerrar_caso" v-bind:csrf="csrf" v-bind:caso="caso" v-on:cerrar_caso="cerrar_caso" v-bind:titulo="titulo" v-bind:descripcion="descripcion" v-bind:entradas="entradas" v-bind:motivo="motivo"/>
    </div>

</template>

<script>

    export default {
        props: ['csrf','caso','titulo','descripcion','entradas','motivo'],
        data() {
            return {
                mostrar_modal_cerrar_caso: false
            }
        },
        methods:{
            abrir(){
                this.mostrar_modal_cerrar_caso = true
            },
            cerrar_caso() {
                this.mostrar_modal_cerrar_caso = false
            }
        }
    }

</script>
