<template>
    <div class="rob-light cursor-pointer break-word appearance-none uppercase rounded-none relative block text-center py-6 px-3 my-1.5 rounded-md color-gray--bk border-gray-400 border border-solid  hover:bg-white hover:border-blue-400 hover:text-blue-400 lg:text-md md:text-sm sm:text-sm">{{texto}}</div>
</template>

<script>
    export default{
        props:{
            texto: String
        }
    }
</script>
