<template>

    <div class="w-52 max-w-full flex lg:justify-end justify-center lg:py-10 py-3">
        <button @click="abrir" class="
        appearance-none rob-bold rounded-none relative block text-center
        h-10 w-full my-1.5 rounded-md border border-solid
        background-green--bk text-white
        hover:bg-white hover:border-color-green--BK hover:color-green--bk
        lg:text-lg md:text-base sm:text-sm">NUEVA ENTRADA</button>
        <modal-agregar-caso v-if="mostrar_modal" v-bind:caso="caso" v-on:cerrar="cerrar" v-on:actualizar="actualizar"/>
    </div>

</template>

<script>

    export default {
        props: ['caso'],
        data() {
            return {
                mostrar_modal: false
            }
        },
        methods:{
            abrir(){
                this.mostrar_modal = true
            },
            cerrar() {
                this.mostrar_modal = false
            },
            actualizar() {
                this.$emit('actualizar')
            }
        }
    }

</script>
