<template>

    <div class="relative w-11/12 py-1 overflow-x-hidden md:mx-16 min-h-custom lg:mx-16 md:pt-10" v-if="!carrito_vacio">
        <!-- Header -->
        <div class="relative hidden w-full h-10 md:flex lg:flex">
            <span class="w-1/2 text-sm font-rob-bold color-blue--bk lg:text-base">RESUMEN DEL PEDIDO</span>
            <!-- <span class="flex justify-end w-1/2 text-sm font-bold text-right color-gray--bk lg:text-base pr-28">PRECIO</span> -->
        </div>

        <div v-for="(pedido,index) in carrito_general.resumenes" :key="index" class="mt-4">
            <!-- Boton y borde eliminar -->
            <div class="justify-end hidden border-b border-gray-300 md:flex lg:flex">
                <span class="text-sm font-thin tracking-wide cursor-pointer color-red--bk lg:text-base" v-on:click="eliminar_todos(pedido.id)">ELIMINAR TODO</span>
            </div>

            <!-- 1° Card -->
            <div class="hidden border-b border-gray-300 md:flex lg:flex">
                <!-- Parte izquierda -->
                <div class="w-1/3 mt-8 mb-2 border-r border-gray-300">
                    <!-- Parte datos -->
                    <div class="relative flex flex-col w-full mt-6">
                        <div class="relative flex w-full">
                            <div class="relative w-1/5">
                                <span class="mr-2 font-rob-medium color-gray--bk text-basetext-left">COLEGIO:</span>
                            </div>
                            <div class="relative w-4/5">
                                <span class="text-base text-left font-rob-light color-gray--bk">{{carrito_general.nombre_colegio}}</span>
                            </div>
                        </div>
                        <div class="relative flex w-full mt-6">
                            <div class="relative w-1/5">
                                <span class="inline mr-2 text-base text-left font-rob-medium color-gray--bk">GRADO:</span>
                            </div>
                            <div class="relative w-4/5">
                                <span class="inline text-base text-left font-rob-light color-gray--bk">{{pedido.grado}} {{pedido.seccion}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- Parte inputs -->
                    <div class="flex items-center w-full mt-6 mb-8 mr-8 bg-teal-lighter">
                        <form class="flex flex-wrap justify-between mr-5" action="/" method="post">
                            <div class="w-full">
                                <label class="text-base uppercase font-rob-medium color-blue--bk" for="nombre-alumno">NOMBRE DEL ALUMNO: *</label>
                                <input class="w-full p-2 py-2 placeholder-gray-300 border-b border-gray-300 outline-none font-rob-light" type="nombre-alumno" name="nombre-alumno" id="nombre-alumno" placeholder="ESCRIBIR NOMBRE" v-model="pedido.alumno.nombre" v-on:blur="enviar_nombre(pedido)">
                            </div>
                            <div class="relative flex justify-between w-full">
                                <div class="w-5/12 mt-6">
                                    <label class="text-base uppercase font-rob-medium color-blue--bk" for="apellido-paterno">Apellido Paterno: *</label>
                                    <input class="w-full p-2 py-2 placeholder-gray-300 border-b border-gray-300 focus:outline-none font-rob-light" type="text" name="first_name" id="first_name" placeholder="ESCRIBIR APELLIDO"  v-model="pedido.alumno.paterno" v-on:blur="enviar_nombre(pedido)">
                                </div>
                                <div class="w-5/12 mt-6">
                                    <label class="text-base uppercase font-rob-medium color-blue--bk" for="last_name">Apellido Materno:</label>
                                    <input class="w-full p-2 py-2 placeholder-gray-300 border-b border-gray-300 focus:outline-none font-rob-light" type="text" name="last_name" id="last_name" placeholder="ESCRIBIR APELLIDO" v-model="pedido.alumno.materno" v-on:blur="enviar_nombre(pedido)">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <!-- Parte derecha -->
                <div class="relative flex-wrap w-2/3 px-5 mt-8">
                    <div class="grid items-start w-full grid-cols-12 gap-5 my-4" v-for="(libro, index2) in pedido.detalles" :key="index2">
                        <div class="relative self-start inline-block col-start-1 col-end-2 text-sm text-center border rounded-sm cursor-default min-w-min font-rob-regular border-grayBT">
                            <!-- <label class="w-5 cursor-pointer select_motivos"></label> -->
                            <!-- <select class="w-full h-full text-center cursor-pointer min-w-min rob-regular" v-model="libro.cantidad" v-on:change="cantidad_libros(libro)" v-if="libro.stock > 0">
                                <option v-for="n in libro.stock" :key="n" >{{n}}</option>
                            </select>
                            <select class="w-full h-full text-center cursor-pointer min-w-min rob-regular" v-model="libro.cantidad" v-on:change="cantidad_libros(libro)" v-if="libro.stock <= 0 && libro.bajo_pedido == 1">
                                <option v-for="n in 5" :key="n" >{{n}}</option>
                            </select>
                            <select class="w-full h-full text-center cursor-pointer min-w-min rob-regular" disabled v-if="libro.stock <= 0 && libro.bajo_pedido == 0">
                                <option selected disabled></option>
                            </select> -->
                            <span v-if="(libro.stock>0) || (libro.stock <=0 && libro.bajo_pedido == 1)" class="w-full h-full min-w-min font-rob-regular">1</span>
                            <span v-if="libro.stock <= 0 && libro.bajo_pedido == 0" class="w-full h-full min-w-min font-rob-regular">&nbsp;</span>
                        </div>

                        <span class="col-span-6 col-start-2 text-base text-left font-rob-light color-gray--bk">{{libro.nombre}}
                            <!-- {{libro}} -->
                            <p v-if="libro.obligatorio == 1" class="text-left uppercase font-rob-light color-red--bk"> obligatorio </p>
                            <p v-if="libro.bajo_pedido == 1 && libro.stock <= 0" class="text-left uppercase font-rob-light color-red--bk"> disponible bajo pedido </p>
                            <p v-if="libro.bajo_pedido == 0 && libro.stock <= 0" class="text-left uppercase font-rob-light color-red--bk"> agotado </p>
                        </span>
                        <span class="col-span-2 text-base text-right font-rob-light color-gray--bk">{{libro.isbn}}</span>
                        <span class="col-span-2 text-base text-right font-rob-light color-green--bk"> ${{formatPrice(libro.precio)}} MX </span>
                        <div class="col-span-1 cursor-pointer font-rob-light" v-on:click="eliminar_individual(libro.id)" v-if="(libro.obligatorio == 0) || (libro.obligatorio == 1 && libro.stock<=0 && libro.bajo_pedido == 0)">
                            <img class="relative float-right w-5" src="/assets/img/svg/bote.svg" alt="">
                        </div>
                    </div>
                    <!-- Subtotal centrado -->
                    <!-- <div class="absolute grid items-center w-full grid-cols-12 gap-5 pr-10 my-4 bottom-3 place-items-center">
                        <span class="col-span-1"></span>
                        <span class="col-span-6 col-start-2"></span>
                        <span class="col-span-2 text-base text-right uppercase color-gray--bk font-"> SUBTOTAL </span>
                        <span class="col-span-2 text-lg text-right color-green--bk font-"> ${{formatPrice(pedido.subtotal)}} MX </span>
                        <span class="col-span-1"></span>
                    </div> -->
                    <!-- subtotal fucionado -->
                    <div class="relative grid items-center w-full grid-cols-12 gap-5">
                        <span class="col-start-1 col-end-2"></span>
                        <span class="col-span-6 col-start-2"></span>
                        <span class="col-span-2 text-base text-right color-gray--bk font-">SUBTOTAL &nbsp; &nbsp; &nbsp; </span>
                        <span class="relative col-span-2 text-lg text-right color-green--bk font-"> ${{formatPrice(pedido.subtotal)}} MX </span>
                        <!-- <span class="relative col-span-2 text-lg text-right color-blue--bk font-"> ${{formatPrice(carrito_general.subtotal)}} MX </span> -->
                        <span class="col-span-2"></span>
                    </div>
                    <!-- Termina subtotal fucionado -->



                </div>


            </div>

            <!-- Movil -->
            <div class="relative flex flex-col p-3 border border-gray-400 rounded-md md:hidden lg:hidden">
                <div class="grid grid-cols-12 gap-4 mt-4">
                    <span class="col-start-1 col-end-4 text-sm text-left font-rob-medium color-gray--bk">COLEGIO:</span>
                    <span class="col-start-4 col-end-12 text-sm text-left uppercase font-rob-light color-gray--bk">{{carrito_general.nombre_colegio}}</span>
                    <span class="col-start-1 col-end-4 text-sm text-left font-rob-medium color-gray--bk">GRADO:</span>
                    <span class="col-start-4 col-end-12 text-sm text-left uppercase font-rob-light color-gray--bk">{{pedido.grado}} {{pedido.seccion}}</span>
                </div>
                <form class="flex flex-wrap justify-between mt-4" action="/" method="post">
                    <div class="w-full">
                        <label class="text-sm uppercase font-rob-medium color-blue--bk" for="nombre-alumno">NOMBRE DEL ALUMNO: *</label>
                        <input class="w-full py-2 text-sm border-b-2" type="nombre-alumno" name="nombre-alumno" id="nombre-alumno" placeholder="ESCRIBIR NOMBRE" v-model="pedido.alumno.nombre" v-on:blur="enviar_nombre(pedido)">
                    </div>
                    <div class="w-full mt-6">
                        <label class="text-sm uppercase font-rob-medium color-blue--bk" for="apellido-paterno">Apellido Paterno: *</label>
                        <input class="w-full py-2 text-sm border-b-2" type="text" name="first_name" id="first_name" placeholder="ESCRIBIR APELLIDO"  v-model="pedido.alumno.paterno" v-on:blur="enviar_nombre(pedido)">
                    </div>
                    <div class="w-full mt-6">
                        <label class="text-sm uppercase font-rob-medium color-blue--bk" for="last_name">Apellido Materno:</label>
                        <input class="w-full py-2 text-sm border-b-2" type="text" name="last_name" id="last_name" placeholder="ESCRIBIR APELLIDO" v-model="pedido.alumno.materno" v-on:blur="enviar_nombre(pedido)">
                    </div>
                </form>
                <!-- Botón de eliminar -->
                <div class="relative flex justify-end py-5 border-b-2">
                    <span class="text-sm tracking-wide cursor-pointer color-red--bk" v-on:click="eliminar_todos(pedido.id)">ELIMINAR TODO</span>
                </div>
                <!-- Datos del libro (Compra) -->
                <div class="border-t-2">
                    <div class="w-full my-6" v-for="(libro, index2) in pedido.detalles" :key="index2">
                        <span class="text-base text-left font-rob-light color-gray--bk">{{libro.nombre}}</span>
                        <!-- <span class="text-base text-left rob-light color-gray--bk">{{libro}}</span> -->
                        <div class="relative flex content-between justify-between w-full mt-2 text-sm">
                            <span class="col-span-2 text-base text-right font- color-gray--bk">ISBN {{libro.isbn}}</span>
                            <p v-if="(libro.obligatorio == 1 && libro.stock>0) || (libro.obligatorio == 1 && libro.bajo_pedido == 1)" class="text-left uppercase font-rob-regular color-red--bk"> obligatorio </p>
                            <p v-if="(libro.stock<=0 && libro.bajo_pedido == 0)" class="text-left uppercase font-rob-regular color-red--bk"> agotado </p>
                            <p v-if="libro.obligatorio == 0 && libro.stock > 0" class="text-sm font-rob-regular color-blue--bk">{{libro.stock}} DISPONIBLES</p>
                        </div>
                        <div class="relative flex content-between justify-between w-full mt-2 text-sm">
                            <span class="col-span-2 text-base text-right font-rob-light color-gray--bk">PRECIO</span>
                            <span class="col-span-2 text-lg text-right font- color-green--bk"> ${{formatPrice(libro.precio)}} MX </span>
                        </div>
                        <div class="relative flex content-between justify-between w-full mt-2">
                            <div class="relative flex">
                                <span class="col-span-2 text-sm text-right uppercase font-rob-light color-gray--bk">Cantidad &nbsp;</span>
                                <div class="relative inline-block w-12 h-auto col-span-1 overflow-hidden text-sm text-center border border-gray-400 rounded-md cursor-pointer min-w-min font-rob-regular">
                                    <!-- <label class="w-5 cursor-pointer select_motivos"></label> -->
                                    <!-- <select class="w-full h-full text-center cursor-pointer min-w-min font-rob-regular" v-model="libro.cantidad" v-on:change="cantidad_libros(libro)" v-if="libro.stock > 0">
                                        <option v-for="n in libro.stock" :key="n" >{{n}}</option>
                                    </select>
                                    <select class="w-full h-full text-center cursor-pointer min-w-min font-rob-regular" v-model="libro.cantidad" v-on:change="cantidad_libros(libro)" v-if="libro.stock <= 0 && libro.bajo_pedido == 1">
                                        <option v-for="n in 5" :key="n" >{{n}}</option>
                                    </select>
                                    <select class="w-full h-full text-center cursor-pointer min-w-min font-rob-regular" disabled v-if="libro.stock <= 0 && libro.bajo_pedido == 0">
                                        <option selected disabled></option>
                                    </select> -->
                                    <span v-if="(libro.stock>0) || (libro.stock <=0 && libro.bajo_pedido == 1)" class="w-full h-full min-w-min font-rob-regular">1</span>
                                    <span v-if="libro.stock <= 0 && libro.bajo_pedido == 0" class="w-full h-full min-w-min font-rob-regular">&nbsp;</span>
                                </div>
                            </div>
                            <div class="relative flex items-center cursor-pointer" v-on:click="eliminar_individual(libro.id)" v-if="libro.obligatorio != 1 || (libro.obligatorio == 1 && libro.bajo_pedido == 0 && libro.stock <= 0)">
                                <img class="relative w-3" src="/assets/img/svg/bote.svg" alt="">
                                <span class="pl-1 text-sm font-rob-light color-red--bk"> ELIMINAR</span>
                            </div>
                            <div v-if="libro.obligatorio == 0 && libro.stock >0" class="relative flex mb-6">
                                <span class="text-sm font-rob-regular color-blue--bk">{{libro.stock}} DISPONIBLES</span>
                            </div>
                        </div>
                    </div>
                    <div class="relative flex content-between justify-between w-full mt-2 text-sm">
                        <span class="col-span-2 text-base text-right font- color-gray--bk">SUBTOTAL</span>
                        <span class="col-span-2 text-lg text-right font- color-green--bk"> ${{formatPrice(pedido.subtotal)}} MX  </span>
                    </div>
                </div>
            </div>

            <!-- Termina movil -->

        </div>

        <!-- Subtotal y total (final) -->
        <div class="hidden md:flex lg:flex">
            <div class="flex-wrap w-1/3 mt-8 mb-2"></div>
            <!-- Subtotal centrado -->
            <!-- <div class="grid w-2/3 grid-cols-12 gap-5 pr-4 my-4 place-items-center">
                <span class="col-span-1"></span>
                <span class="col-span-6 col-start-2"></span>
                <span class="col-start-8 col-end-10 text-base text-right color-gray--bk font-">SUBTOTAL</span>
                <span class="relative col-span-2 text-lg text-right color-blue--bk font-"> ${{formatPrice(carrito_general.subtotal)}} MX </span>
                <span class="col-span-1"></span>
            </div> -->
            <!-- subtotal fucionado -->
            <div class="grid w-2/3 grid-cols-12 gap-5 pr-4 my-4 place-items-center">
                <span class="col-span-1"></span>
                <span class="col-span-6 col-start-2"></span>
                <span class="col-start-8 col-end-12 text-base text-right color-gray--bk font-">SUBTOTAL &nbsp; &nbsp; &nbsp; <span class="relative text-lg text-right color-blue--bk font-"> ${{formatPrice(carrito_general.subtotal)}} MX </span></span>
                <!-- <span class="relative col-span-2 text-lg text-right color-blue--bk font-"> ${{formatPrice(carrito_general.subtotal)}} MX </span> -->
                <span class="col-span-1"></span>
            </div>
            <!-- Termina subtotal fucionado -->

        </div>

        <!-- Subtotal movil -->

        <div class="relative flex content-between justify-between w-full p-3 mt-4 text-sm md:hidden lg:hidden">
            <span class="text-base text-right color-gray--bk font-">SUBTOTAL</span>
            <span class="text-lg text-right font- color-blue--bk"> ${{formatPrice(carrito_general.subtotal)}} MX  </span>
        </div>

        <!-- Botones siguiente y seguir comprando -->
        <div class="relative justify-center hidden w-full text-center uppercase lg:flex color-red--bk">{{nombre_apellido_requerido}}</div>
        <div class="justify-center hidden w-full mt-12 md:flex lg:flex">
            <div class="flex justify-center items-center font- appearance-none relative block text-center h-14 background-green--bk w-3/12  my-1.5 rounded-md color-white--bk border border-solid hover:bg-white hover:border-color-green--BK hover:color-green--bk lg:text-lg md:text-base sm:text-sm cursor-pointer" v-bind:class="{ desactivado: boton_desactivado}" v-on:click="pagarPedido">

                <span>SIGUIENTE</span>

            </div>

        </div>

        <div class="justify-center hidden w-full mb-4 md:flex lg:flex">

            <div class="flex justify-center font- appearance-none relative block text-center h-14 w-3/12 my-1.5 items-center rounded-md color-gray--bk border border-solid border-gray-400 hover:bg-white hover:border-color-blue--BK hover:color-blue--bk lg:text-lg md:text-base sm:text-sm cursor-pointer" v-on:click="seguir_comprando">

                <span>SEGUIR COMPRANDO</span>

            </div>

        </div>

        <!-- Botones movil -->
        <div class="flex justify-center w-full text-center uppercase color-red--bk md:hidden lg:hidden ">{{nombre_apellido_requerido}}</div>
        <div class="flex justify-center w-full mt-12 md:hidden lg:hidden">

            <div class="appearance-none relative block text-center py-2 px-3 background-green--bk w-full my-1.5 rounded-md color-white--bk border border-solid hover:bg-white hover:border-green-500 hover:text-green-800 lg:text-lg md:text-base sm:text-sm cursor-pointer" v-bind:class="{ desactivado: boton_desactivado}" v-on:click="pagarPedido">

                <span>SIGUIENTE</span>

            </div>

        </div>

        <div class="flex justify-center w-full mb-12 md:hidden lg:hidden">

            <div class="appearance-none relative block text-center py-2 px-3 w-full my-1.5 rounded-md color-gray--bk border border-solid border-gray-400 hover:bg-white hover:border-green-500 hover:text-green-800 lg:text-lg md:text-base sm:text-sm cursor-pointer" v-on:click="seguir_comprando">

                <span>SEGUIR COMPRANDO</span>

            </div>

        </div>

    </div>

<carrito-vacio v-else-if="carrito_vacio"></carrito-vacio>

</template>



<script>
import Swal from 'sweetalert2';

const axios = require('axios').default

export default {
    components: {
    },
    props:['pedido_id', 'csrf'],
    data(){
        return{
            carrito_general: {
            },
            datos_nombre:{

            },
            carrito_vacio: false,
            cantidad_elegida:{},
            fallo: false,
            mensaje_error: undefined,
            boton_desactivado: false,
            nombre_apellido_requerido: ""
        }
    },
    watch:{
        'carrito_general':{
            handler: function(){
                this.boton_desactivado = false
                this.carrito_general.resumenes.forEach(resumen=> {
                    resumen.detalles.forEach(detalle => {
                        if (detalle.stock <= 0 && detalle.bajo_pedido == 0) {
                            this.boton_desactivado = true
                        }
                    })
                })
                // console.log("watch"+this.boton_desactivado)
            }, deep: true

        }
    },
    mounted() {
        Swal.showLoading()
        // alert(this.pedido_id);
        axios.get("/api_web/pedido/carrito/"+this.pedido_id).then(response => {
            // console.log(response.data.data);
            Swal.close()
            this.carrito_general = response.data.data
            // console.log(this.carrito_general);
        }, fail => {
            Swal.close()
            Swal.fire({
                icon: 'error',
                text: typeof(fail.response.data.message) != 'undefined'? fail.response.data.message: 'Ocurrió un error, intente de nuevo más tarde.',
                footer: 'Contacte al administrador si el problema persiste.',
                confirmButtonText: 'Cerrar',
            })
        })

    },
    methods: {
        eliminar_todos(id_resumen){
            axios.delete("/api_web/pedido/carrito/resumen/"+id_resumen).then(response => {
                this.carrito_general = response.data.data
                if(this.carrito_general.carrito_vacio){
                    location.reload();
                    this.carrito_vacio = true
                }
            }, fail => {
                Swal.fire({
                    icon: 'error',
                    text: typeof(fail.response.data.message) != 'undefined'? fail.response.data.message: 'Ocurrió un error, intente de nuevo más tarde.',
                    footer: 'Contacte al administrador si el problema persiste.',
                    confirmButtonText: 'Cerrar',
                })
            })
        },
        eliminar_individual(id_libro){
            axios.delete("/api_web/pedido/carrito/detalle/"+id_libro).then(response => {
                this.carrito_general = response.data.data
                if(this.carrito_general.carrito_vacio){
                    location.reload();
                    this.carrito_vacio = true
                }
            }, fail => {
                Swal.fire({
                    icon: 'error',
                    text: typeof(fail.response.data.message) != 'undefined'? fail.response.data.message: 'Ocurrió un error, intente de nuevo más tarde.',
                    footer: 'Contacte al administrador si el problema persiste.',
                    confirmButtonText: 'Cerrar',
                })
            })
        },
        enviar_nombre(pedido){

            if (pedido.alumno.nombre != null && pedido.alumno.paterno != null) {
                this.nombre_apellido_requerido = ""
                this.datos_nombre.nombre = pedido.alumno.nombre
                this.datos_nombre.paterno = pedido.alumno.paterno
                this.datos_nombre.materno = pedido.alumno.materno

                this.datos_nombre._token = this.csrf

                axios.put("/api_web/pedido/carrito/resumen/"+pedido.id, this.datos_nombre).then(response => {

                }, fail => {
                    Swal.fire({
                        icon: 'error',
                        text: typeof(fail.response.data.message) != 'undefined'? fail.response.data.message: 'Ocurrió un error, intente de nuevo más tarde.',
                        footer: 'Contacte al administrador si el problema persiste.',
                        confirmButtonText: 'Cerrar',
                    })
                })
            }
        },
        pagarPedido() {
            let error = 0
            for (let index = 0; index < this.carrito_general.resumenes.length; index++) {
                if((this.carrito_general.resumenes[index].alumno.nombre == null || this.carrito_general.resumenes[index].alumno.paterno == null) || (this.carrito_general.resumenes[index].alumno.nombre == 0 || this.carrito_general.resumenes[index].alumno.paterno == 0) || (this.carrito_general.resumenes[index].alumno.nombre == "" || this.carrito_general.resumenes[index].alumno.paterno == "")){
                    error++
                }
            }
            if(error==0){
                document.location.href = "/pedidos/" + this.pedido_id + "/pagar";
            }else{
                this.nombre_apellido_requerido = "LOS CAMPOS DE NOMBRE Y APELLIDO PATERNO SON REQUERIDOS";
            }
        },
        cantidad_libros(libro){
            this.cantidad_elegida.cantidad = 1
            axios.put("/api_web/pedido/carrito/detalle/"+libro.id, this.cantidad_elegida).then(response => {
                this.carrito_general = response.data.data
            }, fail => {
                Swal.fire({
                    icon: 'error',
                    text: typeof(fail.response.data.message) != 'undefined'? fail.response.data.message: 'Ocurrió un error, intente de nuevo más tarde.',
                    footer: 'Contacte al administrador si el problema persiste.',
                    confirmButtonText: 'Cerrar',
                })
            })
        },
        formatPrice(value) {
        let val = (value/1).toFixed(2).replace(',', '.')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        seguir_comprando(){
            // console.log(this.carrito_general.colegio_codigo);
            window.location.href = "colegio/"+this.carrito_general.colegio_codigo;
        }
    },
}

</script>

<style scoped>
.desactivado{
    background-color: gray;
    pointer-events: none;
}

</style>

