<template>
  <div class="w-full h-custom lg:min-h-custom flex lg:flex-row flex-col items-center box-border overflow-hidden">
    <seccion-izquierda v-if="!nivel_elegido || !movil" @seleccionSeccion="seleccionarSeccion" :colegio="colegio" :seccion="seccion_elegida" @seleccionNivel="seleccionarNivel" @verPizarron="verPizarron"></seccion-izquierda>
    <seccion-derecha v-if="(nivel_elegido && seccion_elegida)" v-bind:colegio="colegio" :seccion="seccion_elegida"  @seleccionNivel="seleccionarNivel" :nivel="nivel_elegido" v-bind:csrf="csrf"></seccion-derecha>
    <pizarron-avisos v-show="mostrar_pizarron" v-bind:colegio="colegio" />
  </div>

</template>

<script>

import SeccionIzquierda from './seccionIzquierda.vue'
import SeccionDerecha from './SeccionDerecha.vue'

const axios = require('axios').default

export default {
  name: 'App',
  components: {
    SeccionIzquierda,
    SeccionDerecha
  },
  props: ['codigo', 'csrf'],
  data(){
    return{
      colegio: {},
      seccion_elegida: undefined,
      nivel_elegido: undefined,
      mostrar_pizarron: true
    }
  },
  mounted() {
    axios.post("/api_web/colegio/informacion", {
        codigo: this.codigo
    }).then(response => {
      this.colegio = response.data.data
    }, fail => {
        console.log(fail)
    })

  },
  computed: {
      movil(){
          return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)
      }
  },
  methods: {
    seleccionarSeccion(seccion){
        this.seccion_elegida = seccion
    },
    seleccionarNivel(nivel) {
        this.nivel_elegido = nivel
    },
    verPizarron(verPizarron){
        this.mostrar_pizarron = verPizarron
    }
  }
}

</script>
