<template>
    <div class="lg:w-11/12 py-2 md:w-10/12 md:mx-auto" v-if="entradas != ''">

        <div class="w-11/12 flex justify-start pt-10">
            <h2 class="color-green--bk font-bold text-xl text-greenBT">ENTRADAS</h2>
        </div>

        <div class="w-full flex flex-col justify-center items-center" v-for="item in entradas" :key="item.id">
            <div class="w-full mt-10 flex flex-col xl:flex-row bg-white xl:bg-gray-100">
                <div class="flex flex-row xl:flex-col w-full xl:w-1/6">
                    <div class="text-left p-4 color-gray--bk font-rob-bold w-1/3 xl:w-full border-b border-gray-300 bg-white">USUARIO</div>
                    <div class="p-4 pt-5 color-gray--bk uppercase text-xl w-2/3 xl:w-full border-b border-gray-300 xl:border-0">{{ item.usuario.nombre }} {{ item.usuario.apellido }}</div>
                </div>
                <div class="flex flex-row xl:flex-col w-full xl:w-1/6">
                    <div class="text-left xl:text-center p-4 color-gray--bk font-rob-bold w-1/3 xl:w-full border-b border-gray-300 bg-white">FECHA</div>                
                    <div class="text-left xl:text-center flex justify-start xl:justify-center items-start p-4 text-greenBT font-bold text-xl w-2/3 xl:w-full border-b border-gray-300 xl:border-0">{{ item.alta | formDate }}</div>
                </div>
                <div class="flex flex-row xl:flex-col w-full xl:w-4/6">
                    <div class="text-left color-gray--bk font-rob-bold w-1/3 xl:w-full border-b border-gray-300 p-4 bg-white">ARCHIVOS</div>

                    <div class="block w-2/3 xl:w-full text-left border-b border-gray-300 xl:border-0">
                        <div class="p-4 w-52 max-w-full inline-grid text-white btn_archivo" v-for="file in item.archivos" :key="file.id">
                            <a :href="file.archivo" class="truncate lowercase text-base bg-gray-500 text-center p-2 px-3 w-full text-white hover:bg-black rounded" :download="file.nombre">
                                {{ file.nombre }}
                            </a>
                            <div class="justify-self-center tooltip_archivo absolute bottom-full">
                                <div class="bg-black text-white text-base rounded py-1 px-4 right-0 bottom-full">
                                    {{ file.nombre }}
                                    <svg class="absolute text-black h-2 w-full left-0 top-full" x="0px" y="0px" viewBox="0 0 255 255" xml:space="preserve"><polygon class="fill-current" points="0,0 127.5,127.5 255,0"/></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full h-1/3 border border-gray-300 p-5 m-5 text-gray-400 rounded-md color-gray--bk break-words">
                {{ item.comentario }}
            </div>
        </div>
    </div>

</template>

<script>
    import moment from "moment";

    export default {
        props: ['entradas'],
        data() {
            return {
            }
        },
        filters: {
            formDate: function(value){
                return moment(String(value)).format('DD / MM / YYYY')
            }
        }
    }

</script>

<style>
    .bottom-full{
        bottom: 100%
    }

    .top-full{
        top: 100%
    }

    .tooltip_archivo {
        display: none;
    }

    .btn_archivo:hover .tooltip_archivo {
        display: block;
    }
</style>
