<template>
<div class="w-full py-1 md:py-10 px-4 md:px-6 flex justify-center items-start box-border h-auto flex-row print:py-0 print:px-0">
    <router-view @message="routeListener" @navegacion="navegacion"></router-view>
</div>
</template>
<script>
import Swal from 'sweetalert2';

const axios = require('axios').default
const VueRouter = require('vue-router').default

const contacto =               require('./venta_movil/contacto.vue').default
const metodo_pago =            require('./venta_movil/metodoPago.vue').default
const pago_exitoso =            require('./venta_movil/pagoExitoso.vue').default

const router = new VueRouter({
    //mode: 'history',
    routes: [
        { path: '/contacto',     name: 'contacto',      props: true, component: contacto },
        { path: '/metodo_pago',  name: 'metodo_pago',   props: true, component: metodo_pago },
        { path: '/pago_exitoso', name: 'pago_exitoso',  props: true, component: pago_exitoso },
    ]
})

export default {
  router: router,
  props: ["id_pedido"],
  data() {
    return {
      pago: {
        contacto: {},
        entrega: {},
        metodo_pago: {},
        pago_exitoso: {},
        colegio: {}
      },
      pedido: {}
    };
  },
  methods: {
    routeListener(objeto, message) {
        console.log("Mensaje", message)
        this.pago[objeto] = message
    },
    navegacion(pagina) {
    console.log('Cambio a página: ' + pagina)
    //console.log('Ruta actual:', this.$oute.name)
      switch(pagina) {
        case 0: history.back(); break;
        case 1: this.$router.replace ({ name: 'contacto',     params: { pago: this.pago, pedido: this.pedido } }).catch(err => { console.log('error', err) }) ; break;
        case 2: this.$router.replace ({ name: 'metodo_pago',  params: { pago: this.pago, pedido: this.pedido } }).catch(err => { console.log('error', err) }) ; break;
        case 3: this.$router.replace ({ name: 'pago_exitoso', params: { pago: this.pago, pedido: this.pedido } }).catch(err => { console.log('error', err) }) ; break;
      }
    },
    cargaConfiguracionColegio(colegio_id) {
        axios.get("/api_web/colegio/" + colegio_id)
        .then(res => {
            this.pago.colegio = res.data.data
            this.navegacion(1)
        })
        .catch(err => {
            Swal.fire({
                icon: 'error',
                text: 'Ocurrió un error, intente de nuevo más tarde.',
                confirmButtonText: 'Cerrar',
            })
        })
    }
  },
  mounted() {
      axios.get("/api_web/pedido/carrito/" + this.id_pedido).then(response => {
            this.pedido = response.data.data
            this.cargaConfiguracionColegio(this.pedido.colegio_id)
        }, fail => {
            Swal.fire({
                icon: 'error',
                text: 'Ocurrió un error, intente de nuevo más tarde.',
                confirmButtonText: 'Cerrar',
            })
        })
  }
};
</script>
