<template>

    <form action="caso" method="POST"  enctype="multipart/form-data">
        <a v-on:click="abrirFormulario()" class="
        flex justify-between lg:justify-center pr-6 lg:pr-0 pl-5
        lg:pl-0 items-center w-20 lg:w-40 h-10
        border border-gray-200 rounded-md


        lg:text-lg md:text-base sm:text-sm
        background-green--bk text-white
        hover:bg-white hover:border-color-green--BK hover:color-green--bk

        cursor-pointer">
            <span class="hidden lg:inline">NUEVO TICKET</span>
            <img class="lg:hidden block h-2" src="/assets/img/svg/plus.svg">
            <img class="lg:hidden block h-7" src="/assets/img/svg/ticket.svg">
        </a>
        <div class="fixed py-20 px-8 top-0 bottom-0 left-0 right-0 z-30 overflow-y-auto overflow-x-hidden text-center block bg-gray-600 bg-opacity-50" v-if="formulario_open">
            <div class="max-w-full inline-block width-form relative z-10">
                <div class="w-6 h-6 absolute top-7 right-4 rounded-full border border-gray-500 bg-white cursor-pointer" v-on:click="cerrarFormulario()">
                    <div class="w-9/12 h-0.5 bg-gray-500 absolute m-auto top-0 bottom-0 left-0 right-0 transform rotate-45"></div>
                    <div class="w-9/12 h-0.5 bg-gray-500 absolute m-auto top-0 bottom-0 left-0 right-0 transform -rotate-45"></div>
                </div>
                <div class="p-4 py-6 border border-color-gray--BK rounded-lg text-center bg-white">
                    <div class="text-left">
                        <h4 class="color-red--bk font-bold text-xl">QUEJAS Y SUGERENCIAS</h4>
                        <input type="hidden" name="_token" v-bind:value="csrf"/>

                        <p class="mt-8 color-gray--bk">ASUNTO</p>
                        <input name="titulo" v-model="titulo" maxlength="100" class="w-full h-10 border border-gray-200 focus:border-gray-200 rounded-md p-2 focus:outline-none text-gray-700 focus:ring-0" type="text">

                        <p class="mt-8 color-gray--bk">TEMA</p>
                        <div class="relative w-full border border-gray-200 rounded-md cursor-pointer overflow-hidden">
                            <label class="select_motivos cursor-pointer" for="select_motivos"></label>
                            <select v-model="motivo" name="motivo" class="w-full h-10 bg-white p-2 pr-8 overflow-ellipsis cursor-pointer text-gray-700 border-0 appearance-none" ref="motivos">
                                <option value="0" disabled="disabled">Seleccione una opción</option>
                                <option v-for="opcion in opciones" v-bind:key="opcion.id" v-bind="{disabled: !opcion.habilitado}" :value="opcion.id">{{ opcion.texto }}</option>
                            </select>
                        </div>

                        <p class="mt-8 color-gray--bk">TELÉFONO</p>
                        <input name="telefono" v-model="telefono" class="w-full h-10 border border-gray-200 focus:border-gray-200 rounded-md p-2 focus:outline-none text-gray-700 focus:ring-0" type="tel" @keypress="onlyNumber">

                        <p class="mt-8 color-gray--bk">DESCRIPCIÓN</p>
                        <textarea name="descripcion" v-model="descripcion" class="w-full h-44 resize-none border border-gray-200 focus:border-gray-200 text-gray-700 rounded-md p-2 focus:outline-none focus:ring-0" id=""></textarea>
                    </div>

                    <div class="w-full text-center p-2 px-6 color-gray--bk border border-gray-200 bg-gray-200 rounded-md mt-3 relative flex justify-center flex-col" v-if="archivos.length > 0">
                        <div v-on:click="clearFiles()" class="w-6 h-6 absolute top-1 right-1 rounded-full border border-gray-500 bg-white cursor-pointer" title="Borrar archivos">
                            <div class="w-9/12 h-0.5 bg-gray-500 absolute m-auto top-0 bottom-0 left-0 right-0 transform rotate-45"></div>
                            <div class="w-9/12 h-0.5 bg-gray-500 absolute m-auto top-0 bottom-0 left-0 right-0 transform -rotate-45"></div>
                        </div>
                        <div v-for="archivo in archivos" v-bind:key="archivo.name" class="block w-auto bg-gray-100 my-1 cursor-default rounded-xl p-1" :title="'Tamaño: ' + (Math.trunc(archivo.size / 1024) > 1024? (Math.trunc(archivo.size / 1024) / 1024).toFixed(2) + ' MB' : Math.trunc(archivo.size / 1024) + ' KB')">{{ archivo.name }}</div>
                    </div>

                    <label for="archivos_subir" class="inline-block w-auto mt-5 color-gray--bk border border-gray-200 rounded-md background-white--bk p-3 hover:bg-gray-400 hover:text-white cursor-pointer">ADJUNTAR ARCHIVOS</label>
                    <input @change="verArchivos" id="archivos_subir" name="filenames[]" multiple type="file" class="hidden" :key="fileInputKey" accept=".png, .gif, .jpeg, .jpg" capture="camera">

                    <div class="w-full pt-8">
                        <ul>
                            <li v-for="error in errores" v-bind:key="error" class="px-4 text-center color-red--bk">{{ error }}</li>
                        </ul>
                    </div>

                    <a v-on:click="abrirModal()" class="appearance-none uppercase relative flex items-center justify-center text-center py-3 px-3 background-green--bk w-full rounded-md color-white--bk border border-solid hover:bg-white hover:border-color-green--BK hover:color-green--bk lg:text-lg md:text-base sm:text-sm rob-bold w-full mt-16 cursor-pointer">ENVIAR</a>
                </div>
            </div>
            <div class="w-full h-20"></div>

            <div class="absolute p-4 py-6 m-auto inset-x-10 top-24 left-6 right-6 background-white--bk  border border-color-gray--BK rounded-lg z-30 lg:w-1/2" v-if="modal_open">
                <div class="text-center">
                    <div class="text-left">
                        <div class="w-full text-center">
                            <h4 class="color-blue--bk font-bold text-xl">¿ENVIAR EL CASO?</h4>
                        </div>

                        <p class="mt-8 color-gray--bk"><b>CASO:</b> <span id="caso">{{ titulo }}</span></p>

                        <p class="mt-8 color-gray--bk"><b>MOTIVO:</b>
                            <span id="motivo">
                                {{motivo_filtrado}}
                            </span>
                        </p>

                        <p class="mt-8 color-gray--bk">
                            <b>DESCRIPCIÓN:</b>
                            <br>
                            <span id="descripcion">{{ descripcion }}</span>
                        </p>

                        <p class="mt-8 color-gray--bk"><b>TELÉFONO:</b> <span id="telefono">{{ telefono }}</span></p>

                        <p class="mt-8 color-gray--bk">
                            <b>ARCHIVOS ADJUNTOS:</b>
                            <br>
                            <p class="color-gray--bk">
                                <span v-for="archivo in archivos" v-bind:key="archivo.name">{{ (archivo == archivos[0]? '' : ' / ') + archivo.name }}</span>
                                <span v-if="archivos.length == 0">--</span>
                            </p>
                        </p>

                    </div>
                </div>
                <button v-on:click="enviar()" class="w-full mt-6 mb-3 text-white font-bold text-xl border border-gray-200 rounded-md background-green--bk p-3 hover:bg-gray-400 hover:text-white cursor-pointer">SI</button>
                <a v-on:click="modal_open = false" class="flex justify-center w-full font-bold text-xl border border-gray-200 rounded-md color-gray--bk p-3 hover:bg-gray-400 hover:text-white hover:no-underline cursor-pointer">NO</a>
            </div>
        </div>
    </form>

</template>

<script>
    const axios = require('axios').default
    export default{
        props: ['csrf'],
        data(){
            return{
                motivo: 0,
                titulo: "",
                telefono: "",
                descripcion: "",
                opciones: [],
                errores: [],
                modal_open: false,
                formulario_open: false,
                archivos: [],
                fileInputKey: 0
            }
        },
        computed: {
            validar() {
                this.errores = []

                if(this.titulo == "") this.errores.push("Debe escribir un título")
                if(this.motivo == 0) this.errores.push('Debe seleccionar un motivo')
                if(this.telefono == "") this.errores.push("Debe escribir un teléfono")
                if(this.descripcion == "") this.errores.push("Debe escribir una descripción")

                return this.errores.length == 0
            },
            motivo_filtrado() {
                for (let index = 0; index < this.opciones.length; index++) {
                    if (this.opciones[index].id == this.motivo) {
                        return this.opciones[index].texto
                    }
                    
                }
            }
        },
        methods: {
            verArchivos: function(evt) {
                this.errores = []
                if (evt.target.files.length > 5) {
                    this.fileInputKey++
                    this.archivos = []
                    this.errores.push('No se permiten más de 5 archivos')
                } else {
                    console.log(evt.target.files)
                    this.archivos = evt.target.files
                }
            },
            clearFiles() {
                this.fileInputKey++
                this.archivos = []
            },
            abrirModal() {
                if(this.validar) {
                    this.modal_open = true
                }
            },
            abrirFormulario() {
                this.formulario_open = true
            },
            cerrarFormulario() {
                if (this.modal_open) {
                    this.modal_open = false
                } else {
                    if (this.formulario_open) {
                        this.formulario_open = false
                    }
                }
            },
            enviar() {
            },
            onlyNumber ($event) {
                //console.log($event.keyCode); //keyCodes value
                let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
                if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) { // 46 is dot
                    $event.preventDefault();
                }
            }
        },
        mounted() {
            axios.get("/api_web/tickets/opciones").then(
                response => {
                    this.opciones = response.data.data
                    // console.log(response.data.message)
                    // console.log(this.opciones);
                },
                fail => {
                    console.log(fail)
                }
            )
        }
    }

</script>
