<template>
<div class="box-border flex flex-row items-start justify-center w-full h-auto px-4 py-1 md:py-10 md:px-6 print:py-0 print:px-0">
    <router-view @message="routeListener" @navegacion="navegacion"></router-view>
</div>
</template>
<script>
import Swal from 'sweetalert2';

const axios = require('axios').default
const VueRouter = require('vue-router').default

const contacto =               require('./formulario_pago/contacto.vue').default
const entrega =                require('./formulario_pago/entrega.vue').default
const domicilio_envio =        require('./formulario_pago/domicilioEnvio.vue').default
const solicitar_factura =      require('./formulario_pago/solicitarFactura.vue').default
const datos_facturacion =      require('./formulario_pago/datosFacturacion.vue').default
const metodo_pago =            require('./formulario_pago/metodoPago.vue').default
const netpay_pago_tarjeta =    require('./formulario_pago/netpay/pagoTarjetaNetpay.vue').default
const netpay_datos_tarjeta =   require('./formulario_pago/netpay/domicilioTarjeta.vue').default
const confirmar_pago =         require('./formulario_pago/confirmarPago.vue').default
const pago_exitoso =           require('./formulario_pago/pagoExitoso.vue').default
const pago_rechazado =         require('./formulario_pago/pagoRechazado.vue').default
const referencia_pago =        require('./formulario_pago/bbva/referenciaPago.vue').default
const referencia_pago_tienda = require('./formulario_pago/netpay/referenciaPagoTienda.vue').default
const op_pago_tienda =         require('./formulario_pago/openpay/pagoTiendaPaynet.vue').default
const bbva_datos_tarjeta =     require('./formulario_pago/bbva/datosTarjetaBbva.vue').default
const bbva_pago_tarjeta =      require('./formulario_pago/bbva/pagoTarjetaBbva.vue').default
const op_datos_tarjeta =       require('./formulario_pago/openpay/datosTarjetaOp.vue').default
const op_pago_tarjeta =        require('./formulario_pago/openpay/pagoTarjetaOp.vue').default
const op_pago_tarjeta_3ds =    require('./formulario_pago/openpay/pago3DsOp.vue').default
const mercado_pago =           require('./formulario_pago/mercadoPago.vue').default

const router = new VueRouter({
    //mode: 'history',
    routes: [
        { path: '/contacto',               name: 'contacto',                 props: true, component: contacto },
        { path: '/entrega',                name: 'entrega',                  props: true, component: entrega },
        { path: '/domicilio_envio',        name: 'domicilio_envio',          props: true, component: domicilio_envio },
        { path: '/solicitar_factura',      name: 'solicitar_factura',        props: true, component: solicitar_factura },
        { path: '/datos_facturacion',      name: 'datos_facturacion',        props: true, component: datos_facturacion },
        { path: '/metodo_pago',            name: 'metodo_pago',              props: true, component: metodo_pago },
        { path: '/netpay_pago_tarjeta',    name: 'netpay_pago_tarjeta',      props: true, component: netpay_pago_tarjeta },
        { path: '/netpay_datos_tarjeta',   name: 'netpay_datos_tarjeta',     props: true, component: netpay_datos_tarjeta },
        { path: '/confirmar_pago',         name: 'confirmar_pago',           props: true, component: confirmar_pago },
        { path: '/pago_exitoso',           name: 'pago_exitoso',             props: true, component: pago_exitoso },
        { path: '/pago_rechazado',         name: 'pago_rechazado',           props: true, component: pago_rechazado },
        { path: '/referencia_pago',        name: 'referencia_pago',          props: true, component: referencia_pago },
        { path: '/referencia_pago_tienda', name: 'referencia_pago_tienda',   props: true, component: referencia_pago_tienda },
        { path: '/op_pago_tienda',         name: 'op_pago_tienda',           props: true, component: op_pago_tienda },
        { path: '/bbva_datos_tarjeta',     name: 'bbva_datos_tarjeta',       props: true, component: bbva_datos_tarjeta },
        { path: '/bbva_pago_tarjeta',      name: 'bbva_pago_tarjeta',        props: true, component: bbva_pago_tarjeta },
        { path: '/op_datos_tarjeta',       name: 'op_datos_tarjeta',         props: true, component: op_datos_tarjeta },
        { path: '/op_pago_tarjeta',        name: 'op_pago_tarjeta',          props: true, component: op_pago_tarjeta },
        { path: '/op_pago_tarjeta_3ds',    name: 'op_pago_tarjeta_3ds',      props: true, component: op_pago_tarjeta_3ds },
        { path: '/mercado_pago',           name: 'mercado_pago',             props: true, component: mercado_pago },
        // { path: '/bbva_pago_tarjeta_autogestionado',      name: 'bbva_pago_tarjeta_autogestionado', props: true, component: bbva_pago_tarjeta_autogestionado },

    ]
})

export default {
  router: router,
  props: ["id_pedido", "pasarelas_json"],
  data() {
    return {
      pago: {
        contacto: {},
        entrega: {},
        domicilio_envio: {},
        datos_facturacion: {},
        solicitar_factura: {},
        metodo_pago: {},
        netpay: {},
        netpay_raw: '',
        domicilio_tarjeta: {},
        pago_exitoso: {},
        colegio: {}
      },
      pedido: {},
      pasarelas: []
    };
  },
  methods: {
    e(err) {
        console.error(err)
    },
    routeListener(objeto, message) {
        console.log("Mensaje", message)
        this.pago[objeto] = message
    },
    navegacion(pagina) {
    console.log('Cambio a página: ' + pagina)

      switch(pagina) {
        case 0: history.back(); break;
        case 1: this.$router.replace ({ name: 'contacto',                params: { pago: this.pago, pedido: this.pedido } }).catch(err => { this.e(err) }) ; break;
        case 2: this.$router.replace ({ name: 'entrega',                 params: { pago: this.pago, pedido: this.pedido } }).catch(err => { this.e(err) }) ; break;
        case 3: this.$router.replace ({ name: 'domicilio_envio',         params: { pago: this.pago, pedido: this.pedido } }).catch(err => { this.e(err) }) ; break;
        case 4: this.$router.replace ({ name: 'solicitar_factura',       params: { pago: this.pago, pedido: this.pedido } }).catch(err => { this.e(err) }) ; break;
        case 5: this.$router.replace ({ name: 'datos_facturacion',       params: { pago: this.pago, pedido: this.pedido } }).catch(err => { this.e(err) }) ; break;
        case 6: this.$router.replace ({ name: 'metodo_pago',             params: { pago: this.pago, pedido: this.pedido } }).catch(err => { this.e(err) }) ; break;
        case 7: this.$router.replace ({ name: 'netpay_datos_tarjeta',    params: { pago: this.pago, pedido: this.pedido } }).catch(err => { this.e(err) }) ; break;
        case 8: this.$router.replace ({ name: 'netpay_pago_tarjeta',     params: { pago: this.pago, pedido: this.pedido, pasarela: JSON.parse(this.pasarelas_json)['netpay'] } }).catch(err => { this.e(err) }) ; break;
        case 9: this.$router.replace ({ name: 'confirmar_pago',          params: { pago: this.pago, pedido: this.pedido } }).catch(err => { this.e(err) }) ; break;
        case 10: this.$router.replace ({ name: 'pago_exitoso',           params: { pago: this.pago, pedido: this.pedido } }).catch(err => { this.e(err) }) ; break;
        case 11: this.$router.replace ({ name: 'pago_rechazado',         params: { pago: this.pago, pedido: this.pedido } }).catch(err => { this.e(err) }) ; break;
        case 12: this.$router.replace ({ name: 'referencia_pago',        params: { pago: this.pago, pedido: this.pedido } }).catch(err => { this.e(err) }) ; break;
        case 13: this.$router.replace ({ name: 'referencia_pago_tienda', params: { pago: this.pago, pedido: this.pedido } }).catch(err => { this.e(err) }) ; break;
        case 14: document.location.href = '/pedidos'; break;
        case 15: this.$router.replace ({ name: 'bbva_datos_tarjeta',     params: { pago: this.pago, pedido: this.pedido } }).catch(err => { this.e(err) }) ; break;
        case 16: this.$router.replace ({ name: 'bbva_pago_tarjeta',      params: { pago: this.pago, pedido: this.pedido } }).catch(err => { this.e(err) }) ; break;
        case 17: this.$router.replace ({ name: 'op_pago_tienda',         params: { pago: this.pago, pedido: this.pedido } }).catch(err => { this.e(err) }) ; break;
        case 18: this.$router.replace ({ name: 'op_datos_tarjeta',       params: { pago: this.pago, pedido: this.pedido } }).catch(err => { this.e(err) }) ; break;
        case 19: this.$router.replace ({ name: 'op_pago_tarjeta',        params: { pago: this.pago, pedido: this.pedido, pasarela: JSON.parse(this.pasarelas_json)['openpay'] } }).catch(err => { this.e(err) }) ; break;
        case 20: this.$router.replace ({ name: 'op_pago_tarjeta_3ds',    params: { pago: this.pago, pedido: this.pedido, pasarela: JSON.parse(this.pasarelas_json)['openpay'] } }).catch(err => { this.e(err) }) ; break;
        case 21: this.$router.replace ({ name: 'mercado_pago',           params: { pago: this.pago, pedido: this.pedido } }).catch(err => { this.e(err) }) ; break;
      }
    },
    cargaConfiguracionColegio(colegio_id) {
        axios.get("/api_web/colegio/" + colegio_id)
        .then(res => {
            this.pago.colegio = res.data.data
            this.navegacion(1)
        })
        .catch(err => {
            Swal.fire({
                icon: 'error',
                text: 'Ocurrió un error, intente de nuevo más tarde.',
                confirmButtonText: 'Cerrar',
            })
        })
    }
  },
  mounted() {
      this.pasarelas = JSON.parse(this.pasarelas_json)

      axios.get("/api_web/pedido/carrito/" + this.id_pedido).then(response => {
            this.pedido = response.data.data
            this.cargaConfiguracionColegio(this.pedido.colegio_id)
        }, fail => {
            Swal.fire({
                icon: 'error',
                text: 'Ocurrió un error, intente de nuevo más tarde.',
                confirmButtonText: 'Cerrar',
            })
        })
  }
};
</script>
