<template>

    <div class="w-full flex justify-start h-auto items-center">
        <div class="w-full flex justify-between px-10">
            <div class="flex justify-center items-center w-6/12 2xl:w-5/12">

                <div class="w-full h-auto flex flex-col justify-between p-8 px-16 border border-gray-400 color-gray--bk rob-medium">
                    <div class="flex justify-between py-1">
                        <div class="col_1">
                            <span class="c_cuadro c_positivos">NÚMERO DE CASOS CALIFICADOS POSITIVO</span>
                        </div>
                        <div class="pl-3 block col_2">
                            <span>{{ datos.positivos }}</span>
                        </div>
                    </div>
                    <div class="flex justify-between py-1">
                        <div class="col_1">
                            <span class="c_cuadro c_negativo">NÚMERO DE CASOS CALIFICADOS NEGATIVO</span>
                        </div>
                        <div class="pl-3 block col_2">
                            <span>{{ datos.negativos }}</span>
                        </div>
                    </div>
                    <div class="flex justify-between py-1">
                        <div class="col_1">
                            <span class="c_cuadro c_abiertos">NÚMERO DE CASOS ABIERTOS</span>
                        </div>
                        <div class="pl-3 block col_2">
                            <span>{{ datos.abiertos }}</span>
                        </div>
                    </div>
                    <div class="flex justify-between py-1">
                        <div class="col_1">
                            <span class="c_cuadro c_cerrados">NÚMERO DE CASOS CERRADOS</span>
                        </div>
                        <div class="pl-3 block col_2">
                            <span>{{ datos.cerrados }}</span>
                        </div>
                    </div>
                    <div class="flex justify-between py-1">
                        <div class="col_1">
                            <span>NÚMERO DE CASOS TOTAL</span>
                        </div>
                        <div class="pl-3 block col_2">
                            <span>{{ datos.total }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex items-center justify-end w-5/12 h-60">
                <div class="h-full w-full" id="contenido_grafica" :pos="datos.positivos" :neg="datos.negativos" :abi="datos.abiertos" :cerr="datos.cerrados"></div>
            </div>
        </div>
    </div>

</template>

<script>

    import axios from "axios";

    export default{

        data() {
            return{
                datos: {}
            }
        },
        mounted() {

            axios.get('/api_web/tickets/grafica')
            .then(res => {
                this.datos = res.data.data
                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(() => {
                    var info = google.visualization.arrayToDataTable([
                        ['', '', { role: 'style' }],
                        ['casos positivos', res.data.data.positivos , 'color: #109618'],
                        ['casos negativos', res.data.data.negativos, 'color: #ff5733'],
                        ['casos abiertos', res.data.data.abiertos, 'color: #ff9900'],
                        ['casos cerrados', res.data.data.cerrados, 'color: #3366cc']
                    ]);

                    // Optional; add a title and set the width and height of the chart
                    var options = {
                        legend: 'none',
                        chartArea: {width: '90%', height: '80%'}
                        // 'width':550,
                        // 'height':300
                    };

                    // Display the chart inside the <div> element with id="piechart"
                    var chart = new google.visualization.ColumnChart(document.getElementById('contenido_grafica'));
                    chart.draw(info, options);
                });
            })
            .catch(err => {
                console.error(err);
            })

            // Load google charts

        }
    }

</script>


