
<template>
    <div v-click-outside="cerrarMenu" v-bind:class="{'flex xl:hidden w-16 h-full': (tipo == 'movil' && tipo_usuario != 'admin'), 'hidden': (tipo == 'movil' && tipo_usuario == 'admin'), 'hidden xl:flex w-60 relative': (tipo == 'desktop' && tipo_usuario != 'admin'), 'flex w-60 relative': (tipo == 'desktop' && tipo_usuario == 'admin')}" class="items-center justify-between">

        <button type="button" v-on:click="toggleMenuUsuario()" v-bind:class="{'justify-center h-full': tipo == 'movil', 'justify-between': tipo == 'desktop'}" class="text-gray-500 group bg-white rounded-md inline-flex items-center text-base font-medium hover:text-gray-900 focus:outline-none w-full" aria-expanded="false">
            <a v-if="tipo == 'desktop'" class="-m-3 p-3 flex items-center rounded-lg">

                <img class="h-10 w-auto" src="/assets/img/svg/img_user.svg" alt="">
                <div class="ml-4">
                    <p class="font-13 text-gray-500 uppercase">
                        {{nombre_usuario}}
                    </p>
                </div>
            </a>

            <img v-if="tipo == 'desktop'" src="/assets/img/svg/flecha_abajo.svg" class="w-2 mr-3.5">

            <div v-if="tipo == 'movil'" class="flex flex-col justify-between w-9 h-8">
                <div v-for="i in 3" v-bind:key="i" class="w-full h-1.5 background-green--bk"></div>
            </div>
        </button>

        <div v-bind:class="{hidden: !mostrarMenuUsuario, 'top-0 mt-0 h-screen w-custom-menu background-green--bk': tipo == 'movil', 'top-full mt-7 px-2 sm:px-0': tipo == 'desktop'}" class="absolute z-10 transform left-0 right-0">
            <div v-bind:class="{'shadow-lg border border-gray-400': tipo == 'desktop', 'h-full flex flex-col justify-between': tipo == 'movil'}" class="relative">
                <div v-if="tipo == 'desktop'" class="absolute w-3 h-3 border-t border-r bg-white border-gray-400 right-3 -top-1.5 z-10 transform -rotate-45"></div>

                <div v-if="tipo == 'movil'" class="w-full py-6 px-3">
                    <div v-on:click="cerrarMenu()" class="relative w-7 h-7 cursor-pointer">
                        <div class="bg-white w-full h-1 absolute m-auto top-0 bottom-0 left-0 right-0 transform -rotate-45"></div>
                        <div class="bg-white w-full h-1 absolute m-auto top-0 bottom-0 left-0 right-0 transform rotate-45"></div>
                    </div>
                </div>

                <div v-if="tipo == 'movil'" class="w-full h-custom-menu overflow-x-hidden overflow-y-auto">
                    <div class="w-full flex-col text-white rob-medium font-18 px-4">
                        <a href="/mis-pedidos" class="flex flex-row items-center w-full my-3">
                            <img src="/assets/img/svg/mis_pedidos.svg" alt="MIS PEDIDOS" class="h-5 inline-block pr-4">
                            <span>MIS PEDIDOS</span>
                        </a>
                        <a href="/tickets" class="flex flex-row items-center w-full my-3">
                            <img src="/assets/img/svg/soporte.svg" alt="SOPORTE" class="h-5 inline-block pr-4">
                            <span>SOPORTE</span>
                        </a>
                        <a href="/inicio" class="flex flex-row items-center w-full my-3">
                            <img src="/assets/img/svg/comprar.svg" alt="COMPRAR" class="h-5 inline-block pr-4">
                            <span>COMPRAR</span>
                        </a>
                        <a href="/mi-informacion" class="flex flex-row items-center w-full my-3">
                            <img src="/assets/img/svg/mi_informacion.svg" alt="MI INFORMACIÓN" class="h-5 inline-block pr-4">
                            <span>MI INFORMACIÓN</span>
                        </a>
                    </div>
                </div>

                <div v-if="tipo == 'desktop'" class="bg-white text-gray-500 font-15 rob-light relative grid gap-10 px-5 py-6 sm:gap-8 sm:p-6">
                    <a href="/mi-informacion" class="-m-3 p-3 flex items-center rounded-lg hover:background-blue--bk hover:text-white" v-if="tipo_usuario == 'cliente'">
                        <div>
                            <p>
                                Mi información
                            </p>
                        </div>
                    </a>
                    <a href="/salir" class="-m-3 p-3 flex items-center rounded-lg hover:background-blue--bk hover:text-white">
                        <div>
                            <p>
                                Cerrar sesión
                            </p>
                        </div>
                    </a>
                </div>

                <div v-if="tipo == 'movil'" class="text-white pb-6 w-full">
                    <a href="/salir" class="flex items-center w-full border-b border-white rob-medium font-18 px-4 py-2">
                        <img src="/assets/img/svg/salir.svg" alt="CERRAR SESIÓN" class="h-4 inline-block pr-4">
                        <span>
                            CERRAR SESIÓN
                        </span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

    export default{
        props:{
            nombre_usuario: String,
            tipo: String,
            tipo_usuario: String
        },
        data() {
            return{
                mostrarMenuUsuario: false
            }
        },

        methods: {
            toggleMenuUsuario: function () {
                this.mostrarMenuUsuario = !this.mostrarMenuUsuario
            },
            cerrarMenu: function() {
                if(this.mostrarMenuUsuario) {
                    this.mostrarMenuUsuario = false
                }
            }
        }
    }



</script>
