<template>
       <div class="flex flex-col mb-4 relative">
            <label class="mb-2 uppercase text-grayBT font-rob-light text-left" for="first_name">{{ placeHolder }}</label>
                    <select class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded" v-on:change="actualizaDatos(reg)" v-model="entrada.valor">
                        <option value="1"></option>
                    </select>
            <div class="pointer-events-none absolute right-0 top-12 flex items-center px-2 text-grey-darker">
            <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
        </div>
</template>

<script>
    const axios = require('axios').default

    export default {
        props:{
            placeHolder:String,
            reg:String
        },
        data() {
            return {
                entrada: {
                    valor: '',
                    error: false,
                    mensaje: ''
                }
            }
        },
        methods:{
            actualizaDatos(required_cmp){
                // console.log("Valor: "+this.entrada.valor);
                switch (required_cmp) {
                    case "0":
                        
                        if(this.entrada.valor == ""){
                            this.entrada.error==true
                        }

                        break;

                    case "1":
                        this.entrada.error==false
                        break;
                
                    default:
                        break;
                }

                //  console.log("Entrada error = "+this.entrada.error);
                this.$emit('input', this.entrada)
            }
        }
    }
</script>