<template>
    <div class="flex justify-end items-center w-fu">

        <input class="custom-check--bk" type="checkbox" :name="{check_pago}" :id="{check_pago}"  v-on:click="validarCampo()" v-model="entrada.valor">

        <label class="custom-check-label--bk" :for="{check_pago}">

            <span class="custom-check-span--bk"></span>

        </label>

        <small class="text-xxs text-grayBT font-rob-light">{{ph}}</small>

    </div>
</template>

<script>
    export default {
        props:{
            ph:String,
            reg:String,
            check_pago:String
        },
        data() {
            return {
                entrada: {
                    valor: ''
                }
            }
        },
        methods:{
            validarCampo() {

                // console.log("select: "+this.entrada.valor)

                this.$emit('input', this.entrada)

            }
        }
    }
</script>