<template>
    <div class="flex flex-col mb-4">
        <label class="mb-2 text-left uppercase text-grayBT font-rob-light" for="first_name">{{ placeHolder }}</label>
        <input class="px-3 py-2 border text-grey-darkest font-rob-light "
            :class="{'border-color-red--BK':entrada.error}" v-on:keyup="validarCampo(value.valor)"
            v-model="value.valor" maxlength="50" type="text"/>
        <small class="text-grayBT" v-if="entrada.error"><span>{{ entrada.mensaje }}</span></small>
    </div>
</template>

<script type="text/javascript">
    const numtextReg = /^[0-9a-zA-Z ]+$/ ;
    const numReg = /^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$/ ;
    const txtReg = /[a-zA-Z]{2,254}/ ;
    const numExtInt = /(#|No.+|0-9|)+[-\w]+/;
    const cpReg = /^\d{5}$/;
    const rfcReg = /^([A-ZÑ&]{3,4}) ?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$/
    const corReg = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/

export default {
    props:['placeHolder', 'reg', 'value'],
    data() {
        return {
            entrada: {
                error: false,
                mensaje: '',
                valor: ''
            }
        }
    },

    methods:{
         validarCampo(contenido) {
             this.entrada.valor = contenido
             this.entrada.error = false

             switch(this.reg) {
                 case "0":
                     if(this.entrada.valor == '')
                        this.entrada.error = true
                break;
                 //CAMPOS DE SOLO TEXTO
                 case "1":
                    if(!txtReg.test(contenido)){
                        this.entrada.error = true
                        this.entrada.mensaje = "El formato es inválido"
                    }
                 break;

                 //NUMERO TELEFONICO REQUERIDO
                 case "2":
                    if(!numReg.test(contenido)){
                        this.entrada.error = true
                        this.entrada.mensaje = "El telefono es inválido"
                    }
                 break;

                //NUMERO EXTERIOR REQUERIDO
                 case "3":
                    if(!numExtInt.test(contenido)){
                        this.entrada.error = true
                        this.entrada.mensaje = "El numero exterior es inválido"
                    }
                 break;

                 //NUMERO INTERIOR NO RQUERIDO
                case "4":
                if(contenido == ""){
                        this.entrada.error = false
                    }else if(!numExtInt.test(contenido)){
                        this.entrada.error = true
                        this.entrada.mensaje = "El numero interior es inválido"
                    }
                 break;

                 //CODIOGO POSTAL REQUERIOD
                case "5":
                    if(!cpReg.test(contenido)){
                        this.entrada.error = true
                        this.entrada.mensaje = "El codigo postal es invalido"
                    }
                 break;

                //RFC REQUERIDO
                 case "6":
                    if(!rfcReg.test(contenido)){
                        this.entrada.error = true
                        this.entrada.mensaje = "El RFC es invalido"
                    }
                 break;

                // CORREO REQUERIDO
                case "7":
                    if(!corReg.test(contenido)){
                        this.entrada.error = true
                        this.entrada.mensaje = "El correo es invalido"
                    }
                 break;

                // CORREO REQUERIDO
                case "8":
                    if(!numtextReg.test(contenido)){
                        this.entrada.error = true
                        this.entrada.mensaje = "El campo es invalido"
                    }
                break;

                //NIGUNA VALIDACION
                 case "10":
                    this.entrada.error = false
                 break;
                }

            this.$emit('input', this.entrada)
        }
    }

}
</script>
