<template>
    <div class="flex flex-col mb-4">
        <label class="mb-2 uppercase text-grayBT font-rob-light text-left" for="first_name">{{ ph }}</label>
        <input class="border py-2 px-3 text-grey-darkest font-rob-light " 
        :class="{'border-color-red--BK':entrada.error}" 
        v-on:keyup="validarCampo(entrada.valor)"
        v-model="entrada.valor"
        type="text"/>
        <!-- <small v-if="entrada.error"><span>{{ entrada.mensaje }}</span></small> -->
    </div>
 </template>

<script>

const axios = require('axios').default

const numReg = /^[\(]?[\+]?(\d{2}|\d{3})[\)]?[\s]?((\d{6}|\d{8})|(\d{3}[\*\.\-\s]){3}|(\d{2}[\*\.\-\s]){4}|(\d{4}[\*\.\-\s]){2})|\d{8}|\d{10}|\d{12}$/ ;
const txtReg = /[a-zA-Z]{2,254}/ ;
const numExtInt = /(#|No.+|0-9|)+[-\w]+/;
const cpReg = /^\d{4,5}$/;
const rfcReg = /^([A-ZÑ&]{3,4}) ?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$/

export default {
    props:{
        ph:String,
        reg:String
    },
    data() {
        return {
            entrada: {
                valor: '',
                error: false,
                mensaje: ''
            }
        }
    },
    methods:{
         validarCampo(contenido) {
             switch(this.reg) {

                 //REQUERIDO
                 case "0":
                    if(contenido == ""){
                        this.entrada.error = true
                        this.entrada.mensaje = "*El campo es obligatorio"                    
                    }else{
                        this.entrada.error = false
                    }
                 break;

                 //CAMPOS DE SOLO TEXTO
                 case "1":
                    if(contenido == ""){
                        this.entrada.error = true
                        this.entrada.mensaje = "*El campo es obligatorio"
                    }else if(!txtReg.test(contenido)){
                        this.entrada.error = true
                        this.entrada.mensaje = "El formato es inválido"
                    }else{
                        this.entrada.error = false
                    }
                 break;

                 //NUMERO TELEFONICO REQUERIDO
                 case "2":
                    if(contenido == ""){
                        this.entrada.error = true
                        this.entrada.mensaje = "*El campo es obligatorio"
                    }else if(!numReg.test(contenido)){
                        this.entrada.error = true
                        this.entrada.mensaje = "El telefono es inválido"
                    }else{
                        this.entrada.error = false
                    }
                 break;

                //NUMERO EXTERIOR REQUERIDO
                 case "3":
                    if(contenido == ""){
                        this.entrada.error = true
                        this.entrada.mensaje = "*El campo es obligatorio"
                    }else if(!numExtInt.test(contenido)){
                        this.entrada.error = true
                        this.entrada.mensaje = "El numero exterior es inválido"
                    }else{
                        this.entrada.error = false
                    }
                 break;


                 //NUMERO INTERIOR NO RQUERIDO
                case "4":
                if(contenido == ""){
                        this.entrada.error = false
                    }else if(!numExtInt.test(contenido)){
                        this.entrada.error = true
                        this.entrada.mensaje = "El numero interior es inválido"
                    }else{
                        this.entrada.error = false
                    }
                 break;


                 //CODIOGO POSTAL REQUERIOD
                case "5":
                    if(contenido == ""){
                        this.entrada.error = true
                        this.entrada.mensaje = "*El campo es obligatorio"
                    }else if(!cpReg.test(contenido)){
                        this.entrada.error = true
                        this.entrada.mensaje = "El codigo postal es invalido"
                    }else{
                        this.entrada.error = false
                    }
                 break;
                
                //RFC REQUERIDO
                 case "6":

                    if(contenido == ""){
                        this.entrada.error = true
                        this.entrada.mensaje = "*El campo es obligatorio"
                    }else if(!rfcReg.test(contenido)){
                        this.entrada.error = true
                        this.entrada.mensaje = "El RFC es invalido"
                    }else{
                        this.entrada.error = false
                    }

                 break;


                //NIGUNA VALIDACION
                 case "10":
                    this.entrada.error = false
                 break;
                }
            
                
             //this.entrada = contenido

             //console.log("Entrada error = "+this.entrada.error);

            this.$emit('input', this.entrada)
        }
    }
  
}
</script>