<template>
    <div
        class="flex flex-col justify-start items-center lg:w-full w-11/12 min-h-custom py-4"
        id="mi-informacion"
    >
        <div class="border rounded-md border-gray-300 lg:w-6/12 w-11/12 max-w-full h-auto lg:p-8 px-3 py-5">
            <div class="flex flex-col w-auto h-auto">
                <div class="text-sm text-left flex justify-between lg:justify-start items-center">
                    <span class="color-blue--bk uppercase text-lg lg:text-base font-rob-bold">mi información</span>
                </div>
                    <div class="lg:hidden flex justify-end items-center ">
                        <boton-editar-mi-informacion
                            @click.native="editar"
                            v-if="isHidden"
                            texto="editar"
                        ></boton-editar-mi-informacion>
                        <boton-editar-mi-informacion
                            @click.native="guardar"
                            v-if="!isHidden"
                            texto="guardar"
                        ></boton-editar-mi-informacion>
                    </div>

                <div class="lg:flex lg:justify-end lg:items-center hidden">
                    <boton-editar-mi-informacion
                        @click.native="editar"
                        v-if="isHidden"
                        texto="editar"
                    ></boton-editar-mi-informacion>
                    <boton-editar-mi-informacion
                        @click.native="guardar"
                        v-if="!isHidden"
                        texto="guardar"
                    ></boton-editar-mi-informacion>
                </div>
            </div>

            <div
                class="w-full h-auto border-t flex lg:flex-row  flex-col items-center pb-4 pt-6 mt-2 lg:mb-5"
            >
                <div class="">
                    <img
                        class="lg:h-32 lg:mr-8 lg:mb-0 w-auto h-24 mb-8 mr-0"
                        src="assets/img/svg/img_user.svg"
                        alt="img-user"
                    />
                </div>

                <div
                    class="flex flex-col lg:w-2/3 w-full lg:h-28 h-auto text-left justify-between "
                    v-if="isHidden"
                >
                    <!-- <div
                        class="flex flex-row items-center justify-start"> -->
                        <div class="flex justify-start lg:flex-row flex-col lg:m-0 mb-5">

                            <span-titulo
                            texto="nombre"
                            class="w-24 lg:w-28 text-grayBT"
                            ></span-titulo>

                             <span-datos-mi-informacion
                            :texto="nombre_usuario + ' ' + apellido_usuario"
                            class="lg:ml-7 m-0"
                             ></span-datos-mi-informacion>

                        </div>


                        <div class="flex justify-start lg:flex-row flex-col lg:m-0 mb-5">

                            <span-titulo
                            texto="correo"
                            class="w-24 lg:w-28"
                            ></span-titulo>

                            <span-datos-mi-informacion
                            :texto="correo_usuario"
                            :correo="si"
                            class="lg:ml-7 m-0"
                            ></span-datos-mi-informacion>

                        <!-- <span-datos-mi-informacion class="lg:hidden "
                            :texto="nombre_usuario + ' ' + apellido_usuario"
                        ></span-datos-mi-informacion> -->

                         </div>

                         <div class="flex justify-start lg:flex-row flex-col lg:m-0 mb-1">

                            <span-titulo
                            texto="contraseña"
                            class="w-24 lg:w-28"
                            ></span-titulo>

                            <span-datos-mi-informacion
                            texto=" ********** "
                            class="lg:ml-7 m-0"
                            ></span-datos-mi-informacion>

                        </div>



                    <!-- <span-datos-mi-informacion class="lg:hidden "
                        :texto="correo_usuario"
                    ></span-datos-mi-informacion> -->



                    <!-- <span-datos-mi-informacion class="lg:hidden "
                        texto=" **********"
                    ></span-datos-mi-informacion> -->

                <!-- </div> -->

                <!-- <div
                    class="lg:flex flex-col w-3/12 mt-4 text-left hidden"
                    v-if="!isHidden"
                >
                    <span-etiqueta-mi-informacion
                        texto="nombre"
                    ></span-etiqueta-mi-informacion>
                    <span-etiqueta-mi-informacion
                        texto="apellido"
                    ></span-etiqueta-mi-informacion>
                    <span-etiqueta-mi-informacion
                        texto="correo"
                    ></span-etiqueta-mi-informacion>
                    <span-etiqueta-mi-informacion
                        texto="nueva contraseña"
                    ></span-etiqueta-mi-informacion>
                    <span-etiqueta-mi-informacion
                        texto="confirmar contraseña"
                    ></span-etiqueta-mi-informacion>
                </div> -->

                <!-- <div
                    class="lg:flex flex-col w-6/12 mt-4 text-left hidden"
                    v-if="isHidden"
                > -->



                </div>

                <div
                    class="flex flex-col lg:w-6/12 w-full mt-4 text-left"
                    v-if="!isHidden"
                >

                    <form
                        :action="link"
                        method="post"
                        autocomplete="on"
                        ref="form"
                    >
                        <div
                            v-for="item in formItems"
                            :key="item.id"
                            class="form-item"
                        >

                            <span-titulo
                                :texto="item.titulo"
                            ></span-titulo>

                            <input
                                :type="item.type"
                                :id="item.id"
                                :name="item.id"
                                v-model="item.value"
                                :placeholder="item.placeholder"
                                v-on:keyup="clean"
                                :disabled="item.disabled"
                                class="text-grayBT text-base mb-1 roundedfocus:bg-white border border-gray-200 focus:outline-none focus:z-10 lg:text-lg sm:text-sm md:text-base w-full p-1"
                            />
                        </div>
                        <input type="hidden" name="_token" :value="token" />
                        <input
                            type="submit"
                            style="background-color:transparent; cursor:auto; pointer-events:none"
                            value=" "
                            id="submit_editar_mi_informacion"
                        />
                    </form>
                </div>
            </div>
            <div
                class="w-full flex justify-center uppercase font-bold text-red-500 mb-4"
            >
                {{ mensaje_error_mi_informacion }}
            </div>

            <div
                class="text-sm text-gray-300 flex justify-center items-center mb-2"
            >
                <span class="lg:text-left text-center font-rob-light"
                    >PUEDES CAMBIAR ESTA INFORMACIÓN CUANDO REALICES TU
                    SIGUIENTE PEDIDO</span
                >
            </div>

            <div
                class="w-full h-auto border-t flex flex-col justify-start items-start px-2 py-5"
            >
                <div class="text-sm mb-4">
                    <span class="color-blue--bk font-rob-bold col-span-6"
                        >ALUMNOS</span
                    >
                </div>
                <div
                    class="text-grayBT text-base "
                    v-for="alumno in alumnos_resumen_pedido" v-bind:key="alumno.id">

                    <span class="font-rob-light" v-if="alumno.nombre != null"
                        >{{ alumno.nombre }} {{ alumno.apellido_paterno }}
                        {{ alumno.apellido_materno }}</span
                    >


                </div>
                <div class="text-grayBT text-base mb-4" v-show="alumnos_resumen_pedido == ''">
                    <span class="font-light">Sin alumnos registrados.</span>
                </div>
            </div>

            <div
                class="w-full h-auto border-t flex flex-col justify-start items-start px-2 py-5"
            >
                <div class="text-sm mb-4">
                    <span class="color-blue--bk font-rob-bold col-span-6"
                        >DIRECCIÓN ÚLTIMO PEDIDO</span>
                </div>

                <div class="text-grayBT text-base  w-10/12">
                    <span class="font-rob-regular leading-tight"
                        ><label class="font-rob-bold lg:hidden" v-show="calle != '' && no_exterior == ''">DIRECCIÓN: </label>{{ calle }} {{ no_exterior }}
                        {{
                            no_interior == 0 ? "" : " Interior " + no_interior
                        }}
                        {{ colonia }} {{ cp }} {{ estado }}
                        {{ municipio }}</span
                    >
                    <span class="font-rob-regular leading-tight" v-show="calle == '' && no_exterior == '' ">No se han registrado envios a su dirección.</span>
                </div>
            </div>

            <div
                class="w-full h-auto border-t flex flex-col justify-start items-start px-2 py-5"
            >
                <div class="text-sm">
                    <span class="color-blue--bk font-bold col-span-6"
                        >DATOS DE FACTURACIÓN</span>
                </div>

                <div class="flex lg:flex-row flex-col justify-start items-start w-full text-left">

                    <div class="flex flex-col lg:w-5/12 w-full mt-4" v-show="razon_social != '' ">


                        <div class="pb-3 break-all">

                            <div class="text-grayBT text-base lg:mb-1">
                                <span class="font-rob-bold">NOMBRE O RAZÓN SOCIAL</span>
                            </div>

                            <div class="text-grayBT text-base lg:mb-1">
                                <span class="font-rob-regular">{{ razon_social }}</span>
                            </div>

                        </div>

                        <div class="pb-3 break-all">


                            <div class="text-grayBT text-base lg:mb-1">
                                <span class="font-rob-bold">CORREO</span>
                            </div>

                            <div class="text-grayBT text-base lg:mb-1">
                                <span class="font-rob-regular">{{ email_factura }}</span>
                            </div>

                        </div>

                        <div class="pb-3 lg:pb-0">

                            <div class="text-grayBT text-base lg:mb-1">
                                <span class="font-rob-bold">METODO DE PAGO</span>
                            </div>

                            <div class="text-grayBT text-base lg:mb-1">
                                <span class="font-rob-regular">{{metodo_pago.codigo}} - {{metodo_pago.descripcion}}</span>
                            </div>

                        </div>

                    </div>

                    <div class="flex flex-col lg:w-5/12 w-full lg:mt-4 lg:ml-4 ml-0" v-show="razon_social != '' ">

                        <div class="pb-3 break-all">

                            <div class="text-grayBT text-base lg:mb-1">
                                <span class="font-rob-bold">RFC</span>
                            </div>

                            <div class="text-grayBT text-base lg:mb-1">
                                <span class="font-rob-regular">{{ rfc }}</span>
                            </div>

                        </div>

                        <div class="pb-3 break-all">

                            <div class="text-grayBT text-base lg:mb-1">
                                <span class="font-rob-bold">USO DE CFDI</span>
                            </div>

                            <div class="text-grayBT text-base lg:mb-1">
                                <span class="font-rob-regular">{{usoCFDI.codigo}} - {{usoCFDI.descripcion}}</span>
                            </div>

                        </div>

                        <div class="">

                            <div class="text-grayBT text-base lg:mb-1">
                                <span class="font-rob-bold">FORMA DE PAGO</span>
                            </div>

                            <div class="text-grayBT text-base lg:mb-1">
                                <span class="font-rob-regular">{{forma_pago.codigo}} - {{forma_pago.descripcion}}</span>
                            </div>

                        </div>

                    </div>

                    <div class="flex flex-col w-full mt-4 text-grayBT text-base" v-show="razon_social == '' ">
                        No se han registrado datos de facturación.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import spanEtiquetaMiInformacion from "./spanEtiquetaMiInformacion.vue";
import spanMiInformacion from "./spanMiInformacion.vue";
import botonEditarMiInformacion from "./botonEditarMiInformacion.vue";

export default {
    components: {
        spanEtiquetaMiInformacion,
        spanMiInformacion,
        botonEditarMiInformacion
    },
    props: {
        nombre_usuario: String,
        apellido_usuario: String,
        correo_usuario: String,
        id_usuario: String,
        token: String
    },
    data() {
        return {
            mensaje_error_mi_informacion: "",
            link: "/usuario/informacion/" + this.id_usuario,
            isHidden: true,
            formItems: [
                {
                    id: "name",
                    type: "text",
                    value: this.nombre_usuario,
                    placeholder: "",
                    titulo: "NOMBRE",
                    disabled: false
                },
                {
                    id: "apellidos",
                    type: "text",
                    value: this.apellido_usuario,
                    placeholder: "",
                    titulo: "APELLIDOS",
                    disabled:false
                },
                {
                    id: "email",
                    type: "email",
                    value: this.correo_usuario,
                    placeholder: "",
                    titulo: "CORREO",
                    disabled: true
                },
                {
                    id: "password",
                    type: "password",
                    value: "",
                    placeholder: "****",
                    titulo: "CONTRASEÑA",
                    disabled: false
                },
                {
                    id: "password_confirmation",
                    type: "password",
                    value: "",
                    placeholder: "****",
                    titulo: "CONFIRMAR CONTRASEÑA",
                    disabled: false
                }
            ],
            alumnos_resumen_pedido: [],
            calle: "",
            no_exterior: "",
            no_interior: "",
            colonia: "",
            cp: "",
            estado: "",
            municipio: "",
            razon_social: "",
            rfc: "",
            email_factura: "",
            usoCFDI: "",
            respuesta_actualizar: {
                name: "",
                apellido: "",
                email: ""
            },
            metodo_pago: "",
            forma_pago: ""
        };
    },
    methods: {
        editar() {
            this.isHidden = false;
        },
        guardar() {
            if (this.$refs.form.name.value == "") {
                this.mensaje_error_mi_informacion = "Por favor introduzca su nombre";
            } else if (this.$refs.form.apellidos.value == "") {
                this.mensaje_error_mi_informacion = "Por favor introduzca su apellido";
            } else if (this.$refs.form.email.value == "") {
                this.mensaje_error_mi_informacion = "Por favor introduzca su email";
            } else if (this.$refs.form.password.value != "") {
                if (this.$refs.form.password.value.length < 8) {
                    this.mensaje_error_mi_informacion = "La contraseña debe ser mayor a 8 caracteres";
                } else if (this.$refs.form.password.value != this.$refs.form.password_confirmation.value) {
                    this.mensaje_error_mi_informacion = "Las contraseñas no coinciden";
                } else {
                    this.$refs.form.submit();
                }
            } else {
                this.$refs.form.submit();
            }
            // this.respuesta_actualizar.apellido = (this.$refs.form.apellido).value
            // this.respuesta_actualizar.email = (this.$refs.form.correo).value

            // console.log(JSON.stringify(this.respuesta_actualizar))
        },
        clean() {
            this.mensaje_error_mi_informacion = "";
        }
    },
    mounted() {
        axios.get("/api_web/mi-informacion-2").then(
            response => {
                this.alumnos_resumen_pedido =
                    response.data.message.alumnos_resumen_pedido;

                    if(response.data.message.direccion_ultimo_pedido){

                        this.calle =
                            response.data.message.direccion_ultimo_pedido.calle;
                        this.no_exterior =
                            response.data.message.direccion_ultimo_pedido.no_exterior;
                        this.no_interior =
                            response.data.message.direccion_ultimo_pedido.no_interior;
                        this.colonia =
                            response.data.message.direccion_ultimo_pedido.colonia;
                        this.cp = response.data.message.direccion_ultimo_pedido.cp;
                        this.estado =
                            response.data.message.direccion_ultimo_pedido.estado.nombre;
                        this.municipio =
                            response.data.message.direccion_ultimo_pedido.municipio.nombre;

                    }

                    if(response.data.message.datos_facturacion_ultimo_pedido){

                        this.razon_social =
                    response.data.message.datos_facturacion_ultimo_pedido.razon_social;
                        this.rfc =
                            response.data.message.datos_facturacion_ultimo_pedido.rfc;
                        this.email_factura =
                            response.data.message.datos_facturacion_ultimo_pedido.correo;
                        this.usoCFDI =
                            response.data.message.datos_facturacion_ultimo_pedido.usoCFDI;
                        this.metodo_pago =
                            response.data.message.datos_facturacion_ultimo_pedido.metodoPago;
                        this.forma_pago =
                            response.data.message.datos_facturacion_ultimo_pedido.formaPago;

                    }

            },
            function(error) {
                console.log(error);
            }
        );
    }
};
</script>
