<template>

    <div class="flex items-center justify-center fixed left-0 bottom-0 w-full h-full bg-gray-600 bg-opacity-50 z-30">
        <div class="bg-white rounded-lg lg:w-1/3 w-11/12">

            <div class="flex flex-col items-start p-4">
                <div class="items-center w-full flex justify-center">
                    <div class="text-gray-900 font-medium text-lg pb-3">
                        <h2 class="rob-bold color-blue--bk text-2xl">NUEVA ENTRADA</h2>
                    </div>
                </div>

                <div class="w-full">

                    <div class="w-full">

                        <textarea name="descripcion" v-model="descripcion" placeholder="ESCRIBE UN COMENTARIO" class="w-full h-44 resize-none border border-gray-200 text-gray-700 rounded-md p-2 focus:outline-none focus:border-gray-200 focus:ring-0"></textarea>

                        <label for="archivos_subir" class="text-center inline-block w-full mt-5 color-gray--bk border border-gray-200 rounded-md background-white--bk p-3 hover:bg-gray-400 hover:text-white cursor-pointer">ADJUNTAR ARCHIVOS</label>

                        <input @change="verArchivos" id="archivos_subir" name="archivos[]" multiple="multiple" type="file" class="hidden" :key="fileInputKey" accept=".png, .gif, .jpeg, .jpg" capture="camera">

                        <div class="w-full text-center p-2 px-6 color-gray--bk border border-gray-200 bg-gray-200 rounded-md mt-3 relative flex justify-center flex-col" v-if="archivos.length > 0">
                            <div v-on:click="clearFiles()" class="w-6 h-6 absolute top-1 right-1 rounded-full border border-gray-500 bg-white cursor-pointer" title="Borrar archivos">
                                <div class="w-9/12 h-0.5 bg-gray-500 absolute m-auto top-0 bottom-0 left-0 right-0 transform rotate-45"></div>
                                <div class="w-9/12 h-0.5 bg-gray-500 absolute m-auto top-0 bottom-0 left-0 right-0 transform -rotate-45"></div>
                            </div>
                            <div v-for="archivo in archivos" v-bind:key="archivo.name" class="block w-auto bg-gray-100 my-1 cursor-default rounded-xl p-1" :title="'Tamaño: ' + (Math.trunc(archivo.size / 1024) > 1024? (Math.trunc(archivo.size / 1024) / 1024).toFixed(2) + ' MB' : Math.trunc(archivo.size / 1024) + ' KB')">{{ archivo.name }}</div>
                        </div>

                        <div class="w-full py-8">
                            <ul>
                                <li v-for="error in errores" v-bind:key="error" class="px-4 text-center color-red--bk">
                                    {{ error }}
                                </li>
                            </ul>

                        </div>


                    </div>

                    <div class="flex justify-around w-full">
                        <button v-on:click="enviar()" class="w-2/5 roboto-bold py-2 px-4 rounded background-green--bk text-white
        hover:bg-white hover:border-color-green--BK hover:color-green--bk lg:text-lg md:text-base sm:text-sm border border-solid">
                            ACEPTAR
                        </button>
                        <button v-on:click="cerrar()" class="w-2/5 bg-transparent hover:bg-gray-400 color-gray--bk roboto-bold hover:text-white py-2 px-4 border border-gray-300 hover:border-transparent rounded">
                        CANCELAR
                        </button>
                    </div>

                </div>
            </div>

        </div>
    </div>

</template>

<script>

    const axios = require('axios').default

    export default {
        props: ['caso'],
        data() {
            return {
                descripcion: "",
                archivos: [],
                fileInputKey: 0,
                errores: []
            }
        },
        computed: {
            validar() {
                this.errores = []

                if(this.descripcion == "") this.errores.push("Debe escribir una Descripción")

                return this.errores.length == 0
            }
        },
        methods: {
            verArchivos: function(evt) {
                this.errores = []
                if (evt.target.files.length > 5) {
                    this.errores.push('No se permiten más de 5 archivos')
                } else {
                    console.log(evt.target.files);
                    this.archivos = evt.target.files;
                }
            },
            clearFiles() {
                this.fileInputKey++;
                this.archivos = [];
            },
            enviar(){
                //sube entrada
                if(this.validar){

                    let formData = new FormData();

                    for( var i = 0; i < this.archivos.length; i++ ){
                        let file = this.archivos[i];
                        formData.append('archivos[' + i + ']', file);
                    }
                    formData.append("csrf_token", document.querySelector('meta[name="csrf-token"]').getAttribute('content'))
                    formData.append("caso", this.caso);
                    formData.append("descripcion",  this.descripcion);

                    axios.post("/api_web/tickets/agregar_entrada", formData).then((result) => {
                        this.cerrar()
                        this.$emit('actualizar')
                    }, (fail) => {
                         Swal.fire('Error',response.data.error,'error')
                        // console.log("Error al cargar los archivos")
                    });

                }

            },
            cerrar() {
                this.$emit('cerrar')
            }

        }
    }

</script>
