<template>

    <div class="flex items-center justify-center fixed left-0 bottom-0 w-full h-full bg-gray-600 bg-opacity-50 z-30">
        <div class="bg-white rounded-lg w-1/3">

            <div class="flex flex-col items-start p-4">
                <div class="flex items-center w-full flex justify-center">
                    <div class="text-gray-900 font-medium text-lg pb-3">

                        <h2 class="rob-bold color-blue--bk text-2xl">¿CERRAR EL CASO?</h2>
                    </div>
                </div>

                <div class="w-full">

                    <div class="w-full">

                        <p class="py-2 font-normal color-gray--bk"><span class="font-bold color-gray--bk">CASO: </span> {{ titulo }}</p>
                        <p class="py-2 font-normal color-gray--bk"><span class="font-bold color-gray--bk">MOTIVO: </span> {{ motivo }}</p>
                        <p class="py-2 font-normal color-gray--bk"><span class="font-bold color-gray--bk">DESCRIPCIÓN: </span> {{ descripcion }}</p>
                        <p class="py-2 font-normal color-gray--bk">
                            <span class="font-bold color-gray--bk">ARCHIVOS ADJUNTOS: </span>
                            <span v-for="item in entradas" :key="item.id">
                                <label v-for="archivo in item.archivos" :key="archivo.id">{{ archivo.nombre }} / </label>
                            </span>
                        </p>

                    </div>
                    <div class="flex justify-around w-full pt-5">
                        <button v-on:click="si()" class="w-2/5 roboto-bold py-2 px-4 rounded background-green--bk text-white
        hover:bg-white hover:border-color-green--BK hover:color-green--bk lg:text-lg md:text-base sm:text-sm border border-solid">
                            SI
                        </button>
                        <button v-on:click="no()" class="w-2/5 bg-transparent hover:bg-gray-400 color-gray--bk roboto-bold hover:text-white py-2 px-4 border border-gray-300 hover:border-transparent rounded">
                        NO
                        </button>
                    </div>

                </div>
            </div>

        </div>
    </div>

</template>

<script>

    const axios = require('axios').default

    export default {
        props: ['csrf','caso','titulo','descripcion','entradas', 'motivo'],
        data() {
            return {

            }
        },
        computed: {

        },
        methods: {
            si(){

                axios.post("/api_web/tickets/cierra_ticket/" + this.caso, {csrf_token: document.querySelector('meta[name="csrf-token"]').getAttribute('content')}).then((result) => {
                    if(result.statusText == "OK"){
                        window.location.href = "/tickets";
                    }
                }, (fail) => {
                    console.log("Error al cerrar el caso")
                });

            },
            no(){
                this.$emit('cerrar_caso')
            }
        }
    }

</script>
