<template>

    <div class="flex items-center justify-center fixed left-0 bottom-0 w-full h-full bg-gray-600 bg-opacity-50 z-30">
        <div class="bg-white rounded-lg w-1/3">

            <div class="flex flex-col items-start p-4">
                <div class="items-center w-full flex justify-center">
                    <div class="text-gray-900 font-medium text-lg pb-3">
                        <h2 class="font-bold text-blue-400 text-xl">CALIFICAR CASO</h2>
                    </div>
                </div>

                <div class="w-full">

                    <div class="w-full">

                        <textarea name="descripcion" v-model="comentario" placeholder="ESCRIBE UN COMENTARIO" id="" class="w-full h-44 resize-none border border-gray-200 text-gray-700 rounded-md p-2 focus:outline-none focus:border-gray-200 focus:ring-0"></textarea>

                        <div class="w-full flex justify-around my-10">
                            <img @click="bien" v-bind:class="{'w-16': bueno}" class="cursor-pointer" width="30" height="30" src="/assets/img/svg/bueno.svg">
                            <img @click="mal" v-bind:class="{'w-16': malo}" class="cursor-pointer" width="30" height="30" src="/assets/img/svg/malo.svg">
                        </div>

                    </div>
                    <div class="w-full py-8">
                        <ul>
                            <li v-for="error in errores" v-bind:key="error" class="px-4 text-center color-red--bk">
                                {{ error }}
                            </li>
                        </ul>
                    </div>
                    <div class="flex justify-around w-full">
                        <button v-on:click="calificar()" class="w-2/5 background-green--bk text-white font-bold py-2 px-4 rounded hover:bg-white hover:border-green-500 hover:text-green-800 lg:text-lg md:text-base sm:text-sm border border-solid border-gray-400">
                            CALIFICAR
                        </button>
                        <button v-on:click="cerrar()" class="w-2/5 bg-transparent hover:bg-gray-500 text-gray-400 font-semibold hover:text-white py-2 px-4 border border-gray-300 hover:border-transparent rounded">
                            CANCELAR
                        </button>
                    </div>

                </div>
            </div>

        </div>
    </div>

</template>

<script>

    const axios = require('axios').default

    export default {
        props: ['caso'],
        data() {
            return {
                calif : null,
                bueno: null,
                malo: null,
                errores: [],
                comentario: ''
            }
        },
        computed: {
            validar() {
                this.errores = []

                if(this.comentario == "") this.errores.push("Debe escribir una Descripción")
                if(this.calif == null) this.errores.push("Debe seleccionar una calificación")

                return this.errores.length == 0
            }
        },
        methods: {
            bien(){
                this.calif = 10;
                this.bueno = true;
                this.malo = false;
                // console.log(this.calif)
            },
            mal(){
                this.calif = 1;
                this.bueno = false;
                this.malo = true;
                // console.log(this.calif)
            },
            calificar(){

                // console.log("calificar btn")

                if(this.validar){

                    // console.log("if validar")

                    axios.post("/api_web/tickets/califica_ticket/" + this.caso, { comentarios: this.comentario, calificacion: this.calif, csrf_token: document.querySelector('meta[name="csrf-token"]').getAttribute('content') } ).then((result) => {
                    console.log(result);
                    if(result.statusText == "OK"){
                            window.location.href = "/tickets";
                        }
                    }, (fail) => {
                        console.log("Error al cerrar el caso")
                    });

                }

            },
            cerrar() {
                this.$emit('cerrar')
            }
        }
    }

</script>
