<template>
<div class="lg:shadow-xl lg:h-5/6 relative lg:ml-6 lg:w-8/12 w-11/12 height-colegios flex flex-col items-center rounded-none rounded-md color-gray--bk lg:border lg:border-solid lg:border-gray-400 lg:my-0 my-5 border border-solid border-gray-400">
    <div class="w-full h-full relative flex flex-wrap flex-col justify-evenly content-center p-3 pb-5">
        <div class="w-full h-1/4 relative flex flex-wrap justify-center content-center">
            <span class="lg:text-3xl text-2xl font-bold color-blue--bk w-full text-center">PIZARRÓN DE NOTIFICACIONES</span>
        </div>

        <div class="w-full h-3/4 relative flex flex-col justify-start items-center">
            <span v-for="elemento in elementos"
            v-bind:key="elemento.id"
            v-bind:class="{'hidden': seleccionado != elemento.id, 'mover-izquierda': claseSeleccionado == 'izquierda', 'mover-derecha': claseSeleccionado == 'derecha'}"
            class="text-base lg:text-3xl rob-bold lg:w-10/12 w-full text-center color-green--bk text-2xl py-5">{{ elemento.texto }}</span>

            <div class="relative flex mt-auto" v-show="elementos.length > 1">
                <div v-for="elemento in elementos" v-bind:key="elemento.id" v-on:click="seleccionar(elemento.id, true)" class="cursor-pointer rounded-xl p-3 mx-0">
                    <div v-bind:class="{'bg-gray-300': seleccionado != elemento.id, 'background-green--bk': seleccionado == elemento.id}" class="w-3 h-3 cursor-pointer rounded-xl hover:bg-gray-400"></div>
                </div>
            </div>

        </div>

    </div>
</div>
</template>

<script>
    const axios = require('axios').default

    export default {
        props: ['colegio'],
        data(){
            return{
                elementos: [],
                seleccionado: 0,
                claseSeleccionado: '',
                cuentaRegresiva: 0
            }
        },
        methods: {
            seleccionar(seleccion, click) {
                if (click && this.seleccionado > seleccion) {
                    this.claseSeleccionado = 'derecha'
                    this.cuentaRegresiva = 2
                } else {
                    this.claseSeleccionado = 'izquierda'
                }
                this.seleccionado = seleccion
            },
            cambioSeleccion() {
                if (this.cuentaRegresiva > 0) {
                    this.cuentaRegresiva--
                } else {
                    if (this.elementos.length > 1) {
                        if (this.seleccionado < (this.elementos.length - 1)) {
                            this.seleccionar(this.seleccionado + 1, false)
                        } else {
                            this.seleccionar(0, false)
                        }
                    }
                }
            },
            cargarNotificaciones(id) {
                axios.get("/api_web/notificaciones/notificaciones/" + id).then(
                    response => {
                        this.elementos = response.data.data

                        for (let index = 0; index < this.elementos.length; index++) {
                            this.elementos[index].id = index
                        }

                        console.log(response.data.message);
                    },
                    fail => {
                        console.log(fail)
                    }
                )
            }
        },
        watch: {
            colegio(newVal) {
                if(typeof(newVal) != 'undefined'){
                    this.cargarNotificaciones(newVal.id)
                }else{
                    console.log("TituloSeccionDerecha: El colegio es indefinido")
                }
            }
        },
        mounted() {
            setInterval(this.cambioSeleccion, 6000)
        }
    }
</script>

<style scoped>
    .color-blue--bk {
        color: #50b9e7;
    }
    .color-green--bk {
        color: #81b84e;
    }

    @keyframes izquierda {
        from {
            transform: translate(150px);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
    @keyframes derecha {
        from {
            transform: translate(-150px);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .mover-izquierda {
        animation-name: izquierda;
        animation-duration: 700ms;
    }

    .mover-derecha {
        animation-name: derecha;
        animation-duration: 700ms;
    }
</style>
