<template>

<div class="flex flex-col items-center w-11/12 h-auto md:w-5/12 lg:w-5/12 rounded-xl lg:py-6 print:py-0 print:w-full" v-if="datos_referencia != ''">

    <div v-if="tipo_operacion == 'BANCARIA'" class="border rounded-lg shadow-xl lg:my-16 lg:width-form lg:w-11/12 lg:max-w-full border-color-gray--BK print:w-full print:my-0" id="seccion_imprimir">
        <div class="flex flex-col items-center w-full p-8 text-base break-words">
            <img class="w-36" :src="colegio.logo" alt="Colegio">
            <div class="flex justify-between w-full color-gray--bk mt-5 py-1.5 border-b border-gray-300">
                <span>FECHA LÍMITE DE PAGO:</span>
                <b>{{ datos_referencia.fecha_limite }}</b>
            </div>
            <div class="w-full py-3 border-b border-gray-300 color-gray--bk">
                <p class="uppercase">
                    <b>NOMBRE:</b>
                    <span>{{ datos_referencia.nombre }}</span>
                </p>

            </div>
            <div class="flex flex-col items-center w-full py-3 text-center border-b border-gray-300">
                <b class="text-base color-gray--bk">{{ datos_referencia.codigo_producto }}</b>
                <b class="text-xl">${{ datos_referencia.monto }} MXN</b>
                <span class="text-xs leading-5">({{ datos_referencia.monto_letra }})</span>
            </div>
            <div class="w-full py-3 border-b border-gray-300 color-gray--bk">
                <p class="my-2 leading-4 uppercase">

                    <span>{{ datos_referencia.nombre_cuenta }}</span>
                </p>
                <p class="my-2 leading-4 uppercase">
                    <b>NÚMERO DE CONTRATO:</b>
                    <span>{{ datos_referencia.numero_contrato }}</span>
                </p>
                <p class="my-2 leading-4 uppercase">
                    <b>NÚMERO DE CONTRATO CLABE:</b>
                    <span>{{ datos_referencia.numero_contrato_clabe }}</span>
                </p>
                <p class="my-2 leading-4 uppercase">
                    <b>BANCO:</b>
                    <span>BBVA BANCOMER</span>
                </p>
            </div>
            <div class="flex flex-col items-center w-full py-3 text-center border-b border-gray-300 color-gray--bk">
                <span>REFERENCIA:</span>
                <b class="text-xl">{{ datos_referencia.referencia_interbancaria.referencia }}</b>
            </div>
            <div class="w-full py-3 text-xs color-gray--bk">
                <!--<ul class="list-outside list-line">
                    <li>Con esta ficha de pago puedes realizar tu pago en la ventanilla del banco o realizar una transferencia electrónica desde el portal de tu banco.</li>
                    <li>Esta referencia de pago será válida para un pago únicamente.</li>
                    <li>En caso de querer realizar tu pago posterior a la fecha de vigencia de esta referencia es necesario generar una nueva referencia.</li>
                </ul>-->

                <strong>Practicaja</strong>
                <ol type="1" class="list-outside list-line">
                    <li>1- Acude a la Practicaja Bancomer y da clic en el botón "pagar servicios".</li>
                    <li>2- Ingresa el número de convenio 1813587. </li>
                    <li>3- Escribe el número de referencia que aparece en tu ficha de pago.</li>
                    <li>4- Captura el monto a pagar.</li>
                    <li>5- Al confirmar el pago, la Practicaja te entregará un comprobante impreso, verifícalo y consérvalo para cualquier aclaración. </li>
                </ol>
                <br>
                <strong class="pt-1">Instructivo Transferencias Bancarias BBVA</strong>
                <ol type="1" class="list-outside list-line">
                    <li>1- Abrir aplicación de BBVA y dar clic en "pagar servicio".</li>
                    <li>2- Ingresa el número de convenio 1813587.</li>
                    <li>3- Escribe el número de referencia que aparece en tu ficha de pago. </li>
                    <li>4- Captura el monto a pagar.</li>
                    <li>5- Al confirmar el pago te arrojará un folio de confirmación, verifícalo y consérvalo para cualquier aclaración. </li>
                </ol>
                <br>
                <strong class="pt-1">Instructivo Transferencias Bancarias Otros Bancos</strong>
                <ol type="1" class="list-outside list-line">
                    <li>1- Abrir la aplicación de su banco y dar clic en transferencia.</li>
                    <li>2- Agregar la clabe interbancaria (18 dígitos). </li>
                    <li>3- En el concepto o motivo de pago escribe el número de referencia que aparece en tu ficha de pago. </li>
                    <li>4- Captura el monto a pagar.</li>
                    <li>5- Al confirmar el pago te arrojará un folio de confirmación, verifícalo y consérvalo para cualquier aclaración. </li>
                </ol>

            </div>
            <div class="flex flex-col items-center w-full text-center pt-7 print:invisible">
                <!-- <button v-print="printConf" v-on:click="print" class="flex items-center justify-center w-40 h-12 text-xl text-white border border-gray-200 rounded-md cursor-pointer background-green--bk hover:bg-gray-400 hover:text-white hover:no-underline"><b>IMPRIMIR</b></button> -->
                <button v-on:click="print" class="flex items-center justify-center w-40 h-12 text-xl text-white border border-gray-200 rounded-md cursor-pointer background-green--bk hover:bg-gray-400 hover:text-white hover:no-underline"><b>IMPRIMIR</b></button>
            </div>
        </div>
    </div>

    <div v-if="tipo_operacion == 'TIENDA'" class="border rounded-lg shadow-xl lg:my-16 lg:width-form lg:w-11/12 lg:max-w-full border-color-gray--BK print:w-full" id="seccion_imprimir">
            <div class="flex flex-col items-center w-full p-8 text-base break-words">
                <img class="w-36" :src="colegio.logo" alt="Colegio">
                <div class="flex justify-between w-full color-gray--bk mt-5 py-1.5 border-b border-gray-300">
                    <span>FECHA LÍMITE DE PAGO:</span>
                    <b>{{ datos_referencia.fecha_limite }}</b>
                </div>
                <div class="w-full py-3 border-b border-gray-300 color-gray--bk">
                    <p>
                        <b>NOMBRE:</b>
                        <span>{{ datos_referencia.nombre }}</span>
                        <br>

                        <span class="hidden">{{ pasarela }}</span>
                    </p>
                </div>
                <div class="flex flex-col items-center w-full py-3 text-center border-b border-gray-300">
                    <b class="text-base color-gray--bk">{{ datos_referencia.codigo_producto }}</b>
                    <!-- <b class="text-xl">${{ datos_referencia.monto.toFixed(2) }} MXN</b> -->
                    <b class="text-xl">${{ datos_referencia.monto }} MXN</b>
                    <span class="text-xs leading-5">({{ datos_referencia.monto_letra }})</span>
                </div>
                <div class="w-full py-3 border-b border-gray-300 color-gray--bk">
                    <img v-if="tipo == 'netpay'" src="/images/comercios_participantes_7.png" alt="Comercios participantes"/>
                    <img v-if="tipo == 'openpay'" src="/images/openpay.png" alt="Comercios participantes"/>
                </div>
                <div class="flex flex-col items-center w-full py-3 text-center border-b border-gray-300 color-gray--bk">
                    <span>REFERENCIA:</span>
                    <b class="text-xl">{{ datos_referencia.referencia.referencia }}</b>
                </div>
                <div v-if="tipo == 'netpay'" class="w-full py-3 text-xs color-gray--bk">
                    <ul class="list-outside list-line">
                        <li>1- Acude al comercio de tu preferencia y solicita realizar un <b>"pago de servicios"</b>.</li>
                        <li>2- Solicita al cajero que elija “pago de servicios por Banco” seleccionando <b>BANORTE</b>.</li>
                        <li>3- Dicta tu número de referencia (<b>19 dígitos</b>).</li>
                        <li>4- Te solicitarán ingresar el número de facturador o número de empresa, proporciona el número <b>002452</b> de NetPay (6 dígitos Farmacias del Ahorro) y <b>2452</b> de NetPay (4 dígitos en 7 Eleven)</li>
                        <li>5- Indicar nuevamente el número de referencia (<b>19 dígitos</b>).</li>
                        <li>6- Indica el monto a pagar en efectivo. *</li>
                        <li>7- Al confirmar el pago el cajero te entregará un comprobante impreso, verifícalo y consérvalo para cualquier aclaración y para la entrega de tus libros. **</li>
                    </ul>
                    <p>
                        <span class="text-blueBT">Te hemos enviado una copia de esta información a tu correo.</span><br>
                        <span><span class="text-blueBT">*</span> Se te cobrará una comisión establecida en cada Comercio.</span><br>
                        <span><span class="text-blueBT">**</span> Al pagar en el comercio autorizado, el pago se verá reflejado en un tiempo estimado de 24 horas.</span>
                    </p>
                </div>

                <div v-if="tipo == 'openpay'" class="w-full py-3 text-xs color-gray--bk">
                    <ul class="list-outside list-line">
                        <li>1- Seleccionar Paynet.</li>
                        <li>2- Ingresar al menú de Pago de Servicios.</li>
                        <li>3- Escanear el código de barras o ingresar el núm. de referencia.</li>
                        <li>4- Ingresa la cantidad total a pagar.</li>
                        <li>5- Cobrar al cliente el monto total más la comisión.</li>
                        <li>6- Confirmar la transacción y entregar el ticket al cliente.</li>
                    </ul>
                    <p>
                        <br><br>
                        <span class="text-blueBT">Te hemos enviado una copia de esta información a tu correo.</span><br>
                        <span><span class="text-blueBT">*</span> Se te cobrará una comisión establecida en cada Comercio.</span><br>
                        <span><span class="text-blueBT">**</span> Al pagar en el comercio autorizado, el pago se verá reflejado en un tiempo estimado de 24 horas.</span><br><br><br>
                        <span>Para cualquier duda sobre como cobrar, por favor llamar al teléfono <b>+52 (55) 5351 7371</b> en un horario de 8am a 9pm de lunes a domingo.</span><br>
                    </p>
                </div>

                <div class="flex flex-col items-center w-full text-center pt-7 boton_imprimir print:invisible">
                    <!-- <a v-print="printConf" class="flex items-center justify-center w-40 h-12 text-xl text-white border border-gray-200 rounded-md cursor-pointer background-green--bk hover:bg-gray-400 hover:text-white hover:no-underline"><b>IMPRIMIR</b></a> -->
                    <a v-on:click="print" class="flex items-center justify-center w-40 h-12 text-xl text-white border border-gray-200 rounded-md cursor-pointer background-green--bk hover:bg-gray-400 hover:text-white hover:no-underline"><b>IMPRIMIR</b></a>
                </div>
            </div>
    </div>

    <a v-bind:href="'/datos-compra/'+pedido" class="appearance-none relative block text-center lg:py-1 lg:my-0 my-5 py-3 px-3 lg:w-4/12 w-full lg:my-1.5 rounded-md color-gray--bk border border-solid border-gray-400 hover:bg-white hover:border-green-500 hover:text-green-800 lg:text-lg md:text-base sm:text-sm print:hidden">REGRESAR</a>

</div>

</template>

<script>

import Swal from 'sweetalert2';
const axios = require('axios').default
import print from 'vue-print-nb'

export default {
    props:['pedido'],
    directives: {
        print
    },
    data() {
        return {
            printConf: {
                id: "#seccion_imprimir",
                popTitle: "Referencia de pago",
                extraHead: "<meta charset='UTF-8'> <meta http-equiv='X-UA-Compatible' content='IE=edge'> <meta name='viewport' content='width=device-width, user-scalable=no'>"
            },
            datos_referencia: {
            },
            tipo_operacion: undefined,
            colegio:{},
            pasarela: undefined,
            respuesta: undefined,
            openpay: 'openpay',
            urlopenpay: undefined,
            tipo: 'netpay'
        }
    },
    methods: {
        print() {
            window.print()
        }
    },
    mounted() {
        axios.get('/api_web/formatos/reimprimir/' + this.pedido).then(response => {

            console.log("1-",response.data.data)
            // console.log("2-",response.data.data.referencia)
            // console.log("3-",JSON.parse(response.data.data.referencia))

            if(response.data.data.hasOwnProperty('referencia')){
                this.datos_referencia = response.data.data
                this.pasarela = response.data.data.referencia
                this.respuesta =  JSON.parse(this.pasarela.response)
            }else{
                this.datos_referencia = response.data.data
                // this.pasarela = response.data.data.referencia_interbancaria
                console.log(this.datos_referencia)
                this.respuesta =  this.datos_referencia
            }

            if(this.respuesta.hasOwnProperty("payment_method")){
                this.urlopenpay =  this.respuesta.payment_method.barcode_url
                this.op = this.urlopenpay.includes(this.openpay) ? true : false
                this.tipo = "openpay"
            }

            if (this.datos_referencia.hasOwnProperty("referencia_interbancaria")) {
                this.tipo_operacion = this.datos_referencia.referencia_interbancaria.tipo
            }else{
                this.tipo_operacion = this.datos_referencia.referencia.tipo
            }

            axios.post("/api_web/colegio/informacion", {
                codigo: this.datos_referencia.colegio_codigo
            }).then(response => {
                this.colegio = response.data.data
            }, fail => {
                Swal.fire({
                    icon: 'error',
                    text: typeof(fail.response.data.message) != 'undefined'? fail.response.data.message: 'Ocurrió un error, intente de nuevo más tarde.',
                    footer: 'Contacte al administrador si el problema persiste.',
                    confirmButtonText: 'Cerrar',
                })
            })

        }, fail => {
            Swal.fire({
                icon: 'error',
                text: typeof(fail.response.data.message) != 'undefined'? fail.response.data.message: 'Ocurrió un error, intente de nuevo más tarde.',
                footer: 'Contacte al administrador si el problema persiste.',
                confirmButtonText: 'Cerrar',
            })
        })

    }
}
</script>
