<template>

     <div class="relative flex flex-col items-center w-11/12 rounded-none rounded-md lg:shadow-xl lg:h-5/6 lg:ml-6 lg:w-8/12 height-colegios color-gray--bk lg:border lg:border-solid lg:border-gray-400 lg:my-0 ">

        <div class="relative w-full mx-5 lg:h-full lg:w-11/12 lg:pt-10">

            <div class="flex items-center justify-around lg:hidden">
                <p class="w-full pl-3 font-bold text-left rob-light color-blue--bk lg:hidden">{{ nivel.paquetes[0].nombre }}</p>
                <div class="w-11/12 h-auto text-right lg:border-t-2 font-11 rob-light lg:block ">
                    <div class="inline-flex items-center justify-between h-10 cursor-pointer" v-on:click="regresar()">
                        <div class="inline-block mr-3 flecha-izquierda"></div>
                        <span>REGRESAR</span>
                    </div>
                </div>
            </div>

            <div class="w-full p-3 border border-gray-400 border-solid rounded-md color-gray--bk h-2/3 lg:border-0">
                <div class="relative h-full">
                <div v-for="(paquete, index) in nivel.paquetes" v-bind:key="index" class="relative h-3/4">

                        <div class="flex items-center w-full border-b-2 lg:grid lg:grid-cols-12 lg:grid-rows-1 lg:gap-4 lg:flex-none">
                            <p class="hidden col-span-7 text-left uppercase font-rob-bold gris lg:block">{{ nivel.nombre }} </p>
                            <p class="hidden col-start-8 uppercase font-rob-bold gris lg:block">ISBN</p>
                            <p class="hidden col-start-11 col-end-13 uppercase font-rob-bold gris lg:block">PRECIO</p>

                            <div class="flex items-center justify-end w-10 h-10 col-span-1 pl-2 lg:w-10">
                                <input class="custom-check--bk" type="checkbox" id="one" v-model="paquete.todos_seleccionados" v-on:change="seleccionarTodos(paquete)">
                                <label class="custom-check-label--bk" for="one">
                                    <span class="custom-check-span--bk"></span>
                                </label>
                            </div>
                            <p class="w-full text-left uppercase rob-light lg:col-span-7"> seleccionar todos los títulos </p>
                        </div>

                        <div class="relative overflow-y-auto h-2/3 recuadro-libros">
                            <!-- <div class="" v-for="(libro, index) in paquete.libros" :key="index"> -->
                            <div class="" v-for="(libro, index) in paquete.libros" :key="index">
                                <div class="grid w-full grid-cols-12 grid-rows-1 gap-4 my-4" v-if="libro.activo == 1">
                                    <div class="flex items-center justify-end w-10 h-10 lg:col-span-1">
                                        <input class="custom-check--bk" type="checkbox" :id="libro.id" v-model="libro.seleccionado" v-on:change="checkClick(libro, paquete)" v-if="(libro.obligatorio == 0 && libro.stock >0) || (libro.   obligatorio == 0 && libro.stock <= 0 && libro.bajo_pedido == 1)">
                                        <input class="custom-check--bk" type="checkbox" :id="libro.id" :checked="true" :disabled = "true" v-if="(libro.obligatorio == 1 && libro.stock >0) || (libro.obligatorio == 1 && libro.stock <= 0 && libro.bajo_pedido == 1)">
                                        <label class="custom-check-label--bk" :for="libro.id">
                                            <span class="custom-check-span--bk"></span>
                                        </label>
                                    </div>
                                    <p class="self-center col-span-11 pl-2 text-sm text-left uppercase rob-light lg:col-start-2 lg:col-end-7">
                                        <!-- {{libro}} -->
                                        {{ libro.nombre }}
                                        <span v-if="libro.obligatorio == 1" class="font-light text-red-500 uppercase rob-light lg:font-normal"> <br> Obligatorio </span>
                                        <span v-if="libro.stock <= 0 && libro.bajo_pedido == 0" class="hidden text-red-500 uppercase rob-light lg:flex"> Agotado </span>
                                        <span v-if="libro.stock <= 0 && libro.bajo_pedido == 1" class="hidden text-red-500 uppercase rob-light lg:flex"> Disponible bajo pedido </span>
                                        <span v-if="libro.stock > 0" class="hidden uppercase rob-light text-greenBT lg:flex">{{libro.stock}} disponibles </span>
                                    </p>
                                    <p class="flex text-sm text-left uppercase rob-light lg:col-start-8 lg:col-end-11 lg:text-center col-span-full lg:pl-0 pl-9 lg:flex-none"><span class="mr-1 font-bold lg:hidden">ISBN </span> {{ libro.isbn }} <label v-if="libro.stock > 0" class="absolute right-0 uppercase rob-light color-blue--bk lg:hidden "> {{libro.stock}} disponibles </label></p>
                                    <p class="flex justify-between text-sm font-bold text-left uppercase rob-light lg:col-start-11 lg:col-end-13 lg:text-center col-span-full lg:pl-0 pl-9 lg:flex-none text-greenBT lg:font-base"><span class="text-black lg:hidden font-rob-bold">PRECIO </span>${{formatPrice(libro.precio)}} MXN</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="relative flex justify-end w-full my-4 border-t-2 h-1/3 lg:grid lg:grid-cols-12 lg:grid-rows-1 lg:gap-4">
                        <span class="mt-4 text-base text-right uppercase font-rob-bold lg:col-start-8 lg:col-span-2 lg:text-left text-grayBT">SUBTOTAL</span>
                        <span class="mt-4 ml-5 text-base text-center font-rob-bold lg:col-start-11 lg:text-left lg:col-end-13 text-greenBT lg:ml-0">${{ formatPrice(subtotal) }} MXN</span>
                    </div>

                </div>
                </div>
                <div class="relative flex justify-center w-full font-bold text-red-500 uppercase">{{mensaje_error}}</div>
                <div class="relative flex justify-center w-full py-10 h-1/3 lg:py-0 lg:mt-10">
                    <div class="relative flex items-center justify-center block w-full h-10 text-center text-white uppercase break-all border border-gray-400 border-solid rounded-none rounded-md appearance-none cursor-pointer font-rob-bold bg-greenBT lg:w-5/12 lg:text-lg md:text-sm sm:text-sm" v-on:click="agregar_carrito">agregar al carrito</div>
                </div>

            </div>

        </div>

</template>


<script>
import Swal from 'sweetalert2';

const axios = require('axios').default

export default {
    props:['colegio', 'seccion', 'nivel', 'csrf'],

    data(){
        return{
            todos_seleccionados: false,
            subtotal: 0,
            subtotalTexto:'',
            carrito_general: {},
            resumenes:[],
            libro_seleccionado:{},
            libros_seleccionados:[],
            lista: true,
            mensaje_error: '',
            sin_libros: false
        }
    },
    computed: {
        movil(){
            return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)
        }
    },
    watch:{
        nivel: function(){
            if(this.nivel != undefined){
                this.subtotal = 0
                if(this.nivel.paquetes.length != 0){
                    // console.log(this.nivel.paquetes);
                this.sin_libros = false;
                this.nivel.paquetes[0].libros.forEach(libro => {
                    if(libro.obligatorio == 1){
                        if (libro.stock <= 0 && libro.bajo_pedido == 1 ) {
                            this.subtotal = this.subtotal + libro.precio
                        }else if (libro.stock>0) {
                            this.subtotal = this.subtotal + libro.precio
                        }

                    }
                });
                this.nivel.paquetes[0].todos_seleccionados = false
                this.nivel.paquetes[0].libros.forEach(libro => {
                    // console.log(libro);
                    libro.seleccionado = false
                });

            }else{
                this.sin_libros = true;
            }
            }
        },
        sin_libros: function(){
            if(this.sin_libros == true){
                this.nivel.paquetes[0] = {
                    activo:1,
                    id:0,
                    libros:[
                    ],
                    nombre: "",
                    todos_seleccionados: false
                }
            }
        }
    },
    mounted(){
        this.calcular()
    },
    methods: {
        checkClick(libro, paquete) {
            if(!libro.seleccionado) paquete.todos_seleccionados = false
            this.calcular()
        },
        calcular() {
            this.subtotal = 0
            if(typeof(this.nivel) != 'undefined'){
                this.nivel.paquetes.forEach(paquete => {
                    paquete.libros.forEach(libro => {
                        if(libro.obligatorio == 1){
                            if(libro.stock > 0){
                                libro.seleccionado = true
                            }else if(libro.stock <= 0 && libro.bajo_pedido == 1){
                                libro.seleccionado = true
                            }else if(libro.stock <= 0 && libro.bajo_pedido == 0){
                                libro.seleccionado == false
                            }

                        }
                        if(libro.seleccionado) this.subtotal += libro.precio
                    });
                });
            }
        },
        seleccionarTodos(paquete) {

            this.nivel.paquetes.forEach(p => {
                if(p.id == paquete.id)
                    p.libros.forEach(l => {
                        if(l.obligatorio == 1 && l.activo == 1){
                            if(l.stock >0){
                                l.seleccionado = true
                            }else{
                                if(l.bajo_pedido == 1){
                                    l.seleccionado = true
                                }else{
                                    l.seleccionado = false
                                }
                            }
                        }else if(l.obligatorio == 0 && l.activo == 1){
                            if(l.stock>0){
                                l.seleccionado = paquete.todos_seleccionados
                            }else{
                                if(l.bajo_pedido == 1){
                                    l.seleccionado = paquete.todos_seleccionados
                                }
                            }
                        }
                    })
                })
            this.calcular()

        },
        agregar_carrito(){
                this.nivel.paquetes.forEach(p => {
                    p.libros.forEach(l => {
                        if(l.obligatorio == 1){
                            if (l.stock > 0) {
                                this.libro_seleccionado = {}
                                this.libro_seleccionado.id = l.id
                                this.libro_seleccionado.precio = l.precio
                                this.libros_seleccionados.push(this.libro_seleccionado)
                            }else{
                                if(l.bajo_pedido == 1){
                                    this.libro_seleccionado = {}
                                    this.libro_seleccionado.id = l.id
                                    this.libro_seleccionado.precio = l.precio
                                    this.libros_seleccionados.push(this.libro_seleccionado)
                                }
                            }

                        }else if(l.obligatorio == 0){
                            if(l.seleccionado == true){
                            this.libro_seleccionado = {}
                            this.libro_seleccionado.id = l.id
                            this.libro_seleccionado.precio = l.precio
                            this.libros_seleccionados.push(this.libro_seleccionado)
                            }
                        }
                    })
                })
            this.carrito_general.colegio_id = this.colegio.id
            this.carrito_general.paquete_id = this.nivel.paquetes[0].id
            this.carrito_general.libros = this.libros_seleccionados

            this.carrito_general._token = this.csrf

            if(this.carrito_general.libros.length>0){   // Guardar el carrito
                // console.log(this.carrito_general);
                axios.post('/api_web/pedido/carrito', this.carrito_general)

                .then(function (response) {
                    if(response.status == '200'){
                        window.location.href = '/carrito';
                    }
                })
                .catch(function (error) {
                    // console.log()
                    Swal.fire({
                        icon: 'error',
                        text: error.response.data.message,
                        confirmButtonText: 'Cerrar',
                    })
                });
            }else{
                this.mensaje_error = "Por favor selecciona un libro para continuar"
            }

        },
        regresar(){
            this.$emit("seleccionNivel", undefined);
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace(',', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
        }
    },
}
</script>


<style scoped>

.recuadro-libros::-webkit-scrollbar {
  width: 5px;
}
.recuadro-libros {
  scrollbar-width: thin;
}

.recuadro-libros::-webkit-scrollbar-thumb {
  background-color: #50b9e7;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

.gris{
    color:#808080;
}

.custom-check--bk {
    width: 0;
    height: 0;
    opacity: 0;
    display: none;
}

.custom-check-label--bk {
    display: flex;
    align-items: center;
    color: #9e9e9e;
    position: relative;
}

.custom-check-label--bk>.custom-check-span--bk {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    border: 2px solid #808080;
    margin-right: 15px;
    border-radius: 3px;
    transition: all .3s;
}

.custom-check--bk:checked + .custom-check-label--bk > .custom-check-span--bk {
	border: 10px solid #50b9e7;
	animation: bounce 250ms;
}

.custom-check--bk:checked + .custom-check-label--bk > .custom-check-span--bk::before {
	content: '';
	position: absolute;
	top: 6px;
	left: 4px;
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	transform: rotate(45deg);
	transform-origin: 0% 100%;
	animation: checked-box 125ms 250ms forwards;
}

@keyframes checked-box {
	0% {
		width: 0;
		height: 0;
		border-color: #FFFFFF;
		transform: translate(0,0) rotate(45deg);
	}
	33% {
		width: 4px;
		height: 0;
		border-color: #FFFFFF;
		transform: translate(0,0) rotate(45deg);
	}
	100% {
		width: 5px;
		height: 10px;
		border-color: #FFFFFF;
		transform: translate(0, -5px) rotate(45deg);
	}
}

@keyframes bounce {
	0% {
		transform: scale(1);
	}
	33% {
		transform: scale(.7);
	}
	100% {
		transform: scale(1);
	}
}

</style>
