<template>
        <div class="h-auto lg:shadow-xl relative lg:h-5/6 lg:mr-6 p-5 lg:w-4/12 w-11/12 lg:height-colegios flex flex-col items-center rounded-none rounded-md color-gray--bk border border-solid border-gray-400">

            <div class="relative flex h-3/6 self-center items-center justify-center mb-3">
                <img class="relative lg:w-3/4 w-2/4" v-bind:src="colegio.logo" alt="">
            </div>
            <div class="flex relative lg:w-11/12 lg:h-3/6 w-full overflow-x-hidden" v-if="!seccion">
                <div class="flex grid grid-cols-2 gap-4 w-full">
                    <div v-for="(seccion, index) in colegio.secciones" :key="index" class="w-full">
                        <div @click="seleccionarSeccion(seccion)" class="w-full">
                            <BotonSecciones :texto='seccion.nombre'></BotonSecciones>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="seccion" class="relative lg:w-11/12 w-full lg:h-3/6 h-full">
                <div class="lg:h-5/6 h-full relative rounded-md color-gray--bk lg:border lg:border-solid lg:border-gray-400 flex flex-col items-center">
                    <div class="mt-2 h-10 w-11/12 text-left lg:flex hidden">
                        <span class="relative w-full border-b-2 rob-bold uppercase">{{ seccion.nombre }}</span>
                    </div>
                    <div class="h-2/3 w-11/12 uppercase text-left overflow-y-auto recuadro-secciones overflow-x-hidden pr-4 my-4 lg:block hidden">
                        <div @click="seleccionarNivel(nivel)" v-for="(nivel, index) in seccion.niveles"
                        class="cursor-pointer hover:color-blue--bk w-full contenedor-flecha overflow-hidden lg:py-0 my-3 py-5 text-center" v-bind:class="{seleccionado: nivel == guardado}"
                        :key="index">
                            <span class="overflow-ellipsis rob-light"> {{nivel.nombre}}</span>
                            <div class="flecha-derecha lg:visible invisible"></div>
                        </div>

                    </div>
                    <div class="lg:hidden h-auto w-11/12 uppercase text-left  my-4">
                        <div @click="seleccionarNivel(nivel)" v-for="(nivel, index) in seccion.niveles"
                        class="cursor-pointer hover:color-blue--bk w-full overflow-hidden lg:border-none border border-solid border-gray-400 rounded-md my-3 py-5 lg:flex-none flex lg:justify-start justify-center" v-bind:class="{seleccionado: nivel == guardado}"
                        :key="index">
                            <span class="overflow-ellipsis rob-light text-center font-bold">{{nivel.nombre}}</span>
                        </div>
                    </div>

                    <div class="relative h-auto lg:border-t-2 font-11 text-right w-11/12 rob-light lg:block ">
                        <div @click="quitarSeleccion()" class="inline-flex h-10 justify-between items-center cursor-pointer">
                            <div class="flecha-izquierda inline-block mr-3"></div>
                            <span>REGRESAR</span>
                        </div>
                    </div>

                </div>
            </div>


        </div>

</template>

<script>

import BotonSecciones from './BotonSecciones.vue'

export default {
    components: {
        BotonSecciones
    },
    props: ['colegio', 'seccion'],
    data(){
        return{
            guardado: undefined
        }
    },
    // computed: {
    //     nivelMenu() {
    //         if(typeof(this.seccion) == 'undefined') return 1
    //         return 2
    //     }
    // },
    methods:{
        seleccionarSeccion(seccion) {
            this.$emit("seleccionSeccion", seccion)

            if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
                this.$emit("verPizarron", false)
            }

        },
        seleccionarNivel(nivel){
            this.$emit("seleccionNivel", nivel);
            this.guardado = nivel;
            if(!/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
                this.$emit("verPizarron", false)
            }
        },
        quitarSeleccion() {
            this.$emit("seleccionSeccion", undefined)
            this.$emit("seleccionNivel", undefined)
            this.guardado = undefined,
            this.$emit("verPizarron", true)
        }
    }
}
</script>

<style scoped>
.recuadro-secciones::-webkit-scrollbar {
  width: 5px;
}

.recuadro-secciones::-webkit-scrollbar-thumb {
  background-color: #50b9e7;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}
.recuadro-secciones{
    scrollbar-width: thin;
}
</style>
