<template>
    <div class="w-full h-auto flex items-center">

        <!-- <form action="/registro" class="w-full" method="POST"> -->
        <div class="w-full">
            <input type="hidden" name="_token" :value="csrf" />
            <div>

                <input v-model="nombre" v-on:input="habilitarBoton" type="text" v-bind:class="{'border-gray-300': (validaNombre || nombre.length == 0), 'border-color-red--BK': (!validaNombre && nombre.length != 0)}" class="appearance-none relative block w-full px-3 h-14 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 lg:text-lg sm:text-sm md:text-base" placeholder="Nombre*" name="name" value="">

            </div>

            <div class="mt-7">

                <input v-model="apellidos" v-on:input="habilitarBoton" type="text" v-bind:class="{'border-gray-300': (validaApellidos || apellidos.length == 0), 'border-color-red--BK': (!validaApellidos && apellidos.length != 0)}" class="appearance-none relative block w-full px-3 h-14 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 lg:text-lg sm:text-sm md:text-base" placeholder="Apellidos*" name="apellidos" value="">

            </div>

            <div class="mt-7">

                <input v-model="correo" v-on:input="habilitarBoton" type="email" v-bind:class="{'border-gray-300': (validaCorreo || correo.length == 0), 'border-color-red--BK': (!validaCorreo && correo.length != 0)}" class="appearance-none relative block w-full px-3 h-14 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 lg:text-lg sm:text-sm md:text-base" placeholder="Correo electrónico*" name="email">

            </div>

            <div class="mt-7">

                <input v-model="confirmacionCorreo" v-on:input="habilitarBoton" type="email" v-bind:class="{'border-gray-300': (correo == confirmacionCorreo || confirmacionCorreo.length == 0), 'border-color-red--BK': (correo != confirmacionCorreo && confirmacionCorreo.length != 0)}" class="appearance-none relative block w-full px-3 h-14 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 lg:text-lg sm:text-sm md:text-base" placeholder="Confirmar Correo electrónico*" name="email_confirmation">

            </div>

            <div class="mt-7">

                <input v-model="pass" v-on:input="habilitarBoton" type="password" v-bind:class="{'border-gray-300': (validaPass || pass.length == 0), 'border-color-red--BK': (!validaPass && pass.length != 0)}" class="appearance-none relative block w-full px-3 h-14 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 lg:text-lg sm:text-sm md:text-base" placeholder="Contraseña (mínimo ocho caracteres)" name="password">

            </div>

            <div class="mt-7">

                <input v-model="confirmacionPass" v-on:input="habilitarBoton" type="password" v-bind:class="{'border-gray-300': (pass == confirmacionPass || confirmacionPass.length == 0), 'border-color-red--BK': (pass != confirmacionPass && confirmacionPass.length != 0)}" class="appearance-none relative block w-full px-3 h-14 py-2 border placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:z-10 lg:text-lg sm:text-sm md:text-base" placeholder="Confirmar Contraseña*" name="password_confirmation">

            </div>

            <!-- SPAN / CHECKBOX -->
            <div class="w-full px-4 text-center">

                <div class="w-full text-right">

                        <span class="text-md font-rob-light text-grayDarkBT">*Campos obligatorios</span>

                </div>

                <div class="w-full justify-end flex items-center text-right">

                    <div class="flex justify-end items-center">

                        <input v-model="check" v-on:change="habilitarBoton" class="custom-check--bk" type="checkbox" id="one" name="aviso">

                        <label class="custom-check-label--bk" for="one">

                            <span class="custom-check-span--bk"></span>

                        </label>

                    </div>

                    <label for="terminos-condiciones" class="text-xs font-rob-light text-grayDarkBT">Acepto <a href="aviso-de-privacidad/" target="_blank" class="color-blue--bk cursor-pointer">Aviso de privacidad</a> y <a href="politicas/" target="_blank" class="color-blue--bk cursor-pointer">Políticas de compra, entrega y devolución</a></label>

                </div>

            </div>

            <button v-if="habilitado" v-on:click="enviar_datos" class="background-green--bk hover:bg-white hover:border-color-green--BK hover:color-green--bk cursor-pointer appearance-none uppercase relative block text-center py-3 h-14 px-3 w-full my-5 rounded-md color-white--bk border border-solid lg:text-lg md:text-base sm:text-sm rob-bold">Registrarse</button>
            <div v-if="!habilitado" class="bg-gray-400 cursor-default appearance-none uppercase relative text-center py-3 h-14 px-3 w-full my-5 rounded-md color-white--bk border border-solid border-gray-200 lg:text-lg md:text-base sm:text-sm rob-bold select-none flex items-center justify-center">Registrarse</div>

            <span class="text-sm color-red--bk rob-light">{{ error.length > 0? error : '&nbsp;' }}</span>

            <div class="w-full px-6 text-center flex flex-col box-border md:hidden">
                <div class="border-b border-gray-400 w-full mt-2"></div>
                <a href="/" class="color-blue--bk cursor-pointer">Regresar</a>
            </div>
        </div>
        <!-- </form> -->

    </div>

</template>

<script>
    import axios from "axios";
    import Swal from 'sweetalert2';

    export default {
        props:['error', 'csrf', 'apellido'],
        data(){
            return {
                habilitado: false,
                nombre: '',
                apellidos: '',
                correo: '',
                confirmacionCorreo: '',
                pass: '',
                confirmacionPass: '',
                check: false,
                validaNombre: false,
                validaApellidos: false,
                validaCorreo: false,
                validaPass: false,
                datos_usuario:{}
            }
        },
        methods: {
            habilitarBoton(){
                this.validaNombre = /^(?!.* $)([A-Z]|[a-z ]|[ñÑ'áéíóúÁÉÍÓÚ])+$/.test(this.nombre);
                this.validaApellidos = /^(?!.* $)([A-Z]|[a-z ]|[ñÑ'áéíóúÁÉÍÓÚ])+$/.test(this.apellidos);
                this.validaCorreo = /^([\da-z_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/.test(this.correo);
                this.validaPass = this.pass.length >= 8;

                this.habilitado = (
                    (
                        this.nombre.length > 0 &&
                        this.apellidos.length > 0 &&
                        this.correo.length > 0 &&
                        this.confirmacionCorreo.length > 0 &&
                        this.pass.length > 0 &&
                        this.confirmacionPass.length > 0 &&
                        this.check
                    ) && (
                        this.correo == this.confirmacionCorreo &&
                        this.pass == this.confirmacionPass
                    ) && (
                        this.validaNombre &&
                        this.validaApellidos &&
                        this.validaCorreo &&
                        this.validaPass
                    )
                )
            },
            enviar_datos(){
                /*this.datos_usuario.name = this.nombre
                this.datos_usuario.apellidos = this.apellidos
                this.datos_usuario.email = this.correo
                this.datos_usuario.email_confirmation = this.confirmacionCorreo
                this.datos_usuario.password_confirmation = this.confirmacionPass
                this.datos_usuario.password = this.pass
                this.datos_usuario._token = this.csrf*/

                Swal.showLoading()

                axios.post("/registro", {
                    //datos_usuario: this.datos_usuario
                    name: this.nombre,
                    apellidos: this.apellidos,
                    email: this.correo,
                    email_confirmation: this.confirmacionCorreo,
                    password_confirmation: this.confirmacionPass,
                    password: this.pass,
                    _token: this.csrf
                }).then(response => {
                    //console.log("1", response.data);
                    Swal.close()
                    Swal.fire({
                        icon: 'success',
                        // text: 'Te hemos enviado un correo de confirmación, por favor haz clic en el enlace para verificar tu cuenta.',
                        text: 'Se ha creado tu cuenta satisfactoriamente, ya puedes iniciar sesión.',
                        //footer: 'Contacte al administrador si el problema persiste.',
                        confirmButtonText: 'Aceptar',
                    }).then((result) => {
                        /* Read more about isConfirmed, isDenied below */
                        if (result.isConfirmed) {
                            window.location.href = '/login'
                        }
                    })

                }, fail => {
                    console.log("2", fail.response.data.message);
                    Swal.close()
                    this.error = fail.response.data.message
                })

                //console.log(this.datos_usuario);

            }
        }
    }
</script>
