<template>
       <div class="flex flex-col mb-4 relative">
            <label class="mb-2 uppercase text-grayBT font-rob-light text-left">ALCALDIA / MUNICIPIO *</label>
            <select class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded" v-model="seleccion" v-on:change="emitChanges" >
                <option selected value="0" disabled>Seleccione una opción</option>
                <option :value="municipio.id" v-bind:key="municipio.id" v-for="municipio in municipios">{{ municipio.nombre }}</option>
            </select>
            <div class="pointer-events-none absolute right-0 top-12 flex items-center px-2 text-grey-darker">
            <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
        </div>
</template>

<script>
const axios = require('axios').default

export default {
    props: [
        'estado_id',
        'actual'
    ],
    data() {
        return {
            municipios: [],
            entrada: {
                valor: 0,
                error: false,
                mensaje: ""
            },
            seleccion: 0
        }
    },
    watch: {
        actual(newVal) {
            console.log('SelectMunicipios watch Actual:', newVal)

            this.seleccion = newVal
            this.entrada.valor = newVal
            this.entrada.municipio = this.municipios.find(item =>  item.id == this.seleccion)

            this.$emit('seleccionar', this.entrada)
        },
        estado_id(newVal) {
            if(typeof(newVal) != 'undefined' && newVal != '')
                axios.get("/api_web/estados/" + newVal + "/municipios").then(response => {
                    this.municipios = response.data.data

                    if(typeof(this.actual) != 'undefined'){
                        console.log('Carga terminada seleccionando municipio:', this.actual)
                        this.seleccion = this.actual
                        this.entrada.municipio = this.municipios.find(item =>  item.id == this.seleccion)

                        this.$emit('seleccionar', this.entrada)
                    }
                }, fail => {
                    this.entrada.error = true
                    this.entrada.mensaje = "* No se obtuvieron los municipios"
                })
        }
    },
    methods: {
        emitChanges() {
            this.entrada.valor = this.seleccion
            this.entrada.municipio = this.municipios.find(item => item.id == this.seleccion)

            this.$emit('seleccionar', this.entrada)
        }
    },
}
</script>
