<template>
       <div class="flex flex-col mb-4 relative">
            <label class="mb-2 uppercase text-grayBT font-rob-light text-left" for="first_name">Uso del CFDI</label>
            <select class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded" v-model="entrada.valor">
                    <option selected disabled>Seleccione una opción</option>
                    <option :value="item" v-bind:key="item.codigo" v-for="item in opciones_cfdis">{{ item.descripcion }}</option>
            </select>
            <div class="pointer-events-none absolute right-0 top-12 flex items-center px-2 text-grey-darker">
            <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
        </div>
</template>

<script>
import Swal from 'sweetalert2';
const axios = require('axios').default

    export default {
        props:[
            'value'
        ],
        data() {
            return {
                opciones_cfdis: [],
                entrada: {
                    valor: '',
                    error: false,
                    mensaje: ''
                }
            }
        },
        watch: {
            entrada: {
                handler() {
                    this.$emit('input', this.entrada)
                },
                deep: true
            }
        },
        mounted() {
            Swal.showLoading()
            axios.get('/api_web/usos_cfdi').then(response => {
                Swal.close()
                this.opciones_cfdis = response.data.message
            }, fail => {
                Swal.close()
                Swal.fire({
                    icon: 'error',
                    text: typeof(fail.response.data.message) != 'undefined'? fail.response.data.message: 'Ocurrió un error, intente de nuevo más tarde.',
                    footer: 'Contacte al administrador si el problema persiste.',
                    confirmButtonText: 'Cerrar',
                })
            })
        }
    }
</script>
