<template>
       <div class="flex flex-col mb-4 relative">
            <label class="mb-2 uppercase text-grayBT font-rob-light text-left">ESTADO *</label>
            <select class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded"
            v-on:change="emitChange" v-model="seleccion">
                <option selected value="0" disabled>Seleccione una opción</option>
                <option :value="estado.id" v-bind:key="estado.id" v-for="estado in estados">{{ estado.nombre }}</option>
            </select>
            <div class="pointer-events-none absolute right-0 top-12 flex items-center px-2 text-grey-darker">
            <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
        </div>
</template>

<script>
    const axios = require('axios').default

    export default {
        props: [
            'actual'
        ],
        data() {
            return {
                estados: [],
                entrada:{
                    valor: 0,
                    mensaje: "",
                    error: false
                },
                seleccion: 0
            }
        },
        methods: {
            emitChange() {
                this.entrada.estado = this.estados.find(item => item.id == this.seleccion)

                this.entrada.valor = this.seleccion
                this.$emit('seleccionar', this.entrada)
            }
        },
        watch: {
            actual(newVal) {
                console.log('SelectEstados watch Actual:', newVal)

                this.seleccion = newVal
                this.entrada.valor = newVal
                this.entrada.estado = this.estados.find(item => item.id == this.seleccion)

                this.$emit('seleccionar', this.entrada)
            }
        },
        mounted() {
            axios.get('/api_web/estados').then(response => {
                this.estados = response.data.data

                if(typeof(this.actual) != 'undefined') {
                    console.log('carga terminada', 'seleccionando estado :', this.actual)
                    this.seleccion = this.actual
                }
            }, error => {
                this.entrada.error = true
                this.entrada.mensaje = error
            })
        }
    }
</script>
