<template>
       <div class="relative flex flex-col mb-4">
            <label class="mb-2 text-left uppercase text-grayBT font-rob-light" for="first_name">Regimen Fiscal</label>
            <select class="block w-full px-4 py-3 pr-8 border rounded appearance-none bg-grey-lighter border-grey-lighter text-grey-darker" v-model="entrada.valor">

                    <option selected disabled>Seleccione una opción</option>

                    <!-- <option :value="item" v-bind:key="item.codigo" v-for="item in opciones_cfdis">{{ item.descripcion }}</option> -->

                    <optgroup label="Régimen de Personas Físicas">

                        <option value="605" >605 - Sueldos y Salarios e Ingresos Asimilados a Salarios</option>
                        <option value="606" >606 - Arrendamiento</option>
                        <option value="608" >608 - Demás ingresos</option>
                        <option value="611" >611 - Ingresos por Dividendos (socios y accionistas)</option>
                        <option value="612" >612 - Personas Físicas con Actividades Empresariales y Profesionales</option>
                        <option value="614" >614 - Ingresos por intereses</option>
                        <option value="615" >615 - Régimen de los ingresos por obtención de premios</option>
                        <option value="616" >616 - Sin obligaciones fiscales</option>
                        <option value="621" >621 - Incorporación Fiscal</option>
                        <option value="622" >622 - Actividades Agrícolas, Ganaderas, Silvícolas y Pesqueras</option>
                        <option value="629" >629 - De los Regímenes Fiscales Preferentes y de las Empresas Multinacionales</option>
                        <option value="630" >630 - Enajenación de acciones en bolsa de valores</option>

                    </optgroup>

                    <optgroup label="Régimen de Personas Morales">
                        <option value="601" >601 - General de Ley Personas Morales</option>
                        <option value="603" >603 - Personas Morales con Fines no Lucrativos</option>
                        <option value="607" >607 - Régimen de Enajenación o Adquisición de Bienes</option>
                        <option value="609" >609 - Consolidación</option>
                        <option value="620" >620 - Sociedades Cooperativas de Producción que optan por Diferir sus Ingresos</option>
                        <option value="622" >622 - Actividades Agrícolas, Ganaderas, Silvícolas y Pesqueras</option>
                        <option value="623" >623 - Opcional para Grupos de Sociedades</option>
                        <option value="624" >624 - Coordinados</option>
                        <option value="628" >628 - Hidrocarburos</option>


                    </optgroup>


            </select>
            <div class="absolute right-0 flex items-center px-2 pointer-events-none top-12 text-grey-darker">
            <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
        </div>
</template>

<script>
import Swal from 'sweetalert2';
const axios = require('axios').default

    export default {
        props:[
            'value'
        ],
        data() {
            return {
                opciones_cfdis: [],
                entrada: {
                    valor: '',
                    error: false,
                    mensaje: ''
                }
            }
        },
        watch: {
            entrada: {
                handler() {
                    this.$emit('input', this.entrada)
                },
                deep: true

            }
        },
        mounted() {
            Swal.showLoading()
            // axios.get('/api_web/usos_cfdi').then(response => {
            //     Swal.close()
            //     this.opciones_cfdis = response.data.message
            // }, fail => {
            //     Swal.close()
            //     Swal.fire({
            //         icon: 'error',
            //         text: typeof(fail.response.data.message) != 'undefined'? fail.response.data.message: 'Ocurrió un error, intente de nuevo más tarde.',
            //         footer: 'Contacte al administrador si el problema persiste.',
            //         confirmButtonText: 'Cerrar',
            //     })
            // })
        }
    }
</script>
