<template>
       <div class="relative flex flex-col mb-4">
            <label class="mb-2 text-left uppercase text-grayBT font-rob-light" for="first_name">MÉTODO DE PAGO * </label>
            <select class="block w-full px-4 py-3 pr-8 border rounded appearance-none bg-grey-lighter border-grey-lighter text-grey-darker" v-model="entrada.valor">
                    <option selected disabled>Seleccione una opción</option>
                    <!-- <option :value="item" v-bind:key="item.codigo" v-for="item in opciones_cfdis">{{ item.descripcion }}</option> -->
                    <option :value="Efectivo">Efectivo</option>
                    <option :value="Transferencia">Transferencia</option>
                    <option :value="Tarjeta_de_crédito">Tarjeta de crédito</option>
                    <option :value="Tarjeta_de_débito">Tarjeta de débito</option>
            </select>
            <div class="absolute right-0 flex items-center px-2 pointer-events-none top-12 text-grey-darker">
            <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
        </div>
</template>

<script>
import Swal from 'sweetalert2';
const axios = require('axios').default

    export default {
        props:[
            'value'
        ],
        data() {
            return {
                entrada: {
                    valor: '',
                    error: false,
                    mensaje: ''
                }
            }
        },
        watch: {
            entrada: {
                handler() {
                    this.$emit('input', this.entrada)
                },
                deep: true
            }
        },
        mounted() {
            Swal.showLoading()
            // axios.get('/api_web/usos_cfdi').then(response => {
            //     Swal.close()
            //     this.opciones_cfdis = response.data.message
            // }, fail => {
            //     Swal.close()
            //     Swal.fire({
            //         icon: 'error',
            //         text: typeof(fail.response.data.message) != 'undefined'? fail.response.data.message: 'Ocurrió un error, intente de nuevo más tarde.',
            //         footer: 'Contacte al administrador si el problema persiste.',
            //         confirmButtonText: 'Cerrar',
            //     })
            // })
        }
    }
</script>
