<template>
    <div class="w-full min-h-custom items-center relative flex justify-center center uppercase text-4xl font-thin color-gray--bk">

            Carrito vacio

    </div>

</template>

<script>

export default {
    components: {
    },
}
</script>

