<template>

    <!-- <div class="text-gray-400 lg:text-base text-sm md:text-sm font-rob-medium leading-none"> -->
        <span class="text-grayBT lg:text-base md:text-sm font-rob-medium leading-none uppercase text-sm">{{ texto }}</span>
    <!-- </div> -->

</template>


<script>

    export default {
        components: {

        },
        props:{
            texto:String
        },
        data(){
            return{

            }
        },
        methods:{

        }
    }

</script>
