<template>

    <div class="text-gray-400 lg:text-base lg:mb-1 mb-1 text-sm md:text-sm font-rob-light">
        <span class="uppercase text-sm">{{ texto }}</span>
    </div>

</template>

<script>

export default {
    components: {

    },
    props:{
        texto:String
    },
    data(){
        return{

        }
    },
    methods:{

    }
}
</script>

