<template>
        <!-- <div class="text-grayBT flex place-items-start text-base"> -->
            <span class="text-grayBT flex place-items-start text-base font-light ">{{ texto }}</span>
        <!-- </div> -->

</template>

<script>

export default {
    components: {

    },
    props:{
        texto: String
    },
    data(){
        return{

        }
    },
    methods:{

    }
}
</script>

