<template>

    <div class="lg:w-full w-11/12">
        <div class="w-full lg:w-11/12 flex items-start lg:items-center justify-between md:w-10/12 md:mx-auto flex-col lg:flex-row">
            <h2 class="color-red--bk font-bold text-xl">DETALLES DEL CASO</h2>

            <div class="flex w-full justify-start lg:justify-end items-center lg:w-2/3">
                <div class="w-full flex justify-start lg:justify-end items-center">
                    <boton-agregar-caso v-show="ticket.status > 0" v-bind:csrf="csrf" v-bind:caso="ticketid" v-on:actualizar="actualizaListaEntradas"/>
                    <boton-cerrar-caso v-show="ticket.status > 0 && rol == 'Admin'" v-bind:csrf="csrf" v-bind:caso="ticketid" v-bind:titulo="ticket.titulo" v-bind:descripcion="ticket.descripcion" v-bind:entradas="entradas" v-bind:motivo="ticket.motivo.nombre" v-bind:created_at="ticket.created_at"/>
                    <!-- <boton-cerrar-caso v-bind:csrf="csrf" v-bind:caso="ticketid" v-bind:ticket="ticket"/> -->
                </div>
            </div>
        </div>


        <div class="lg:px-2 py-6 lg:border border-color-gray--BK rounded-lg w-full">
            <div class="lg:w-11/12 flex justify-start py-4 md:w-10/12 md:mx-auto">
                <h2 class="color-green--bk font-bold text-xl text-greenBT">INFORMACIÓN DEL CASO</h2>
            </div>

            <div class="lg:w-11/12 p-2 py-4 h-auto flex justify-between items-center border border-solid border-6 border-gray-400 rounded-2xl md:w-10/12 md:mx-auto lg:flex-row flex-col relative">
            <!-- <div class="w-11/12 h-40 justify-between border border-solid border-6 border-gray-400 rounded-2xl flex items-center"> -->
                <div class="lg:w-1/12 w-full h-5/6 lg:border-r-2 lg:border-b-0 border-b-2 border-gray-300 flex items-center justify-center font-bold color-gray--bk text-5xl lg:py-0 py-2">
                    {{ ticketid }}
                </div>
                <div class="lg:w-7/12 w-full h-5/6 lg:border-r-2 lg:border-b-0 border-b-2 border-gray-300 flex flex-col justify-center items-center lg:items-start lg:ml-10 lg:pb-0 pb-5 lg:py-0 py-2">
                    <h3 class="color-blue--bk font-rob-medium lg:text-2xl text-xl lg:py-0 py-2">{{ ticket.titulo }}</h3>
                    <p class="color-gray--bk rob-regular font-extralight lg:text-2xl text-base">{{ ticket.descripcion }} </p>
                </div>
                <div class="lg:w-2/12 w-full h-5/6 lg:border-r-2 lg:border-b-0 border-b-2 border-gray-300 text-center align-top flex items-center flex-col justify-evenly lg:pb-4 lg:py-0 py-2 px-2">
                    <p class="color-blue--bk font-rob-medium lg:text-lg text-base">FECHA ÚLTIMA ENTRADA</p>
                    <p class="color-gray--bk rob-regular font-extralight lg:text-2xl text-base">{{ ticket.created_at }}  </p>
                </div>
                <div class="lg:w-2/12 w-full h-5/6 text-center flex items-center align-top flex-col justify-evenly lg:pb-4 lg:py-0 py-2 px-2">
                    <p class="color-blue--bk font-rob-medium lg:text-lg text-base">USUARIO ÚLTIMA ENTRADA</p>
                    <p class="color-gray--bk rob-regular font-extralight lg:text-2xl text-base">{{ ultima_entrada }}</p>
                </div>
            </div>

            <div class="lg:w-11/12 flex justify-start pt-10 md:w-10/12 md:mx-auto mb-4">
                <h2 class="color-green--bk font-bold text-xl">INFORMACIÓN DEL USUARIO</h2>
            </div>

            <div class="lg:w-11/12 py-2 md:w-10/12 md:mx-auto">

                <table class="w-full lg:table hidden">
                    <thead class="border-b border-gray-300">
                        <th class="text-left color-gray--bk">NOMBRE COMPLETO</th>
                        <th class="text-left color-gray--bk">CORREO</th>
                        <th class="text-left color-gray--bk">TELÉFONO</th>
                        <th class="text-center color-gray--bk">ARCHIVOS</th>
                    </thead>
                    <tbody class="border-b border-gray-300">
                        <tr class="py-10">
                            <td class="text-left py-5 color-gray--bk text-xl uppercase">{{ ticket.usuario.nombre }} {{ ticket.usuario.apellido }}</td>
                            <td class="text-left color-gray--bk text-xl">{{ ticket.usuario.correo }} </td>
                            <td class="text-left color-gray--bk text-xl">{{ ticket.telefono }}</td>
                            <td class="flex justify-evenly items-center">

                                <div class="mt-3 p-2 w-20 text-white btn_archivo grid" v-for="file in ticket.archivos" :key="file.id">

                                    <a :href="file.archivo" class="truncate lowercase text-base bg-gray-500 text-center mb-3 p-2 w-20 text-white hover:bg-black rounded" :download="file.nombre">
                                        {{ file.nombre }}
                                    </a>

                                    <div class="justify-self-center tooltip_archivo absolute bottom-full">
                                        <div class="bg-black text-white text-base rounded py-1 px-4 right-0 bottom-full">
                                            {{ file.nombre }}
                                            <svg class="absolute text-black h-2 w-full left-0 top-full" x="0px" y="0px" viewBox="0 0 255 255" xml:space="preserve"><polygon class="fill-current" points="0,0 127.5,127.5 255,0"/></svg>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="w-full flex flex-col justify-center items-start lg:hidden px-4">
                    <p class="text-left text-gray-400">
                        <b>NOMBRE COMPLETO</b>
                    </p>
                    <p class="text-left text-gray-400">
                    {{ ticket.usuario.nombre }} {{ ticket.usuario.apellido }}
                    </p>
                    <p class="text-left text-gray-400">
                        <b>CORREO</b>
                    </p>
                    <p class="text-left text-gray-400">
                    {{ ticket.usuario.correo }}
                    </p>
                    <p class="text-left text-gray-400">
                        <b>TELÉFONO</b>
                    </p>
                    <p class="text-left text-gray-400">
                    {{ ticket.telefono }}
                    </p>
                    <p class="text-left text-gray-400" v-show="ticket.archivos != null">
                        <b>ARCHIVOS</b>
                    </p>
                    <div v-show="ticket.archivos != null" class="mt-3 p-2 w-20 text-white btn_archivo grid" v-for="file in ticket.archivos" :key="file.id">

                        <a :href="file.archivo" class="truncate lowercase text-base bg-gray-500 text-center mb-3 p-2 w-20 text-white hover:bg-black" :download="file.nombre">
                            {{ file.nombre }}
                        </a>

                        <div class="justify-self-center tooltip_archivo absolute bottom-full">
                            <div class="bg-black text-white text-base rounded py-1 px-4 right-0 bottom-full">
                                {{ file.nombre }}
                                <svg class="absolute text-black h-2 w-full left-0 top-full" x="0px" y="0px" viewBox="0 0 255 255" xml:space="preserve"><polygon class="fill-current" points="0,0 127.5,127.5 255,0"/></svg>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- {{ticket}} -->
            <div class="lg:w-11/12 flex justify-start pt-10 md:w-10/12 md:mx-auto mb-4" v-if="ticket.status == 0 && ticket.calificacion != null">
                <h2 class="color-green--bk font-bold text-xl">CALIFICACIÓN Y COMENTARIOS</h2>
            </div>

            <!-- <div class="lg:w-11/12 py-2 md:w-10/12 md:mx-auto" v-show="ticket.status == 0 && ticket.calificacion != 0"> -->
            <div class="lg:w-11/12 py-2 md:w-10/12 md:mx-auto" v-show="ticket.status == 0 && ticket.calificacion != null">


                <table class="w-full">
                    <thead class="border-b border-gray-300">
                        <th class="text-left color-gray--bk">CALIFICACIÓN</th>
                        <th class="text-left color-gray--bk">COMENTARIOS</th>
                    </thead>
                    <tbody class="border-b border-gray-300">
                        <tr>
                            <td class="py-5">
                                <img class="ml-10" width="30" height="30" src="/assets/img/svg/bueno.svg" v-if="ticket.calificacion > 8">
                                <img class="ml-10" width="30" height="30" src="/assets/img/svg/malo.svg" v-if="ticket.calificacion <= 8">
                            </td>
                            <td class="text-left text-xl color-gray--bk">{{ ticket.comentario_calificacion }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <entradas v-bind:entradas="entradas"/>
        </div>
    </div>
</template>

<script>

import axios from "axios";

export default {
    props: ['ticketid', 'csrf', 'rol'],
    data() {
        return {
            ticket: {
                usuario: {
                    nombre: '',
                    apellido: '',
                    correo: ''
                },
                motivo: {
                    id: '',
                    orden: '',
                    nombre: ''
                }
            },
            entradas: [],
            ultima_entrada: ''
        }
    },
    methods: {
        actualizaListaEntradas() {
            axios.get("/api_web/tickets/" + this.ticketid + "/entradas").then(
                response => {
                    this.entradas = response.data.data.reverse();
                    console.log(this.entradas);
                    if (this.entradas.length > 0) {
                        const [first] = this.entradas;
                        this.ultima_entrada = first.usuario.nombre + " " + first.usuario.apellido
                    }

                },
                function(error) {
                    console.log(error);
                }
            );
        }
    },
    mounted() {
        axios.get('/api_web/tickets/' + this.ticketid)
        .then(res => {
            this.ticket = res.data.data;
            this.ultima_entrada = this.ticket.usuario.nombre + " " + this.ticket.usuario.apellido;
        })
        .catch(err => {
            console.error(err);
        })
        this.actualizaListaEntradas()
    }

}

</script>
