<template>

    <div class="relative flex items-center justify-center w-full h-full">

        <div class="flex-col items-center justify-around hidden w-1/4 h-full lg:flex">
            <div><img src="/assets/img/svg/emvco_logo.png" alt="pago1" class="object-contain w-52 h-28 opacity-70"/></div>
            <div><img src="/assets/img/svg/sello_logo.png" class="object-contain w-52 h-28 opacity-70"/></div>
            <div><img src="/assets/img/svg/pci-standard.png" class="object-contain w-52 h-28 opacity-70"/></div>
            <div><img src="/assets/img/svg/openpay.png" class="object-contain w-52 h-28 opacity-70"/></div>
        </div>

        <div class="flex flex-col items-center justify-around w-full h-full py-6 mx-4 border border-gray-500 shadow lg:w-1/2 rounded-xl">

            <div class="flex flex-wrap w-full px-3 mt-0 md:w-4/5 md:px-0 md:mt-10 place-content-between">
                <h2 class="uppercase font-rob-bold text-blueBT">Pago con 3DS</h2>
                <div><span class="font-rob-light text-grayBT">5 - 5</span></div>
            </div>
            <div class="relative flex justify-around w-full h-auto mt-12">
                <div class="relative flex flex-col w-full h-auto px-3 mb-6 md:w-4/5 md:px-0">

                    <div class="flex flex-row items-center w-full">
                        <div class="w-full my-6">
                            <input-texto placeHolder="CALLE Y NÚMERO EXTERIOR*" reg="1" v-model="datos_tarjeta.calle"/>
                            <input-texto placeHolder="CONDOMINIO, CIUDAD O DELEGACIÓN *" reg="1" v-model="datos_tarjeta.condominio"/>
                            <input-texto placeHolder="COLONIA *" reg="1" v-model="datos_tarjeta.colonia"/>
                            <input-texto placeHolder="C.P. *" reg="5" v-model="datos_tarjeta.cp"/>

                            <select-estados v-on:seleccionar="seleccionarEstado" v-bind:actual="datos_tarjeta.estado.valor"/>
                            <select-municipio v-if="datos_tarjeta.estado" v-on:seleccionar="seleccionarMunicipio" v-bind:actual="datos_tarjeta.municipio.valor" v-bind:estado_id="datos_tarjeta.estado.valor"/>
                        </div>
                    </div>

                    <!-- Botones -->
                    <div class="relative flex flex-wrap content-end w-full h-auto mt-auto">
                        <div class="relative flex justify-center w-full">
                            <button v-on:click="paginaSiguiente" :class="{'pointer-events-none opacity-50': disableNextButton}" class="appearance-none relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md bg-greenBT border border-solid border-gray-400 color-white--bk cursor-pointer hover:bg-white hover:border-greenBT hover:text-greenBT lg:text-lg md:text-base sm:text-sm ">
                                <span class="rob-bold">PAGAR</span>
                            </button>
                        </div>

                        <div class="relative flex justify-center w-full">
                            <div v-on:click="paginaAnterior" class="appearance-none relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md color-gray--bk border border-solid border-gray-400 cursor-pointer hover:bg-white hover:border-blue-400 hover:text-blue-400 lg:text-lg md:text-base sm:text-sm">
                                <span class="rob-bold">REGRESAR</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-col items-center justify-around hidden w-1/4 h-full lg:flex">
            <div><img src="/assets//img/svg/Logobm.svg.png" class="object-contain w-52 h-28 opacity-70"></div>
            <div><img src="/assets//img/svg/Mastercard-logo.png" alt="pago1" class="object-contain w-52 h-28 opacity-70"></div>
            <div><img src="/assets//img/svg/Visa_Logo.png" class="object-contain w-52 h-28 opacity-70"></div>
            <div><img src="/assets//img/svg/bbva.png" class="object-contain w-52 h-28 opacity-70"></div>
        </div>

    </div>
</template>

<script>
export default {
    props:['pago', 'pedido'],
    data() {
        return{
            datos_tarjeta: {
                calle: { valor: '', error: false },
                condominio: { valor: '', error: false },
                colonia: { valor: '', error: false },
                cp: { valor: '', error: false },
                estado: { valor: '', error: false },
                municipio: { valor: '', error: false },
            }
        }
    },
    computed: {
        disableNextButton() {
            for(var i in this.datos_tarjeta) {
                if(this.datos_tarjeta[i].error || this.datos_tarjeta[i].valor == '')
                    return true;
            }
            return false
        }
    },
    mounted() {},
    methods:{
        paginaSiguiente() {
            this.$emit('message', 'datos_tarjeta_op', this.datos_tarjeta)
            this.$emit('navegacion', 19);
        },
        paginaAnterior() {
            this.$emit('navegacion', 6)
        },
        seleccionarEstado(estado) {
            this.datos_tarjeta.estado = estado
        },
        seleccionarMunicipio(municipio) {
            this.datos_tarjeta.municipio = municipio
        },
    }
}
</script>
