<template>
<div class="box-border flex flex-row items-start justify-center w-full h-full py-1">
    <div class="flex flex-col items-center w-1/2 h-auto h-full py-6 border border-gray-500 shadow print:py-1 rounded-xl print:w-full">

        <div class="w-full print:my-0" id="print">
            <div class="flex flex-col items-center w-full p-5 text-base break-words">
                <span class="content-end w-full mr-10 text-right font-rob-light text-grayBT">5 - 5</span>
            <img class="w-36" v-bind:src="pago.colegio.logo">
            <div class="flex justify-between w-full color-gray--bk mt-5 py-1.5 border-b border-gray-300">
                <b>FECHA LÍMITE DE PAGO:</b>
                <span class="text-right">{{ referencia.fecha_limite }}</span>
            </div>
            <div class="w-full py-3 uppercase border-b border-gray-300 color-gray--bk">
                <p>
                    <b>NOMBRE:</b>
                    <span>{{ referencia.cliente.nombre }}</span>
                </p>
            </div>

            <div class="flex flex-col items-center w-full py-2 text-center border-b border-gray-300">

                <b class="text-xl">FOLIO: {{ referencia.compra.folio }}</b>
                <b class="text-xl">${{ referencia.monto }} MXN</b>
                <span class="text-xs leading-5">({{ referencia.monto_letra }})</span>
            </div>
            <div class="w-full py-3 uppercase border-b border-gray-300 color-gray--bk">
                    <p>
                        <b> DESCRIPCIÓN: </b>
                        <span> {{ referencia.compra.descripcion }} </span>
                    </p>
                    <p>
                        <b> FECHA: </b>
                        <span> {{ referencia.compra.fecha }} </span>
                    </p>
                    <p>
                        <b>CORREO:</b>
                        <span>{{ referencia.cliente.correo }}</span>
                    </p>


            </div>
            <div class="flex flex-col items-center w-full pt-2 pb-2 text-center border-b border-gray-300 color-gray--bk print:pt-0 print:pb-2">
                <span>REFERENCIA:</span>
                <b class="text-xl">{{ referencia.codigo }}</b>
                <img v-bind:src="referencia.url_barcode" />
            </div>
            <div class="w-full py-2 text-xs color-gray--bk">

                <ul class="list-outside list-line">
                    <span class="font-bold">Como realizar el pago</span>
                    <li>1. Acude a cualquier tienda afiliada</li>
                    <li>2. Entrega al cajero el código de barras y menciona que realizarás un pago de servicio Paynet</li>
                    <li>3. Realizar el pago en efectivo por ${{ referencia.monto }} MXN</li>
                    <li>4. Conserva el ticket para cualquier aclaración</li>
                </ul>
                <br>
                <ul class="list-outside list-line">
                    <span class="font-bold">Instrucciones para el cajero</span>
                    <li>1. Ingresar al menú de Pago de Servicios</li>
                    <li>2. Seleccionar Paynet</li>
                    <li>3. Escanear el código de barras o ingresar el núm. de referencia</li>
                    <li>4. Ingresa la cantidad total a pagar</li>
                    <li>5. Confirmar la transacción y entregar el ticket al cliente </li>
                </ul>

            </div>
            <div class="flex flex-col items-center w-full text-center pt-7 boton_imprimir print:hidden">
                <a v-on:click="print" class="flex items-center justify-center w-40 h-12 text-xl text-white border border-gray-200 rounded-md cursor-pointer background-green--bk hover:bg-gray-400 hover:text-white hover:no-underline"><b>IMPRIMIR</b></a>
            </div>
        </div>
    </div>

    </div>
</div>
</template>

<script>
import Swal from 'sweetalert2';
import print from 'vue-print-nb'
const axios = require('axios').default
export default {
    props:['pago', 'pedido'],
    directives: {
        print
    },
    data() {
        return {
            referencia: {
                nombre_servicio: 'Pago en tienda OpenPay',
                codigo: 'A0A0A0A0A0A0A0A0A0A0A0',
                url_barcode: 'https://sandbox-api.openpay.mx/barcode/9988784276136586?width=1&height=45',
                monto: 0.00,
                monto_letra: 'CERO PESOS 00/00 M.N.',
                fecha_limite: '00/00/0000',
                cliente: {
                    correo: 'contacto@booktrain.com.mx',
                    grado: '1° PRIMARIA',
                    nombre: 'ALUMNO APELLIDOS'
                },
                compra: {
                    folio: 'PR-0000',
                    descripcion: 'Compra de libros',
                    fecha: '00/00/0000',
                }
            }
        }
    },
    methods: {
        print() {
            window.print()
        },
        paginaAnterior() {
            this.$emit('navegacion', 6)
        },
        enviarPago() {
            Swal.showLoading()

            try {
                var configuracion_pago = {
                pedido_id: this.pedido.id,
                metodo_pago: this.pago.metodo_pago.metodo.valor,
                forma_pago: this.pago.metodo_pago.forma.valor,
                terminos_aceptados: this.pago.metodo_pago.privacidad,

                facturacion_requerida: this.pago.solicitar_factura.valor,
                contacto: {
                    nombre:    this.pago.contacto.nombre.valor,
                    apellidos: this.pago.contacto.apellidos.valor,
                    celular:   this.pago.contacto.celular.valor,
                    correo:   this.pago.contacto.correo.valor
                },
                tipo_entrega: this.pago.tipo_entrega
                }

                if(this.pago.solicitar_factura.valor == 1) {
                    let ni;
                    if(typeof(this.pago.datos_facturacion.num_interior.valor) === 'undefined'){
                        ni = null
                    }else{
                        ni = this.pago.datos_facturacion.num_interior.valor
                    }
                    configuracion_pago.facturacion = {
                        id_cfdi:      this.pago.datos_facturacion.cfdi.valor.id,
                        cfdi:         this.pago.datos_facturacion.cfdi.valor.codigo,
                        regimen_fiscal: this.pago.datos_facturacion.regimen_fiscal.valor,
                        correo:       this.pago.datos_facturacion.correo.valor,
                        cp:           this.pago.datos_facturacion.cp.valor,
                        razon_social: this.pago.datos_facturacion.razon_social.valor,
                        rfc:          this.pago.datos_facturacion.rfc.valor,
                        calle: this.pago.datos_facturacion.calle.valor,
                        num_exterior: this.pago.datos_facturacion.num_exterior.valor,
                        num_interior: ni,
                        colonia: this.pago.datos_facturacion.colonia.valor,
                        municipio: this.pago.datos_facturacion.municipio.valor,
                        estado: this.pago.datos_facturacion.estado.valor
                    }
                }

                if(this.pago.tipo_entrega == 2) {
                    configuracion_pago.entrega = {
                        calle:        this.pago.entrega.calle,
                        colonia:      this.pago.entrega.colonia,
                        cp:           this.pago.entrega.cp,
                        estado:       this.pago.entrega.estado,
                        estado_id:    this.pago.entrega.estado_id,
                        municipio:    this.pago.entrega.municipio,
                        municipio_id: this.pago.entrega.municipio_id,
                        no_exterior:  this.pago.entrega.no_exterior,
                        no_interior:  this.pago.entrega.no_interior,
                        referencia:   this.pago.entrega.referencia
                    }
                }

                axios.post('/openpay/crearReferencia', configuracion_pago)
                    .then(response => {
                        this.referencia = response.data
                        Swal.close()
                    })
                    .catch(fail => {
                        Swal.fire({
                            icon: 'error',
                            text: typeof(fail.response.data.message) != 'undefined'? fail.response.data.message: 'Ocurrió un error, intente de nuevo más tarde.',
                            footer: 'Contacte al administrador si el problema persiste.',
                            confirmButtonText: 'Cerrar',
                        })
                        console.error(fail);
                        console.log('error: '+JSON.stringify(configuracion_pago));
                        console.table(configuracion_pago);
                    })
            } catch (error) {
                console.log('Error al construir el objeto de pago:', error)
                Swal.fire({
                    title: 'Error al construir el pago',
                    text: 'Intente más tarde o contacte al administrador si el problema persiste',
                    icon: 'error'
                })
            }

        }
    },
    mounted() {
        this.enviarPago()
    }
}
</script>
