<template>
<div class="flex flex-col items-center w-full h-auto py-6 border border-gray-400 shadow lg:w-3/4 rounded-xl">
    <div class="flex flex-wrap w-full px-3 mt-0 md:w-4/5 md:px-0 md:mt-10 place-content-between">
        <h2 class="uppercase font-rob-bold text-blueBT">Pago con tarjeta</h2>
        <div><span class="font-rob-light text-grayBT">5 - 5</span></div>
    </div>
    <div class="relative flex justify-around w-full h-auto mt-12">
        <div class="relative flex flex-col items-center w-full h-auto px-3 mb-6">

            <div class="flex flex-row mt-4">
                <div class="bkng-tb-cntnt">
                    <div class="pymnts">
                        <form action="#" method="POST" id="payment-form">
                            <input type="hidden" name="token_id" id="token_id" v-bind:value="token_id">
                            <div class="pymnt-itm card active">
                                <h2>Tarjeta de crédito o débito</h2>
                                <div class="pymnt-cntnt">
                                    <div class="card-expl">
                                        <div class="credit"><h4>Tarjetas de crédito</h4></div>
                                        <div class="debit"><h4>Tarjetas de débito</h4></div>
                                    </div>
                                    <div class="sctn-row">
                                        <div class="sctn-col l">
                                            <label>Nombre del titular</label><input type="text" placeholder="Como aparece en la tarjeta" autocomplete="off" data-openpay-card="holder_name">
                                        </div>
                                        <div class="sctn-col">
                                            <label>Número de tarjeta</label><input type="text" autocomplete="off" data-openpay-card="card_number"></div>
                                        </div>
                                        <div class="sctn-row">
                                            <div class="sctn-col l">
                                                <label>Fecha de expiración</label>
                                                <div class="sctn-col half l"><input type="text" placeholder="Mes" data-openpay-card="expiration_month"></div>
                                                <div class="sctn-col half l"><input type="text" placeholder="Año" data-openpay-card="expiration_year"></div>
                                            </div>
                                            <div class="sctn-col cvv"><label>Código de seguridad</label>
                                                <div class="sctn-col half l"><input type="text" placeholder="3 - 4  dígitos" autocomplete="off" data-openpay-card="cvv2"></div>
                                            </div>
                                        </div>
                                        <div class="openpay">
                                            <div class="logo"></div>
                                            <div class="shield">Tus pagos se realizan de forma segura con encriptación de 256 bits</div>
                                        </div>
                                    <div class="sctn-row">
                                        <a class="button rght" v-on:click="pagar" v-bind:disabled="paybutton_enabled">Pagar</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Botones -->
            <div class="relative flex flex-wrap content-end w-full h-auto mt-auto">
                <div class="relative flex justify-center w-full">
                    <div v-on:click="paginaAnterior" class="appearance-none relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md color-gray--bk border border-solid border-gray-400 cursor-pointer hover:bg-white hover:border-blue-400 hover:text-blue-400 lg:text-lg md:text-base sm:text-sm">
                        <span class="rob-bold">REGRESAR</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
const axios = require('axios').default

import Swal from 'sweetalert2';

export default {
    props:['pago', 'pedido', 'pasarela'],
    data() {
        return{
            token_id: '',
            paybutton_enabled: true,
            deviceSessionId: ''
        }
    },
    computed: {
        disableNextButton() {
            return false
        }
    },
    mounted() {
        OpenPay.setId(this.pasarela[0])
        OpenPay.setApiKey(this.pasarela[1])
        // OpenPay.setSandboxMode(this.pasarela[2])
        OpenPay.setSandboxMode(false)

        //Se genera el id de dispositivo
        this.deviceSessionId = OpenPay.deviceData.setup("payment-form", "deviceIdHiddenFieldName");

        // console.log('deviceSessionId', this.deviceSessionId);
        // console.log('ApiKey', OpenPay.getApiKey());
        // console.log('Id', OpenPay.getId());

        console.log("PAGO FACTURACION: ",this.pago);
    },
    methods:{
        pagar() {
            Swal.showLoading();

            this.paybutton_enabled = false
            OpenPay.token.extractFormAndCreate('payment-form', response => {
                this.token_id = response.data.id
                this.tarjeta = response.data.card
                this.token_tarjeta = response.data.id

                this.enviarPago()
            }, error => {
                var desc = error.data.description != undefined ? error.data.description : error.message;

                console.log('Error al procesar el pago', desc)

                Swal.fire({
                    title: 'Error al procesar el pago',
                    text: desc,
                    icon: 'error'
                })
                this.paybutton_enabled = false
            });
        },
        enviarPago() {
            var dtoPago = {
                contacto: {
                    nombre: this.pago.contacto.nombre.valor,
                    apellidos: this.pago.contacto.apellidos.valor,
                    celular: this.pago.contacto.celular.valor,
                    correo: this.pago.contacto.correo.valor,
                },
                tipo_entrega: this.pago.tipo_entrega,
                id_direccion_envio: this.pago.entrega.id,
                facturacion_requerida: this.pago.solicitar_factura.valor == 1,
                terminos_aceptados: this.pago.metodo_pago.privacidad,
                forma_pago: this.pago.metodo_pago.forma.valor,
                metodo_pago: this.pago.metodo_pago.metodo.valor,
                meses: 0 + this.pago.metodo_pago.forma.meses,
                direccion: {
                    calle: this.pago.entrega.calle,
                    no_exterior: this.pago.entrega.no_exterior,
                    no_interior: this.pago.entrega.no_interior,
                    colonia: this.pago.entrega.colonia,
                    cp: this.pago.entrega.cp,
                    referencia: this.pago.entrega.referencia,

                },
                tarjeta: this.tarjeta,
                token_tarjeta: this.token_tarjeta,
                device_session_id: this.deviceSessionId
            }

            if(this.pago.tipo_entrega == 2) {
                dtoPago['direccion']['estado_id'] = this.pago.entrega.estado_id
                dtoPago['direccion']['municipio_id'] = this.pago.entrega.municipio_id
                dtoPago['direccion']['estado'] = this.pago.entrega.estado,
                dtoPago['direccion']['municipio'] = this.pago.entrega.municipio
            }else{
                dtoPago['direccion']['estado'] = this.pago.entrega.estado.nombre,
                dtoPago['direccion']['municipio'] = this.pago.entrega.municipio.nombre
            }



            if(this.pago.solicitar_factura.valor == 1) {
                console.log("TRAE DATOS: ");
                let ni;
                if(typeof(this.pago.datos_facturacion.num_interior.valor) === 'undefined'){
                    ni = null
                }else{
                    ni = this.pago.datos_facturacion.num_interior.valor
                }
                dtoPago['facturacion'] = {
                    razon_social: this.pago.datos_facturacion.razon_social.valor,
                    rfc: this.pago.datos_facturacion.rfc.valor,
                    correo: this.pago.datos_facturacion.correo.valor,
                    cp: this.pago.datos_facturacion.cp.valor,
                    id_cfdi: this.pago.datos_facturacion.cfdi.valor.id,
                    cfdi: this.pago.datos_facturacion.cfdi.valor.codigo,
                    regimen_fiscal: this.pago.datos_facturacion.regimen_fiscal.valor,
                    calle: this.pago.datos_facturacion.calle.valor,
                    num_exterior: this.pago.datos_facturacion.num_exterior.valor,
                    num_interior: ni,
                    colonia: this.pago.datos_facturacion.colonia.valor,
                    municipio: this.pago.datos_facturacion.municipio.valor,
                    estado: this.pago.datos_facturacion.estado.valor
                };
            }

            // Enviamos la información al server
            Swal.showLoading();

            axios.post('/api_web/pedido/' + this.pedido.id + '/pagarOpenpay', dtoPago)
            .then(result => {
                console.log('result', result)

                if(typeof(result.data.returnUrl) != 'undefined') {
                    // 3DS
                    document.location.href = result.data.returnUrl
                }else{
                    Swal.close()
                    if(typeof(result.data.success) == 'undefined') {
                        Swal.fire({
                            title: 'Error',
                            text: 'No se puede procesar el resultado, reintente más tarde',
                            icon: 'error'
                        })
                    }else{
                        if(result.data.success) {
                            this.$emit('navegacion', 10)
                            this.$emit('message', 'success', result.data.message)
                        }else{
                            console.log('Pagar pedido Fail', result.data)
                            this.$emit('message', 'error', result.data.message)
                            this.$emit('navegacion', 11)
                        }
                    }
                }
            })
            .catch( error => {
                Swal.close()
                console.log('Pagar pedido Error', error)
                this.$emit('message', 'error', error)
                this.$emit('navegacion', 11)
            })
        },
        paginaAnterior() {
            this.$emit('navegacion', 18)
        },
    }
}
</script>

<style>
/* @charset "US-ASCII"; */
@import "http://fonts.googleapis.com/css?family=Lato:300,400,700";
/* * {
    color: #444;
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
} */
/* ::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
} */

body {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
strong {
	font-weight: 700;
}
a {
    /* cursor: pointer;
    display: block;
    text-decoration: none; */
}
a.button {
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    padding: 12px 0;
    width: 100%;
    display: table;
    background: #E51F04;
    background: -moz-linear-gradient(top,  #E51F04 0%, #A60000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E51F04), color-stop(100%,#A60000));
    background: -webkit-linear-gradient(top,  #E51F04 0%,#A60000 100%);
    background: -o-linear-gradient(top,  #E51F04 0%,#A60000 100%);
    background: -ms-linear-gradient(top,  #E51F04 0%,#A60000 100%);
    background: linear-gradient(to top,  #E51F04 0%,#A60000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E51F04', endColorstr='#A60000',GradientType=0 );
}
a.button i {
    margin-right: 10px;
}
a.button.disabled {
    background: none repeat scroll 0 0 #ccc;
    cursor: default;
}
.bkng-tb-cntnt {
    float: left;
    width: 800px;
}
.bkng-tb-cntnt a.button {
    color: #fff;
    float: right;
    font-size: 18px;
    padding: 5px 20px;
    width: auto;
}
.bkng-tb-cntnt a.button.o {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #e51f04;
    border: 1px solid #e51f04;
}
.bkng-tb-cntnt a.button i {
    color: #fff;
}
.bkng-tb-cntnt a.button.o i {
    color: #e51f04;
}
.bkng-tb-cntnt a.button.right i {
    float: right;
    margin: 2px 0 0 10px;
}
.bkng-tb-cntnt a.button.left {
    float: left;
}
.bkng-tb-cntnt a.button.disabled.o {
    border-color: #ccc;
    color: #ccc;
}
.bkng-tb-cntnt a.button.disabled.o i {
    color: #ccc;
}
.pymnts {
    float: left;
    width: 800px;
}
.pymnts * {
    float: left;
}

.sctn-row {
    margin-bottom: 35px;
    width: 800px;
}
.sctn-col {
    width: 375px;
}
.sctn-col.l {
    width: 425px;
}
.sctn-col input {
    border: 1px solid #ccc;
    font-size: 18px;
    line-height: 24px;
    padding: 10px 12px;
    width: 333px;
}
.sctn-col label {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
    width: 100%;
}
.sctn-col.x3 {
    width: 300px;
}
.sctn-col.x3.last {
    width: 200px;
}
.sctn-col.x3 input {
    width: 210px;
}
.sctn-col.x3 a {
    float: right;
}
.pymnts-sctn {
    width: 800px;
}
.pymnt-itm {
    margin: 0 0 3px;
    width: 800px;
}
.pymnt-itm h2 {
    background-color: #e9e9e9;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding: 28px 0 28px 20px;
    width: 780px;
}
.pymnt-itm.active h2 {
    background-color: #e51f04;
    color: #fff;
    cursor: default;
}
.pymnt-itm div.pymnt-cntnt {
    display: none;
}
.pymnt-itm.active div.pymnt-cntnt {
    background-color: #f7f7f7;
    display: block;
    padding: 0 0 30px;
    width: 100%;
}

.pymnt-cntnt div.sctn-row {
    margin: 20px 30px 0;
    width: 740px;
}
.pymnt-cntnt div.sctn-row div.sctn-col {
    width: 345px;
}
.pymnt-cntnt div.sctn-row div.sctn-col.l {
    width: 395px;
}
.pymnt-cntnt div.sctn-row div.sctn-col input {
    width: 303px;
}
.pymnt-cntnt div.sctn-row div.sctn-col.half {
    width: 155px;
}
.pymnt-cntnt div.sctn-row div.sctn-col.half.l {
    float: left;
    width: 190px;
}
.pymnt-cntnt div.sctn-row div.sctn-col.half input {
    width: 113px;
}
.pymnt-cntnt div.sctn-row div.sctn-col.cvv {
    background-image: url("/assets/img/openpay/cvv.png");
    background-position: 156px center;
    background-repeat: no-repeat;
    padding-bottom: 30px;
}
.pymnt-cntnt div.sctn-row div.sctn-col.cvv div.sctn-col.half input {
    width: 150px;
}
.openpay {
    float: right;
    height: 60px;
    margin: 10px 30px 0 0;
    width: 435px;
}
.openpay div.logo {
    background-image: url("/assets/img/openpay/openpay.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    border-right: 1px solid #ccc;
    font-size: 12px;
    font-weight: 400;
    height: 45px;
    padding: 15px 20px 0 0;
    width: 200px;
}
.openpay div.shield {
    background-image: url("/assets/img/openpay/security.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    font-size: 12px;
    font-weight: 400;
    margin-left: 20px;
    padding: 0 0 0 40px;
    width: 200px;
}
.card-expl {
    float: left;
    height: 80px;
    margin: 20px 0;
    width: 800px;
}
.card-expl div {
    background-position: left 45px;
    background-repeat: no-repeat;
    height: 70px;
    padding-top: 10px;
}
.card-expl div.debit {
    background-image: url("/assets/img/openpay/cards2.png");
    margin-left: 20px;
    width: 540px;
}
.card-expl div.credit {
    background-image: url("/assets/img/openpay/cards1.png");
    border-right: 1px solid #ccc;
    margin-left: 30px;
    width: 209px;
}
.card-expl h4 {
    font-weight: 400;
    margin: 0;
}
</style>
