<template>
<div class="flex flex-col items-center w-full h-auto py-6 border border-gray-400 shadow lg:w-4/12 rounded-xl">
    <div class="flex flex-wrap w-full px-3 mt-0 md:w-4/5 md:px-0 md:mt-10 place-content-between">
        <h2 class="uppercase font-rob-bold text-blueBT">Pagon con 3DS</h2>
        <div><span class="font-rob-light text-grayBT">5 - 5</span></div>
    </div>
    <div class="relative flex justify-around w-full h-auto mt-12">
        <div class="relative flex flex-col w-full h-auto px-3 mb-6 md:w-4/5 md:px-0">

            <div class="flex flex-row mt-4">

            </div>

            <!-- Botones -->
            <div class="relative flex flex-wrap content-end w-full h-auto mt-auto">
                <div class="relative flex justify-center w-full">
                    <button v-on:click="paginaSiguiente" :class="{'pointer-events-none opacity-50': disableNextButton}" class="appearance-none relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md bg-greenBT border border-solid border-gray-400 color-white--bk cursor-pointer hover:bg-white hover:border-greenBT hover:text-greenBT lg:text-lg md:text-base sm:text-sm ">
                        <span class="rob-bold">PAGAR</span>
                    </button>
                </div>

                <div class="relative flex justify-center w-full">
                    <div v-on:click="paginaAnterior" class="appearance-none relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md color-gray--bk border border-solid border-gray-400 cursor-pointer hover:bg-white hover:border-blue-400 hover:text-blue-400 lg:text-lg md:text-base sm:text-sm">
                        <span class="rob-bold">REGRESAR</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
const axios = require('axios').default
import Swal from 'sweetalert2';
export default {
    props:['pago', 'pedido'],
    data() {
        return{
        }
    },
    computed: {
        disableNextButton() {
            return false
        }
    },
    mounted() {},
    methods:{}
}
</script>

<style>

</style>
