:root {
    --main-green--bk: #81b84e;
    --main-red--bk: #ff1d25;
    --main-blue--bk: #50b9e7;
    --main-gray--bk: #808080;
    --main-white--bk: #ffffff;
}

body {
    overflow-x: hidden;
}

.color-red--bk {
    color: var(--main-red--bk);
}

.color-green--bk {
    color: var(--main-green--bk);
}

.color-blue--bk {
    color: var(--main-blue--bk);
}

.color-green--bk {
    color: var(--main-green--bk);
}

.color-gray--bk {
    color: var(--main-gray--bk);
}

.color-white--bk {
    color: var(--main-white--bk);
}

.background-blue--bk {
    background-color: var(--main-blue--bk);
}

.background-green--bk {
    background-color: var(--main-green--bk);
}

.background-white--bk {
    background-color: var(--main-white--bk);
}

.background-red--bk {
    background-color: var(--main-red--bk);
}

.border-color-white--BK {
    border-color: var(--main-white--bk);
}

.border-color-gray--BK {
    border-color: var(--main-gray--bk);
}

.border-color-blue--BK {
    border-color: var(--main-blue--bk);
}

.border-color-green--BK {
    border-color: var(--main-green--bk);
}

.border-color-red--BK {
    border-color: var(--main-red--bk);
}

.font-10 {
    font-size: 10px;
}

.font-11 {
    font-size: 11px;
}

.font-12 {
    font-size: 12px;
}

.font-13 {
    font-size: 13px;
}

.font-14 {
    font-size: 14px;
}

.font-15 {
    font-size: 15px;
}

.font-16 {
    font-size: 16px;
}

.font-17 {
    font-size: 17px;
}

.font-18 {
    font-size: 18px;
}

.font-19 {
    font-size: 19px;
}

.font-20 {
    font-size: 20px;
}

.font-22 {
    font-size: 22px;
}

.font-24 {
    font-size: 24px;
}

.font-26 {
    font-size: 26px;
}

.font-28 {
    font-size: 28px;
}

.font-30 {
    font-size: 30px;
}

.font-32 {
    font-size: 32px;
}

.font-34 {
    font-size: 34px;
}

.font-36 {
    font-size: 36px;
}

.font-38 {
    font-size: 38px;
}

.font-40 {
    font-size: 40px;
    line-height: 40px;
}

.w-100 {
    width: 100px;
}

.w-150 {
    width: 150px;
}

.w-200 {
    width: 200px;
}

.w-250 {
    width: 250px;
}

.w-300 {
    width: 300px;
}

.w-350 {
    width: 350px;
}

.w-400 {
    width: 400px;
}

.w-450 {
    width: 450px;
}

.w-500 {
    width: 500px;
}

.w-550 {
    width: 550px;
}

.w-600 {
    width: 600px;
}

.w-650 {
    width: 650px;
}

.w-700 {
    width: 700px;
}

.w-750 {
    width: 750px;
}

.w-800 {
    width: 800px;
}

.w-850 {
    width: 850px;
}

.w-900 {
    width: 900px;
}

.w-950 {
    width: 950px;
}

.w-1000 {
    width: 1000px;
}

.min-h-custom {
    min-height: calc(100vh - 8.1rem);
}

/* .min-h-interno {
    min-height: calc(100vh - 10.2rem);
} */

.h-custom-menu {
    height: calc(100vh - 145px);
}

.w-custom-menu {
    width: 250px;
    max-width: 100vw;
}

.h-custom {
    height: auto;
}


/* .espacio_tablas th, */

.fondo_amarillo {
    background-color: #fff8b8;
}

        /* Diseño personalizado del datatable */
        .data-table-diseño {
            width: 100%;
        }
        .data-table-diseño table td, .data-table-diseño table th, .data-table-diseño table th span {
            color: var(--main-gray--bk);
        }
        .data-table-diseño table th, .data-table-diseño table th span {
            font-weight: bold;
        }
        .data-table-diseño .shadow-sm {
            box-shadow: 0 0 0;
        }
        .data-table-diseño .md\:w-auto {
            position: relative;
        }
        .data-table-diseño .md\:w-auto::after {
            content: "";
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            right: 1rem;
            height: 0;
            width: 0;
            border-top: 5px solid gray;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 0;
            pointer-events: none;
        }
        .data-table-diseño select {
            cursor: pointer;
        }
        .data-table-diseño .shadow-sm input, .data-table-diseño select {
            border: 1px solid rgba(229, 231, 235, var(--tw-border-opacity));
            border-color: rgba(229, 231, 235, var(--tw-border-opacity)) !important;
            width: 12rem;
            max-width: 100%;
            height: 2.75rem;
            font-size: 1rem;
            appearance: none;
            color: var(--main-gray--bk);
        }
        .data-table-diseño [wire\:id] {
            width: 100%;
        }
        .data-table-diseño span[aria-current] > span {
            background-color: var(--main-blue--bk);
            color: white;
        }
        .data-table-diseño span[wire\:key] > button:hover {
            background-color: var(--main-green--bk);
            color: white;
        }
        .data-table-diseño input {
            padding-left: 0.5rem;
            padding-right: 2rem;
        }


.espacio_tablas span {
    display: inline-flex;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    width: max-content;
    min-width: 100px;
    max-width: 200px;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.espacio_tablas td span {
    min-height: 55px;
    align-items: center;
}

.tabla-p-0 td {
    padding: 0;
}

.espacio_tablas tbody tr:nth-child(2n) td {
    background-color: #f2f2f2;
}

.scrool_azul {
    scrollbar-color: #50b8e6 transparent;
    /* scrollbar-width: thin; */
}

.scrool_azul::-webkit-scrollbar-thumb {
    background-color: #50b8e6;
}

.scrool_azul::-webkit-scrollbar {
    height: 15px;
}

.contenedor-flecha {
    position: relative;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: start;
    align-items: center;
}

.input_booktrain {
    border-color: #e5e7eb !important;
    border-width: 0 !important;
    border-bottom-width: 2px !important;
    outline: none;
}

.input_booktrain:focus {
    border-color: #a1a9b860 !important;
    --tw-ring-color: transparent !important;
    border-width: 0 !important;
    border-bottom-width: 2px !important;
}

.contenedor-flecha span {
    background-color: var(--main-white--bk);
    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    max-width: calc(100% - 30px);
    padding-right: 20px;
}

.contenedor-flecha .flecha-derecha {
    display: block;
    position: relative;
    z-index: 0;
    height: 100%;
    width: 30px;
}

.contenedor-flecha .flecha-derecha::before {
    content: "";
    position: absolute;
    margin: auto;
    height: 1px;
    width: 1000px;
    top: 0;
    bottom: 0;
    right: 1px;
    background-color: var(--main-gray--bk);
}

.contenedor-flecha .flecha-derecha::after {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 1px;
    height: 5px;
    width: 5px;
    border-bottom: 1px solid var(--main-gray--bk);
    border-right: 1px solid var(--main-gray--bk);
    transform: rotate(-45deg);
}

.flecha-izquierda {
    display: block;
    position: relative;
    z-index: 0;
    height: 100%;
    width: 30px;
}

.flecha-izquierda::before {
    content: "";
    position: absolute;
    margin: auto;
    height: 1px;
    width: 30px;
    top: 0;
    bottom: 0;
    left: 1px;
    background-color: var(--main-gray--bk);
}

.flecha-izquierda::after {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 1px;
    height: 5px;
    width: 5px;
    border-bottom: 1px solid var(--main-gray--bk);
    border-left: 1px solid var(--main-gray--bk);
    transform: rotate(45deg);
}

.contenedor-flecha:hover .flecha-derecha::before {
    background-color: var(--main-blue--bk);
}

.contenedor-flecha:hover .flecha-derecha::after {
    border-bottom: 1px solid var(--main-blue--bk);
    border-right: 1px solid var(--main-blue--bk);
}

.seleccionado {
    justify-content: space-between;
}

.seleccionado span {
    color: var(--main-blue--bk);
}

.seleccionado .flecha-derecha::before {
    background-color: var(--main-blue--bk);
}

.seleccionado .flecha-derecha::after {
    border-bottom: 1px solid var(--main-blue--bk);
    border-right: 1px solid var(--main-blue--bk);
}

.hover\:color-blue--bk:hover {
    color: var(--main-blue--bk);
}

.hover\:background-blue--bk:hover {
    background-color: var(--main-blue--bk);
}

.hover\:border-color-blue--BK:hover {
    border-color: var(--main-blue--bk);
}

.hover\:color-green--bk:hover {
    color: var(--main-green--bk);
}

.hover\:background-green--bk:hover {
    background-color: var(--main-green--bk);
}

.hover\:border-color-green--BK:hover {
    border-color: var(--main-green--bk);
}


/* FLECHA ABAJO */

.select_motivos {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1.6rem;
    /* background-color: white; */
    z-index: 1;
    margin-bottom: 0;
    pointer-events: none;
}

.select_motivos::after {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    border-top: 5px solid gray;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 0;
    pointer-events: none;
}

.border-b-green--BK {
    position: relative;
}

.border-b-green--BK::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: -2px;
    left: 0;
    right: 0;
    background-color: var(--main-green--bk);
}

.img-bk {
    background-image: url("../img/portada_bk.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-xxs {
    font-size: 9px;
}


/* Loged Blade */

.contenido_menu {
    width: 330px;
}

.w-espacio {
    width: calc(100% - 330px);
}

.width-form {
    width: 480px;
}


/* CHECKBOX CUSTOM */

.custom-check--bk {
    width: 0;
    height: 0;
    opacity: 0;
    display: none;
}

.custom-check-label--bk {
    display: flex;
    align-items: center;
    color: #9e9e9e;
    position: relative;
}

.custom-check-label--bk>.custom-check-span--bk {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    border: 2px solid var(--main-gray--bk);
    margin-right: 15px;
    border-radius: 3px;
    transition: all 0.3s;
}

.custom-check--bk:checked+.custom-check-label--bk>.custom-check-span--bk {
    border: 10px solid var(--main-blue--bk);
    animation: bounce 250ms;
}

.custom-check--bk:checked+.custom-check-label--bk>.custom-check-span--bk::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 4px;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checked-box 125ms 250ms forwards;
}

.avance {
    position: relative;
}

.avance::before {
    content: "";
    position: absolute;
    margin: auto;
    background-color: var(--main-gray--bk);
    height: 1px;
    width: 4.2rem;
    right: 100%;
    top: 0;
    bottom: 0;
}

.activado {
    background-color: var(--main-green--bk);
}

.activado::before {
    background-color: var(--main-green--bk);
}

.cancelado {
    background-color: var(--main-red--bk);
}

.cancelado::before {
    background-color: var(--main-red--bk);
}

.primero::before {
    width: 0;
    background-color: transparent;
}

.actual::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -2rem;
    bottom: -2rem;
    left: -2rem;
    right: -2rem;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    border: 1px solid var(--main-green--bk);
    z-index: 1;
}

.actual-cancelado::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -2rem;
    bottom: -2rem;
    left: -2rem;
    right: -2rem;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    border: 1px solid var(--main-red--bk);
    z-index: 1;
}

@keyframes checked-box {
    0% {
        width: 0;
        height: 0;
        border-color: var(--main-white--bk);
        transform: translate(0, 0) rotate(45deg);
    }
    33% {
        width: 4px;
        height: 0;
        border-color: var(--main-white--bk);
        transform: translate(0, 0) rotate(45deg);
    }
    100% {
        width: 5px;
        height: 10px;
        border-color: var(--main-white--bk);
        transform: translate(0, -5px) rotate(45deg);
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}

@media (min-width: 768px) {
    .md\:img-bk {
        background-image: url("../img/portada_bk.jpg");
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .md\:color-white--bk {
        color: var(--main-white--bk);
    }
    /*.min-h-custom {
        min-height: calc(100vh - 8.1rem);
    }*/
    .h-custom {
        height: calc(100vh - 8.1rem);
    }
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}

@media (min-width: 320px) {}

@media (min-width: 481px) {}

@media (min-width: 641px) {}

@media (min-width: 961px) {}

@media (min-width: 1025px) {}

@media (max-width: 1279px) {
    .w-menu {
        width: 305px;
    }
}
