<template>
        <button class="boton-reporte appearance-none bg-white rounded-none relative block text-center py-1 px-3 w-9/12 my-1.5 rounded-md color-gray--bk border border-solid border-gray-400 hover:border-green-500 hover:text-white lg:text-lg md:text-base sm:text-sm font-bold uppercase justify-center flex flex-col align-center items-center">
            <div class="documento relative w-1/3 h-1/3 mb-4" >
            </div>
            {{texto}}
        </button>

</template>

<script>

    export default {
        props:{
            texto: String
        },
        data() {
            return {

            }
        },
        methods:{

        }
    }

</script>

<style scoped>
    .boton-reporte:hover{
        background-color: #81b84e;
    }
    .documento{
        background-image: url("/assets/img/svg/documento.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
    .boton-reporte:hover .documento{
        background-image: url("/assets/img/svg/documento-blanco.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
