<template>

<!-- Div padre -->
    <div class="relative flex flex-col w-full h-full p-12 border rounded-md border-color-gray--BK">
        <span class="text-2xl text-red-500 font-rob-bold">REPORTE ENVÍOS</span>
        <div class="relative flex flex-row w-full mt-6 h-4/5">
            <!-- Parte izq -->
              <div class="relative flex flex-col w-1/2 h-full p-12">
                    <!-- <span class="text-xl font-bold uppercase color-red--bk">Reporte envíos</span> -->
                    <div class="relative flex items-end justify-center w-full h-full">
                        <img src="/assets/img/svg/documento.svg" alt="" class="w-1/3 h-5/6">
                    </div>
                </div>
            <!-- División -->
            <div class="border-r border-color-gray--BK"></div>
            <!-- Parte derecha -->
            <div class="relative flex justify-center w-1/2">
                <div class="flex items-center justify-center w-3/4">
                    <form method="POST" action="/envios_general/tablareporteenvios" class="relative flex flex-col items-center justify-center w-full xl:w-3/4 h-2/3">
                        <input type="hidden" name="_token" :value="csrf" />
                        <div class="relative flex w-full">
                            <input name="inicio" placeholder="FECHA INICIAL" class="relative w-1/2 p-2 m-4 placeholder-gray-500 border font-rob-light" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" v-model="colegio_elegido_busqueda.fecha_inicial">
                            <input name="fin" placeholder="FECHA FINAL" class="relative w-1/2 p-2 m-4 placeholder-gray-500 border font-rob-light" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" v-model="colegio_elegido_busqueda.fecha_final">
                        </div>

                        <input type="hidden" name="colegio" :value="id_colegio_elegido" />

                        <!-- appearance-none uppercase relative flex items-center justify-center text-center py-3 px-3 background-green--bk w-full h-14 my-5 rounded-md color-white--bk border border-solid hover:bg-white hover:border-color-green--BK hover:color-green--bk lg:text-lg md:text-base sm:text-sm rob-bold -->
                        <button type="submit" class="absolute bottom-0 w-6/12 h-12 px-3 py-3 my-5 text-lg text-center text-white uppercase border border-solid rounded-sm rounded-md appearance-none cursor-pointer background-green--bk color-white--bk hover:bg-white hover:border-color-green--BK hover:color-green--bk lg:text-lg md:text-base sm:text-sm font-rob-bold" :class="{desabilitado: boton_desabilitado}">
                            ver reporte
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>

</template>

<script>
const axios = require('axios').default

    export default {
        data() {
            return {
                colegio: {},
                informacion_grados:{},
                id_colegio_elegido:undefined,
                colegio_elegido_busqueda:{
                    fecha_inicial:undefined,
                    fecha_final: undefined,
                    // grado: "GRADO",
                    // isbn: "ISBN"
                },
                boton_desabilitado:true
            }
        },
        props:{
            codigo_colegio: String,
            csrf: String
        },
        mounted() {
            console.log(this.csrf);

                axios.post("/api_web/colegio/informacion", {
                    codigo: this.codigo_colegio
                }).then(response => {
                    this.colegio = response.data.data
                    this.id_colegio_elegido = this.colegio.id
                }, fail => {
                    console.log(fail)
                })

        },
        watch:{
            id_colegio_elegido(){
                axios.get("/api_web/colegios/"+this.id_colegio_elegido+"/colegiosISBN").then(response => {
                this.informacion_grados = response.data.data
                // console.log(this.informacion_grados)
                }, fail => {
                console.log(fail)
                })
            },
            colegio_elegido_busqueda:{
                handler: function(){
                    if(this.colegio_elegido_busqueda.fecha_inicial != undefined && this.colegio_elegido_busqueda.fecha_final && this.colegio_elegido_busqueda.grado != "GRADO" && this.colegio_elegido_busqueda.isbn != "ISBN"){
                        this.boton_desabilitado = false
                    }
                },
                deep: true

            }
        },
        methods:{
        }
    }

</script>

<style scoped>
    .separacion{
        height: 90%;
    }
    .desabilitado{
        background-color: gray;
        pointer-events: none;
    }
</style>
