<template>

<!-- Div padre -->
    <div class="relative flex flex-col justify-center w-full h-auto border rounded-md min-h-interno border-color-gray--BK">
        <!-- Parte botones cuadrados para elegir tipo de reporte -->
        <div class="relative flex flex-col justify-center w-full h-auto mt-16" v-if="!mostrar_form">
            <div class="relative flex justify-center w-full h-80">
                <div class="relative flex justify-center w-1/2 h-full">
                    <!-- <cuadro-tipo-reporte texto="reporte general" @click.native="tipo_reporte('reporte general')"></cuadro-tipo-reporte> -->
                    <a href="/reportes/general" class="boton-reporte appearance-none bg-white rounded-none relative block text-center py-1 px-3 w-9/12 my-1.5 rounded-md color-gray--bk border border-solid border-gray-400 hover:border-green-500 hover:text-white lg:text-lg md:text-base sm:text-sm font-bold uppercase justify-center flex flex-col align-center items-center">
                        <div class="relative w-1/3 mb-4 documento h-1/3" >
                        </div>
                        REPORTE GENERAL
                    </a>
                </div>
                <div class="relative flex justify-center w-1/2 h-full">
                    <cuadro-tipo-reporte texto="reporte de facturación" @click.native="tipo_reporte('reporte de facturación')"></cuadro-tipo-reporte>
                </div>
            </div>
            <div class="relative flex justify-center w-full mt-8 h-80">
                <div class="relative flex justify-center w-1/2 h-full">
                    <a href="/reportes/cierre" class="boton-reporte appearance-none bg-white rounded-none relative block text-center py-1 px-3 w-9/12 my-1.5 rounded-md color-gray--bk border border-solid border-gray-400 hover:border-green-500 hover:text-white lg:text-lg md:text-base sm:text-sm font-bold uppercase justify-center flex flex-col align-center items-center">
                        <div class="relative w-1/3 mb-4 documento h-1/3" >
                        </div>
                        REPORTE DE CIERRE
                    </a>
                    
                </div>
                <div class="relative flex justify-center w-1/2 h-full">
                <a href="/reportes/colegio" class="boton-reporte appearance-none bg-white rounded-none relative block text-center py-1 px-3 w-9/12 my-1.5 rounded-md color-gray--bk border border-solid border-gray-400 hover:border-green-500 hover:text-white lg:text-lg md:text-base sm:text-sm font-bold uppercase justify-center flex flex-col align-center items-center">
                        <div class="relative w-1/3 mb-4 documento h-1/3" >
                        </div>
                        REPORTE PARA COLEGIO
                    </a>
                    <!-- <cuadro-tipo-reporte texto="reporte para colegio" @click.native="tipo_reporte('reporte para colegio')"></cuadro-tipo-reporte> -->
                </div>
            </div>
            <div class="relative flex justify-center w-full mt-8 h-80">
                <a href="/admin/pagos_fallidos" class="relative flex justify-center w-1/2 h-full">
                    <cuadro-tipo-reporte texto="Pagos fallidos con tarjeta"></cuadro-tipo-reporte>
                </a>
                <div class="relative flex justify-center w-1/2 h-full">
                    <cuadro-tipo-reporte texto="Cierre de caja" @click.native="tipo_reporte('Cierre de caja')"></cuadro-tipo-reporte>
                </div>
            </div>
            <div class="relative flex justify-center w-full mt-8 mb-16 h-80">
                <div class="relative flex justify-center w-1/2 h-full">
                    <cuadro-tipo-reporte texto="Cierre del día" @click.native="tipo_reporte('Cierre del día')"></cuadro-tipo-reporte>
                </div>
                <div class="relative flex justify-center w-1/2 h-full">
                    &nbsp;
                </div>
            </div>
        </div>
        <!-- Terminan botones -->
        <!-- Parte form para tipo de reporte elegido -->
        <div v-if="mostrar_form" class="relative flex flex-col justify-center w-full h-interno">
            <div class="relative flex flex-row justify-center w-full h-full">
                <!-- Parte izq -->
                <div class="relative flex flex-col w-1/2 h-full p-12">
                    <span class="text-xl font-bold uppercase color-red--bk">{{nombre_reporte}}</span>
                    <div class="relative flex items-end justify-center w-full h-full">
                        <img src="/assets/img/svg/documento.svg" alt="" class="w-1/3 h-5/6">
                    </div>
                </div>
                <!-- Div separación -->
                <div class="border-r border-color-gray--BK separacion mt-14">
                </div>
                <!-- Parte derecha -->
                <!-- Reporte para colegio -->
                <form method="POST" action="/tablareportecolegio" v-if="this.nombre_reporte == 'reporte para colegio'" class="relative flex flex-col items-center justify-center w-1/2 h-full p-12">
                    <div class="flex flex-col justify-center w-full h-5/6 align-center xl:w-2/3">
                        <div class="relative flex w-full">
                            <input @mouseover="datePicker" id="inicio" name="inicio" placeholder="FECHA INICIAL" class="relative w-1/2 p-2 m-4 border appearance-none color-gray--bk" type="text" v-model="colegio_elegido_busqueda.fecha_inicial">
                            <input @mouseover="datePicker" id="fin" name="fin" placeholder="FECHA FINAL" class="relative w-1/2 p-2 m-4 border appearance-none color-gray--bk" type="text" v-model="colegio_elegido_busqueda.fecha_final">
                        </div>
                        <div class="relative flex w-full mt-4">
                            <div class="relative flex w-full m-2 overflow-hidden border border-gray-200 rounded-md cursor-pointer">
                                <label for="select_motivos" class="cursor-pointer select_motivos"></label>
                                 <select name="colegio" class="p-2 pr-8 appearance-none w-full cursor-pointer color-gray--bk" @change="eleccion_colegio($event)" v-model="colegio_elegido_busqueda.colegio">
                                    <option disabled selected>COLEGIO</option>
                                    <option v-for="(colegio, n) in informacion_colegios" :key="n" :value="colegio.id" >{{colegio.nombre}}</option>
                                </select>
                            </div>

                        </div>
                        <div class="relative flex w-full mt-4">
                            <div class="relative flex w-1/2 m-2 overflow-hidden border border-gray-200 rounded-md cursor-pointer">
                                <label for="select_motivos" class="cursor-pointer select_motivos"></label>
                                 <select name="grado" class="p-2 pr-8 appearance-none w-full cursor-pointer color-gray--bk" v-model="colegio_elegido_busqueda.grado">
                                    <option disabled selected>GRADO</option>
                                    <option value="0">TODOS LOS GRADOS</option>
                                <!-- {{informacion_grados}} -->
                                    <option v-for="(grado, n) in informacion_grados.niveles" :key="n" :value="grado.id" >{{grado.nombre_completo}}</option>
                                </select>
                            </div>

                            <div class="relative flex w-1/2 m-2 overflow-hidden border border-gray-200 rounded-md cursor-pointer">
                                <label for="select_motivos" class="cursor-pointer select_motivos"></label>
                                 <select name="isbn" class="p-2 pr-8 appearance-none w-full cursor-pointer color-gray--bk" v-model="colegio_elegido_busqueda.isbn">
                                    <option disabled selected>ISBN</option>
                                    <option value="0">TODOS LOS ISBN</option>
                                    <option v-for="(libro, n) in informacion_grados.libros" :key="n" :value="libro.isbn" >{{libro.isbn}}</option>
                                </select>
                            </div>



                        </div>
                        <!-- <div v-if="(this.nombre_reporte == 'reporte para colegio')" class="relative flex w-full mt-4">
                            <select name="estatus" class="relative w-full p-2 m-4 border color-gray--bk" v-model="colegio_elegido_busqueda.estatus">
                                <option disabled selected>ESTATUS</option>
                                <option value="1">SURTIDO</option>
                                <option value="0">POR SURTIR</option>
                            </select>
                        </div> -->
                        <input type="hidden" name="_token" :value="csrf">
                        <div class="relative flex justify-center w-full mt-4">
                            <button type="submit" class="w-5/12 p-2 font-bold text-center text-white uppercase rounded-sm cursor-pointer enviar-reporte hover:bg-white" :class="{desabilitado: boton_desabilitado}">
                                ver reporte
                            </button>
                        </div>
                    </div>
                </form>
                <!-- Reporte general -->
                <form method="POST" action="/tablareportegeneral" v-if="this.nombre_reporte == 'reporte general'" class="relative flex flex-col items-center justify-center w-1/2 h-full p-12">
                    <div class="flex flex-col justify-center w-full h-5/6 align-center xl:w-2/3">
                        <div class="relative flex w-full">
                            <input @mouseover="datePicker" name="inicio" id="inicio" placeholder="FECHA INICIAL" class="relative w-1/2 p-2 m-4 border appearance-none color-gray--bk" v-model="colegio_elegido_busqueda.fecha_inicial" type="text">
                            <!-- <input name="inicio" placeholder="FECHA INICIAL" class="relative w-1/2 p-2 m-4 border color-gray--bk" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" v-model="colegio_elegido_busqueda.fecha_inicial"> -->
                            <input @mouseover="datePicker" id="fin" name="fin" placeholder="FECHA FINAL" class="relative w-1/2 p-2 m-4 border appearance-none color-gray--bk" v-model="colegio_elegido_busqueda.fecha_final" type="text">
                        </div>

                        <div class="relative flex w-full m-2 overflow-hidden border border-gray-200 rounded-md cursor-pointer">
                            <label for="select_motivos" class="cursor-pointer select_motivos"></label>
                            <select name="colegio" class="p-2 pr-8 appearance-none w-full cursor-pointer color-gray--bk" @change="eleccion_colegio($event)" v-model="colegio_elegido_busqueda.colegio">
                                <option disabled selected>COLEGIO</option>
                                <option value="" >TODOS</option>
                                <option v-for="(colegio, n) in informacion_colegios" :key="n" :value="colegio.id" >{{colegio.nombre}}</option>
                            </select>
                        </div>
                        <div class="relative flex w-full mt-4">

                            <div class="relative flex w-1/2 m-2 overflow-hidden border border-gray-200 rounded-md cursor-pointer">
                                <label for="select_motivos" class="cursor-pointer select_motivos"></label>
                                 <select name="grado" class="p-2 pr-8 appearance-none w-full cursor-pointer color-gray--bk" v-model="colegio_elegido_busqueda.grado">
                                <option disabled selected>GRADO</option>
                                <option value="0">TODOS LOS GRADOS</option>
                                <option v-for="(grado, n) in informacion_grados.niveles" :key="n" :value="grado.id" >{{grado.nombre_completo}}</option>
                            </select>
                            </div>

                            <div class="relative flex w-1/2 m-2 overflow-hidden border border-gray-200 rounded-md cursor-pointer">
                                <label for="select_motivos" class="cursor-pointer select_motivos"></label>
                                 <select name="isbn" class="p-2 pr-8 appearance-none w-full cursor-pointer color-gray--bk" v-model="colegio_elegido_busqueda.isbn">
                                    <option disabled selected>ISBN</option>
                                    <option value="0">TODOS LOS ISBN</option>
                                    <option v-for="(libro, n) in informacion_grados.libros" :key="n" :value="libro.isbn" >{{libro.isbn}}</option>
                                </select>
                            </div>

                        </div>
                        <div class="relative flex w-full mt-4">

                            <div class="relative flex w-full m-2 overflow-hidden border border-gray-200 rounded-md cursor-pointer">
                                <label for="select_motivos" class="cursor-pointer select_motivos"></label>
                                 <select name="estatus" class="p-2 pr-8 appearance-none w-full cursor-pointer color-gray--bk" v-model="colegio_elegido_busqueda.estatus">
                                    <option disabled selected>ESTATUS</option>
                                    <option value="" >TODOS</option>
                                    <option value="0">POR SURTIR (PAGADO)</option>
                                    <option value="1">ENVIADO</option>
                                    <option value="2">ENTREGADO</option>
                                    <option value="3">ENVÍO PARCIAL</option>
                                    <option value="4">ENVÍO LIQUIDADO</option>
                                </select>
                            </div>

                        </div>
                        <input type="hidden" name="_token" :value="csrf">
                        <div class="relative flex justify-center w-full mt-4">
                            <button type="submit" class="w-5/12 p-2 font-bold text-center text-white uppercase rounded-sm appearance-none cursor-pointer enviar-reporte hover:bg-white" :class="{desabilitado: boton_desabilitado}">
                                ver reporte
                            </button>
                        </div>
                    </div>
                </form>
                <!-- Reporte de facturación -->
                <form method="POST" action="/tablareportefacturacion" v-if="this.nombre_reporte == 'reporte de facturación'" class="relative flex flex-col items-center justify-center w-1/2 h-full p-12">
                    <div class="flex flex-col justify-center w-full h-5/6 align-center xl:w-2/3">
                        <div class="relative flex w-full">
                            <input @mouseover="datePicker" name="inicio" id="inicio" placeholder="FECHA INICIAL" class="relative w-1/2 p-2 m-4 border appearance-none color-gray--bk" type="text" v-model="colegio_elegido_busqueda.fecha_inicial">

                            <input @mouseover="datePicker" id="fin" name="fin" placeholder="FECHA FINAL" class="relative w-1/2 p-2 m-4 border appearance-none color-gray--bk" type="text" v-model="colegio_elegido_busqueda.fecha_final">
                        </div>

                        <div class="relative flex w-full mt-4">
                            <div data-v-703695a9="" class="relative flex w-full m-2 overflow-hidden border border-gray-200 rounded-md cursor-pointer h-11">
                                <label data-v-703695a9="" for="colegio" class="cursor-pointer select_motivos"></label>
                                <select name="colegio" class="relative w-full h-full p-2 pr-8 appearance-none cursor-pointer color-gray--bk" @change="eleccion_colegio($event)" v-model="colegio_elegido_busqueda.colegio">
                                    <option value="" selected>TODOS</option>
                                    <option v-for="(colegio, n) in informacion_colegios" :key="n" :value="colegio.id" >{{colegio.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" name="_token" :value="csrf">
                        <div class="relative flex justify-center w-full mt-4">
                            <button type="submit" class="w-5/12 p-2 font-bold text-center text-white uppercase rounded-sm cursor-pointer enviar-reporte hover:bg-white" :class="{desabilitado: boton_desabilitado}">
                                ver reporte
                            </button>
                        </div>
                    </div>
                </form>
                <!-- Reporte de cierre  -->
                <form method="POST" action="/tablareportecierre" v-if="this.nombre_reporte == 'reporte de cierre'" class="relative flex flex-col items-center justify-center w-1/2 h-full p-12">
                    <div class="flex flex-col justify-center w-full h-5/6 align-center xl:w-2/3">
                        <div class="relative flex w-full">
                            <input @mouseover="datePicker" id="inicio" name="inicio" placeholder="FECHA INICIAL" class="relative w-1/2 p-2 m-4 border appearance-none color-gray--bk" type="text" v-model="colegio_elegido_busqueda.fecha_inicial">
                            <input @mouseover="datePicker" id="fin" name="fin" placeholder="FECHA FINAL" class="relative w-1/2 p-2 m-4 border appearance-none color-gray--bk" type="text" v-model="colegio_elegido_busqueda.fecha_final">
                        </div>
                        <div class="relative flex w-full mt-4">
                            <div class="relative flex w-full m-2 overflow-hidden border border-gray-200 rounded-md cursor-pointer">
                                <label for="select_motivos" class="cursor-pointer select_motivos"></label>
                                <select name="colegio" class="p-2 pr-8 appearance-none w-full cursor-pointer color-gray--bk" @change="eleccion_colegio($event)" v-model="colegio_elegido_busqueda.colegio">
                                    <option disabled selected>COLEGIO</option>
                                    <option v-for="(colegio, n) in informacion_colegios" :key="n" :value="colegio.id" >{{colegio.nombre}}</option>
                                </select>
                            </div>

                        </div>
                        <div class="relative flex w-full mt-4">

                            <div class="relative flex w-1/2 m-2 overflow-hidden border border-gray-200 rounded-md cursor-pointer">
                                <label for="select_motivos" class="cursor-pointer select_motivos"></label>
                                <select name="grado" class="p-2 pr-8 appearance-none w-full cursor-pointer color-gray--bk" v-model="colegio_elegido_busqueda.grado">
                                    <option disabled selected>GRADO</option>
                                    <option value="0">TODOS LOS GRADOS</option>
                                <!-- {{informacion_grados}} -->
                                    <option v-for="(grado, n) in informacion_grados.niveles" :key="n" :value="grado.id" >{{grado.nombre_completo}}</option>
                                </select>
                            </div>

                            <div class="relative flex w-1/2 m-2 overflow-hidden border border-gray-200 rounded-md cursor-pointer">
                                <label for="select_motivos" class="cursor-pointer select_motivos"></label>
                                <select name="isbn" class="p-2 pr-8 appearance-none w-full cursor-pointer color-gray--bk" v-model="colegio_elegido_busqueda.isbn">
                                    <option disabled selected>ISBN</option>
                                    <option value="0">TODOS LOS ISBN</option>
                                    <option v-for="(libro, n) in informacion_grados.libros" :key="n" :value="libro.isbn" >{{libro.isbn}}</option>
                                </select>
                            </div>


                        </div>
                        <input type="hidden" name="_token" :value="csrf">
                        <div class="relative flex justify-center w-full mt-4">
                            <button type="submit" class="w-5/12 p-2 font-bold text-center text-white uppercase rounded-sm cursor-pointer enviar-reporte hover:bg-white" :class="{desabilitado: boton_desabilitado}">
                                ver reporte
                            </button>
                        </div>
                    </div>
                </form>
                 <!-- Reporte de cierre  -->
                <form method="GET" action="/cierre_caja" v-if="this.nombre_reporte == 'Cierre de caja'" class="relative flex flex-col items-center justify-center w-1/2 h-full p-12">
                    <div class="flex flex-col justify-center w-full h-5/6 align-center xl:w-2/3">
                        <div class="relative flex w-full">
                            <!-- <input @mouseover="datePicker" id="inicio" name="inicio" placeholder="FECHA INICIAL" class="relative w-full p-2 m-4 border appearance-none color-gray--bk" type="text" v-model="colegio_elegido_busqueda.fecha_inicial"> -->
                            <input @mouseover="datePicker" id="fin" name="fin" placeholder="FECHA FINAL" class="relative w-full p-2 m-4 border appearance-none color-gray--bk" type="text" v-model="colegio_elegido_busqueda.fecha_final">
                        </div>
                        <div class="relative flex w-full mt-4">
                            <div class="relative flex w-full m-2 overflow-hidden border border-gray-200 rounded-md cursor-pointer">
                                <label for="select_motivos" class="cursor-pointer select_motivos"></label>
                                <select name="colegio" class="p-2 pr-8 appearance-none cursor-pointer w-full color-gray--bk" @change="eleccion_colegio($event)" v-model="colegio_elegido_busqueda.colegio">
                                    <option disabled selected>COLEGIO</option>
                                    <option v-for="(colegio, n) in informacion_colegios" :key="n" :value="colegio.id" >{{colegio.nombre}}</option>
                                </select>
                            </div>

                        </div>
                        <div class="relative flex w-full mt-4">
                            <div class="relative flex w-full m-2 overflow-hidden border border-gray-200 rounded-md cursor-pointer">
                                <label for="select_motivos" class="select_motivos pointer-events-none"></label>
                                <select name="caja" class="p-2 pr-8 appearance-none cursor-pointer w-full color-gray--bk" v-model="colegio_elegido_busqueda.caja">
                                    <option disabled selected>CAJA</option>
                                    <option v-for="(caja, n) in informacion_grados_cajas.cajas" :key="n" :value="caja.id" >{{ caja.usuario_nombre }} {{ caja.fecha_cierre }}</option>
                                </select>
                            </div>

                        </div>

                        <input type="hidden" name="_token" :value="csrf">
                        <div class="relative flex justify-center w-full mt-4">
                            <button type="submit" class="w-5/12 p-2 font-bold text-center text-white uppercase rounded-sm cursor-pointer enviar-reporte hover:bg-white" :class="{desabilitado: boton_desabilitado}">
                                ver reporte
                            </button>
                        </div>
                    </div>
                </form>
                 <!-- Reporte del día  -->
                <form method="GET" action="/cierre_del_dia" v-if="this.nombre_reporte == 'Cierre del día'" class="relative flex flex-col items-center justify-center w-1/2 h-full p-12">
                    <div class="flex flex-col justify-center w-full h-5/6 align-center xl:w-2/3">
                        <div class="relative flex w-full">
                            <!-- <input @mouseover="datePicker" id="inicio" name="inicio" placeholder="FECHA INICIAL" class="relative w-full p-2 m-4 border appearance-none color-gray--bk" type="text" v-model="colegio_elegido_busqueda.fecha_inicial"> -->
                            <input @mouseover="datePicker" id="fin" name="fin" placeholder="FECHA FINAL" class="relative w-full p-2 m-4 border appearance-none color-gray--bk" type="text" v-model="colegio_elegido_busqueda.fecha_final">
                        </div>
                        <div class="relative flex w-full mt-4">
                            <div class="relative flex w-full m-2 overflow-hidden border border-gray-200 rounded-md cursor-pointer">
                                <label for="select_motivos" class="cursor-pointer select_motivos"></label>
                                <select name="colegio_id" class="p-2 pr-8 appearance-none w-full cursor-pointer color-gray--bk" @change="eleccion_colegio($event)" v-model="colegio_elegido_busqueda.colegio">
                                    <option value="0" selected>TODOS LOS COLEGIOS</option>
                                    <option v-for="(colegio, n) in informacion_colegios" :key="n" :value="colegio.id" >{{colegio.nombre}}</option>
                                </select>
                            </div>

                        </div>
                        <input type="hidden" name="_token" :value="csrf">
                        <div class="relative flex justify-center w-full mt-4">
                            <button type="submit" class="w-5/12 p-2 font-bold text-center text-white uppercase rounded-sm cursor-pointer enviar-reporte hover:bg-white" :class="{desabilitado: boton_desabilitado}">
                                ver reporte
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="relative flex items-center justify-center w-full h-1/6">
                <a href="/reportes" class="relative flex items-center justify-center w-1/6 p-5 uppercase border border-gray-400 rounded-md cursor-pointer h-1/3 color-gray--bk">
                    <div>Regresar</div>
                </a>
            </div>
        </div>
    </div>

</template>

<script>

const axios = require('axios').default

    export default {
        props:{
            texto: String,
            csrf: String

        },
        data() {
            return {
                nombre_reporte:undefined,
                mostrar_form:false,
                informacion_colegios:{},
                informacion_grados:{},
                informacion_grados_cajas:{},
                informacion_cajas: [],
                id_colegio_elegido:undefined,
                colegio_elegido_busqueda:{
                    fecha_inicial:undefined,
                    fecha_final: undefined,
                    colegio: "COLEGIO",
                    grado: "GRADO",
                    estatus: "ESTATUS",
                    isbn: "ISBN"
                },
                boton_desabilitado:true,
                cierre_caja: false
            }
        },
        mounted() {
            axios.get("/api_web/colegios/").then(response => {
                this.informacion_colegios = response.data.data
                // console.log(this.informacion_colegios)
            }, fail => {
                console.log(fail)
            })

        },
        watch:{
            nombre_reporte(){
                this.mostrar_form = true
                var today = new Date();
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                var yyyy = today.getFullYear();

                var inicio = yyyy + '-' + mm + '-' + '01';
                today = yyyy + '-' + mm + '-' + dd;
                // $("#inicio").val(today);
                // $("#fin").val(today);
                this.colegio_elegido_busqueda.fecha_inicial = inicio;
                this.colegio_elegido_busqueda.fecha_final = today;
            },
            id_colegio_elegido(){
                axios.get("/api_web/colegios/"+this.id_colegio_elegido+"/colegiosISBN").then(response => {
                this.informacion_grados = response.data.data
                // console.log(this.informacion_grados)
                }, fail => {
                console.log(fail)
                })

                axios.post("/api_web/colegios/"+this.id_colegio_elegido+"/cajas_cerradas", {fecha_cierre: $("#fin").val() }).then(response => {
                this.informacion_grados_cajas = response.data.data
                console.log(this.informacion_grados_cajas)
                }, fail => {
                console.log(fail)
                })
            },
            colegio_elegido_busqueda:{

                handler: function(){
                    var today = new Date();
                    var dd = String(today.getDate()).padStart(2, '0');
                    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                    var yyyy = today.getFullYear();

                    var inicio = yyyy + '-' + mm + '-' + '01';
                    today = yyyy + '-' + mm + '-' + dd;
                    // $("#inicio").val(today);
                    // $("#fin").val(today);
                    if(this.colegio_elegido_busqueda.fecha_inicial != inicio || this.colegio_elegido_busqueda.fecha_final != today){
                        this.colegio_elegido_busqueda.fecha_inicial = $("#inicio").val();
                        this.colegio_elegido_busqueda.fecha_final = $("#fin").val();
                    }
                    if(this.nombre_reporte == "reporte general"){
                        if(this.colegio_elegido_busqueda.fecha_inicial != undefined && this.colegio_elegido_busqueda.fecha_final != undefined && this.colegio_elegido_busqueda.colegio != "COLEGIO" && this.colegio_elegido_busqueda.grado != "GRADO"  && this.colegio_elegido_busqueda.isbn != "ISBN" && this.colegio_elegido_busqueda.estatus != "ESTATUS"){
                            this.boton_desabilitado = false
                        }
                    }
                    if(this.nombre_reporte == "reporte de facturación"){
                        if(this.colegio_elegido_busqueda.fecha_inicial != undefined && this.colegio_elegido_busqueda.fecha_final != undefined && this.colegio_elegido_busqueda.colegio != "COLEGIO"){
                            this.boton_desabilitado = false
                        }
                    }
                    if(this.nombre_reporte == "reporte de cierre" || this.nombre_reporte == "reporte para colegio"){
                        if(this.colegio_elegido_busqueda.fecha_inicial != undefined && this.colegio_elegido_busqueda.fecha_final != undefined && this.colegio_elegido_busqueda.colegio != "COLEGIO" && this.colegio_elegido_busqueda.grado != "GRADO"  && this.colegio_elegido_busqueda.isbn != "ISBN"){
                            this.boton_desabilitado = false
                        }
                    }
                    if (this.nombre_reporte == "Cierre de caja") {
                        if(this.colegio_elegido_busqueda.fecha_final != undefined  && this.colegio_elegido_busqueda.colegio != "COLEGIO" ){
                            this.boton_desabilitado = false
                        }
                        // this.boton_desabilitado = false
                        // this.mostrar_form
                        // this.cierre_caja = true
                    }
                    if (this.nombre_reporte == "Cierre del día") {
                        if(this.colegio_elegido_busqueda.fecha_final != undefined  && this.colegio_elegido_busqueda.colegio != "COLEGIO" ){
                            this.boton_desabilitado = false
                        }
                    }

                },
                deep: true

            }

        },
        methods:{
            tipo_reporte(tipo){
                this.nombre_reporte = tipo
            },
            eleccion_colegio(event){
                this.colegio_elegido_busqueda.fecha_inicial = $("#inicio").val();
                this.colegio_elegido_busqueda.fecha_final = $("#fin").val();
                this.id_colegio_elegido = event.target.value

            },
            datePicker(){
                $("#inicio").datepicker({ dateFormat: 'yy-mm-dd' });
                $("#fin").datepicker({ dateFormat: 'yy-mm-dd' });
            },
            imprimir() {
                window.print()
            }
            // formulario(){
            //     console.log(this.colegio_elegido_busqueda);
            // }

        }
    }

</script>
<style scoped>
    .enviar-reporte{
        background-color: #81b84e;
    }
    .separacion{
        height: 90%;
    }
    .desabilitado{
        background-color: gray;
        pointer-events: none;
    }

    .boton-reporte:hover{
        background-color: #81b84e;
    }
    .documento{
        background-image: url("/assets/img/svg/documento.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
    .boton-reporte:hover .documento{
        background-image: url("/assets/img/svg/documento-blanco.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
