<template>

    <form method="POST" class="relative flex flex-col items-center justify-center w-full h-full xl:w-3/4">
        <div class="relative flex w-full">
            <span class="font-bold text-greenBT text-center w-full">REPORTE GENERAL DEL COLEGIO</span>
        </div>
        <input type="hidden" name="_token" :value="csrf" />
        <div class="relative flex w-full">
            <input name="inicio" placeholder="FECHA INICIAL" id="inicio" class="relative w-1/2 p-2 m-4 placeholder-gray-500 border font-rob-light" type="text" v-model="fecha_inicial">
            <input name="fin" placeholder="FECHA FINAL" id="fin" class="relative w-1/2 p-2 m-4 placeholder-gray-500 border font-rob-light" type="text" v-model="fecha_final">
        </div>
        <div class="relative flex w-full h-auto">
            <div class="relative w-1/2 m-4 overflow-hidden border border-gray-200 rounded-md cursor-pointer">
                <select name="grado" class="relative w-full p-2 appearance-none text-grayBT" v-model="grado">
                    <option value="" selected>TODOS LOS GRADOS</option>
                    <option v-for="(grado, n) in colegio.niveles" :key="n" :value="grado.id" >{{ grado.seccion }} - {{ grado.nombre }}</option>
                </select>
            </div>

            <div class="relative w-1/2 m-4 overflow-hidden border border-gray-200 rounded-md cursor-pointer">
                <select name="isbn" class="relative w-full p-2 appearance-none text-grayBT" v-model="isbn">
                    <option selected value="">TODOS LOS ISBN</option>
                    <option v-for="(libro, n) in colegio.libros" :key="n" :value="libro.isbn" >{{ libro.isbn }} - {{ libro.nombre }}</option>
                </select>
            </div>
        </div>
        <button type="submit" :class="{desabilitado: botonDeshabilitado}" class="w-1/3 py-2 my-5 text-lg text-center text-white uppercase border border-solid rounded-md cursor-pointer background-green--bk color-white--bk hover:bg-white hover:border-color-green--BK hover:color-green--bk lg:text-lg md:text-base sm:text-sm font-rob-bold">
            ver reporte
        </button>
        <div v-on:click="descargar" :class="{desabilitado: botonDeshabilitado}" class="inline-block w-1/3 py-2 font-bold text-center text-white align-middle border border-gray-400 border-solid rounded-md cursor-pointer background-green--bk hover:bg-white hover:border-green-500 hover:text-green-800 lg:text-lg md:text-base sm:text-sm">EXPORTAR EXCEL</div>
    </form>
</template>

<script>
const axios = require('axios').default
    export default {
        data() {
            return {
                colegio: {},
                fecha_inicial:undefined,
                fecha_final: undefined,
                grado: '',
                isbn: ''
            }
        },
        props:{
            csrf: String
        },
        computed: {
            botonDeshabilitado() {
                return this.fecha_inicial == undefined || this.fecha_final == undefined || this.fecha_inicial == '' || this.fecha_final == '';
            }
        },
        methods: {
            descargar() {
                document.location.href = '/colegio/reportes/general/descargar?' +
                    'inicio=' + this.fecha_inicial +
                    '&fin=' + this.fecha_final +
                    '&grado=' + this.grado +
                    '&isbn=' + this.isbn;
            }
        },
        mounted() {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            var inicio = yyyy + '-' + mm + '-' + '01';
            today = yyyy + '-' + mm + '-' + dd;

            this.fecha_inicial = inicio;
            this.fecha_final = today;

            $("#inicio").val(inicio);
            $("#fin").val(today);

            axios.get("/api_web/colegio").then(response => {
                this.colegio = response.data.data
            }, fail => {
                console.log(fail)
            })

            $("#inicio").datepicker({
                dateFormat: 'yy-mm-dd',
                onSelect: (date) => {
                    this.fecha_inicial = date
                }
            });

            $("#fin").datepicker({
                dateFormat: 'yy-mm-dd',
                onSelect: (date) => {
                    this.fecha_final = date
                }
            });
        }
    }
</script>

<style scoped>
    .separacion{
        height: 90%;
    }
    .desabilitado{
        background-color: gray;
        pointer-events: none;
    }
</style>
