/* ./resources/css/app.css */

:root {
    --main-green--bk: #81b84e;
    --main-red--bk: #ff1d25;
    --main-blue--bk: #50b9e7;
    --main-gray--bk: #808080;
    --main-white--bk: #FFFFFF;
    --main-graydark--bk: #666666;
    --main-red-dark: #c03a2d;
}


/* FUENTES */

@font-face {
    font-family: "roboto-light";
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: "roboto-bold";
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: "roboto-bold-italic";
    src: url("../fonts/Roboto-BoldItalic.ttf");
}

@font-face {
    font-family: "roboto-italic";
    src: url("../fonts/Roboto-Italic.ttf");
}

@font-face {
    font-family: "roboto-medium";
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: "roboto-medium-italic";
    src: url("../fonts/Roboto-MediumItalic.ttf");
}

@font-face {
    font-family: "roboto-regular";
    src: url("../fonts/Roboto-Regular.ttf");
}


/* FIN FUENTES */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Diseño personalizado del datatable */
/* .data-table-diseño {
    @apply w-full;
}

.data-table-diseño [wire] {
    @apply w-full;
} */

 /* Estilos switch */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    border-radius: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #81b84e;
}

input:focus + .slider {
    box-shadow: 0 0 1px #81b84e;
}

input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
}
.text-blue-1000 {
    --tw-text-opacity: 1;
    color: rgba(80, 185, 231, var(--tw-text-opacity));
}
.text-green-1000 {
    --tw-text-opacity: 1;
    color: rgba(129, 184, 78, var(--tw-text-opacity));
}
.border-blue-1000
{
    border-color: rgb(80, 185, 231);
}
.font-special
{
    font-size: 8px;
}

/* .rob-bold{
    font-family: "roboto-bold";
} */


    /* #input_container {
    position:relative;
    padding:0 0 0 20px;
    margin:0 20px;
    background:#ddd;
    direction: rtl;
    width: 200px;
} */


/* Radiobutton */

.radioBt{
    @apply opacity-0 absolute left-1/2 top-1/2 translate-x-1/2 translate-y-1/2 z-0;
}

.fakeRadio{
    @apply w-4 h-4 border border-solid border-grayBT rounded-full flex items-center justify-center ;
}

.fakeRadio::before,
.fakeRadio::after {
    content: "";
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position: absolute;
    transform: scale(0);
    transform-origin: center center;
}

.fakeRadio:before {
    background: var(--main-blue--bk);
    opacity: 0;
    transition: .3s;
  }

  .fakeRadio::after {
    background: var(--main-gray--bk);
    opacity: .4;
    transition: .6s;
  }

    /* checked state */
    .radioBt:checked+.fakeRadio::before {
        opacity: 1;
        transform: scale(.7);
    }
    .radioBt:checked+.fakeRadio{
        border: 1px solid var(--main-blue--bk);
    }

    /* other states */
    .radioBt:hover+.fakeRadio,
    .radioBt:focus+.fakeRadio {
        border: 1px solid var(--main-blue--bk);
    }

    .radioBt:hover+.fakeRadio:before,
    .radioBt:focus+.fakeRadio:before {
        background: var(--main-blue--bk);
    }

    .radioBt:focus+.fakeRadio::after,
    .radioBt:active+.fakeRadio::after {
    opacity: .1;
    transform: scale(1.6);
    }


/* Fin radiobutton */

/* WHATS STYLE LEFT*/

.wa-contenedor{
    position: fixed;
    /* width: 15%; */
    height: 75px;
    /* background-color: blue; */
    left: 25px;
    bottom: 50px;
    display: inline-flex;
    z-index: 100;
    justify-content: flex-start;
    align-items: center;
}

.wa-contenedor__icon{
    width: 75px;
    height: 75px;
    border-radius: 360%;
    background-image: url("/assets/img/svg/icon-logo--wa.svg");
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    z-index: 110;
    cursor: pointer;
}

.wa-contenedor__banner{
    background-color: rgba(29, 180, 55, .0);
    width: 180px;
    height: 35px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: skew(-20deg);
    position: relative;
    left: 50px;
    padding-left: 30px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    transition: all .3s .5s linear;
    visibility: visible;
}

.wa-contenedor__texto{
    color: white;
    /* font-family: Gotham-Medium; */
    transform: skew(20deg);
    opacity: 0;
    transition: all .3s .3s linear;
    position: relative;
    bottom: -15px;
    visibility: visible;
}

.wa-contenedor__barra{
    height: 35px;
    width: 3px;
    margin-left: auto;
    background-color: #0E6816;
    z-index: 40;
    right: 100%;
    position: absolute;
    transition: all 0.3s linear;
    visibility: visible;
}

    .wa-contenedor:hover .wa-contenedor__barra{
        right: 0%;
    }

    .wa-contenedor:hover .wa-contenedor__banner{
        background-color: rgba(29, 180, 55, 1);
    }

    .wa-contenedor:hover .wa-contenedor__texto{
        opacity: 1;
        bottom: 0px;
    }

    @media(max-width:980px)  {

        .wa-contenedor{
            left: 15px;
            bottom: 10px;
            width: 75px;
            overflow: hidden;
        }
        .wa-contenedor__barra{
            visibility: hidden;
        }

        .wa-contenedor__texto{
            visibility: hidden;
        }

        .wa-contenedor__banner{
            visibility: hidden;
        }
    }

/* END WHATS STYLE */

/* WHATS STYLE RIGHT*/

/* END WHATS STYLE RIGHT */

