<template>
<div class="flex flex-col items-center w-full h-auto py-6 border border-gray-400 shadow lg:w-4/12 rounded-xl">
    <div class="flex flex-wrap w-full px-3 mt-0 md:w-4/5 md:px-0 md:mt-10 place-content-between">
        <h2 class="uppercase font-rob-bold text-blueBT">Datos de la tarjeta</h2>
        <div><span class="font-rob-light text-grayBT">5 - 5</span></div>
    </div>
    <div class="relative flex justify-around w-4/5 h-auto mt-12">
        <div class="flex flex-row items-center w-full">
            <div class="w-full my-6">
                <input-texto placeHolder="CALLE Y NÚMERO EXTERIOR*" reg="1" v-model="datos_tarjeta.calle"/>
                <input-texto placeHolder="CONDOMINIO, SUITE O DELEGACIÓN *" reg="1" v-model="datos_tarjeta.condominio"/>
                <input-texto placeHolder="COLONIA *" reg="1" v-model="datos_tarjeta.colonia"/>
                <input-texto placeHolder="C.P. *" reg="5" v-model="datos_tarjeta.cp"/>

                <select-estados v-on:seleccionar="seleccionarEstado" v-bind:actual="datos_tarjeta.estado.valor"/>
                <select-municipio v-if="datos_tarjeta.estado" v-on:seleccionar="seleccionarMunicipio" v-bind:actual="datos_tarjeta.municipio.valor" v-bind:estado_id="datos_tarjeta.estado.valor"/>
            </div>
        </div>

    </div>
    <div class="relative flex flex-col items-center justify-around w-4/5 h-auto mt-5">
        <div v-on:click="paginaSiguiente" :class="{'pointer-events-none opacity-50':disableNextButton}" class="appearance-none relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md bg-gray-400 border border-solid border-gray-400 color-white--bk cursor-pointer hover:bg-white hover:border-blue-400 hover:text-blue-400 lg:text-lg md:text-base sm:text-sm ">
            <span class="rob-bold">SIGUIENTE</span>
        </div>
        <div v-on:click="paginaAnterior" class="appearance-none relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md color-gray--bk border border-solid border-gray-400 cursor-pointer hover:bg-white hover:border-blue-400 hover:text-blue-400 lg:text-lg md:text-base sm:text-sm">
            <span class="rob-bold">REGRESAR</span>
        </div>
    </div>
</div>
</template>

<script>
const axios = require('axios').default
export default {
    props:['pago', 'pedido'],
    data() {
        return {
            datos_tarjeta: {
                calle: { valor: '', error: false },
                condominio: { valor: '', error: false },
                colonia: { valor: '', error: false },
                cp: { valor: '', error: false },
                estado: { valor: '', error: false },
                municipio: { valor: '', error: false },
            }
        }
    },
    methods: {
        paginaAnterior() {
            this.$emit('navegacion', 6)
        },
        paginaSiguiente() {
            this.$emit('message', 'datos_tarjeta_bbva', this.datos_tarjeta)
            this.$emit('navegacion', 16)
        },
        seleccionarEstado(estado) {
            this.datos_tarjeta.estado = estado
        },
        seleccionarMunicipio(municipio) {
            this.datos_tarjeta.municipio = municipio
        },
    },
    computed: {
        disableNextButton() {
            for(var i in this.datos_tarjeta) {
                if(this.datos_tarjeta[i].error || this.datos_tarjeta[i].valor == '')
                    return true;
            }
            return false
        }
    },
    mounted() {
    }
}
</script>
