<template>
<div class="box-border flex flex-row items-start justify-center w-full h-full py-1">
    <div class="flex flex-col items-center justify-around w-4/12 h-full">
        <div><img src="/assets/img/svg/emvco_logo.png" alt="pago1" class="object-contain w-52 h-28 opacity-70"/></div>
        <div><img src="/assets/img/svg/sello_logo.png" class="object-contain w-52 h-28 opacity-70"/></div>
        <div><img src="/assets/img/svg/pci-standard.png" class="object-contain w-52 h-28 opacity-70"/></div>
        <div><img src="/assets/img/svg/openpay.png" class="object-contain w-52 h-28 opacity-70"/></div>
    </div>

    <div class="flex flex-col items-center w-1/2 h-auto h-full py-6 border border-gray-500 shadow rounded-xl">
        <span class="content-end w-full mt-5 mb-5 mr-10 text-right font-rob-light text-grayBT">
            5 - 5
        </span>

        <div>Procesando pago, espere por favor...</div>

        <div class="relative flex justify-center w-full mt-5">
            <div v-on:click="enviarPago" class="appearance-none relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md color-gray--bk border border-solid border-greenBT cursor-pointer hover:bg-greenBT hover:border-gray-400 hover:text-white lg:text-lg md:text-base sm:text-sm">
                <span class="rob-bold">REINTENTAR</span>
            </div>
        </div>
        <div class="relative flex justify-center w-full mt-5">
            <div v-on:click="paginaAnterior" class="appearance-none relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md color-gray--bk border border-solid border-gray-400 cursor-pointer hover:bg-white hover:border-blue-400 hover:text-blue-400 lg:text-lg md:text-base sm:text-sm">
                <span class="rob-bold">REGRESAR</span>
            </div>
        </div>
    </div>

    <div class="flex flex-col items-center justify-around w-4/12 h-full">
        <div><img src="/assets/img/svg/Logobm.svg.png" class="object-contain w-52 h-28 opacity-70"/></div>
        <div><img src="/assets/img/svg/Mastercard-logo.png" alt="pago1" class="object-contain w-52 h-28 opacity-70"/></div>
        <div><img src="/assets/img/svg/Visa_Logo.png" class="object-contain w-52 h-28 opacity-70"/></div>
        <div><img src="/assets/img/svg/bbva.png" class="object-contain w-52 h-28 opacity-70"/></div>
    </div>
</div>
</template>

<script>
import Swal from 'sweetalert2';

const axios = require('axios').default
export default {
    props:['pago', 'pedido'],
    data() {
        return {

        }
    },
    methods: {
        paginaAnterior() {
            this.$emit('navegacion', 6)
        },
        enviarPago() {
            var configuracion_pago = {
                pedido_id: this.pedido.id,
                metodo_pago: this.pago.metodo_pago.metodo.valor,
                forma_pago: this.pago.metodo_pago.forma.valor,
                terminos_aceptados: this.pago.metodo_pago.privacidad,

                facturacion_requerida: this.pago.solicitar_factura.valor,
                contacto: {
                    nombre:    this.pago.contacto.nombre.valor,
                    apellidos: this.pago.contacto.apellidos.valor,
                    celular:   this.pago.contacto.celular.valor,
                    correo: this.pago.contacto.correo.valor,
                },
                tipo_entrega: this.pago.tipo_entrega,
                direccion: {
                    calle: this.pago.datos_tarjeta_bbva.calle.valor,
                    condominio: this.pago.datos_tarjeta_bbva.condominio.valor,
                    colonia: this.pago.datos_tarjeta_bbva.colonia.valor,
                    cp: this.pago.datos_tarjeta_bbva.cp.valor,
                    ciudad: this.pago.datos_tarjeta_bbva.municipio.valor,
                    estado: this.pago.datos_tarjeta_bbva.estado.valor,
                }
            }

            if(this.pago.solicitar_factura.valor == 1) {
                let ni;
                console.log(this.pago.datos_facturacion.regimen_fiscal.valor);

                if(typeof(this.pago.datos_facturacion.num_interior.valor) === 'undefined'){
                    ni = null
                }else{
                    ni = this.pago.datos_facturacion.num_interior.valor
                }
                configuracion_pago.facturacion = {
                    cfdi:         this.pago.datos_facturacion.cfdi.valor.codigo,
                    correo:       this.pago.datos_facturacion.correo.valor,
                    cp:           this.pago.datos_facturacion.cp.valor,
                    id_cfdi:      this.pago.datos_facturacion.cfdi.valor.id,
                    regimen_fiscal: this.pago.datos_facturacion.regimen_fiscal.valor,
                    razon_social: this.pago.datos_facturacion.razon_social.valor,
                    rfc:          this.pago.datos_facturacion.rfc.valor,
                    calle:        this.pago.datos_facturacion.calle.valor,
                    num_exterior: this.pago.datos_facturacion.num_exterior.valor,
                    num_interior: ni,
                    colonia:      this.pago.datos_facturacion.colonia.valor,
                    municipio:    this.pago.datos_facturacion.municipio.valor,
                    estado:       this.pago.datos_facturacion.estado.valor
                }
            }

            if(this.pago.tipo_entrega == 2) {
                configuracion_pago.entrega = {
                    calle:        this.pago.entrega.calle,
                    colonia:      this.pago.entrega.colonia,
                    cp:           this.pago.entrega.cp,
                    estado:       this.pago.entrega.estado,
                    estado_id:    this.pago.entrega.estado_id,
                    municipio:    this.pago.entrega.municipio,
                    municipio_id: this.pago.entrega.municipio_id,
                    no_exterior:  this.pago.entrega.no_exterior,
                    no_interior:  this.pago.entrega.no_interior,
                    referencia:   this.pago.entrega.referencia
                }
            }

            Swal.showLoading();

            axios.post('/bbva/pagar', configuracion_pago).then(result => {
                console.log('result', result)
                Swal.close();

                // Hacemos la redirección
                document.location.href = result.data.redirect_url;
            }, fail => {
                console.log('fail', fail)
                Swal.close();

                // Notificamos que falló el proceso para permitir al usuario reintentar el pago
                Swal.fire({
                    icon: 'error',
                    text: typeof(fail.response.data.message) != 'undefined'? fail.response.data.message: 'Ocurrió un error, intente de nuevo más tarde.',
                    footer: 'Contacte al administrador si el problema persiste.',
                    confirmButtonText: 'Cerrar',
                })
            })
        }
    },
    mounted() {
        this.enviarPago()
    }
}
</script>
