<template>
<div class="flex flex-col items-center w-full h-auto p-6 border border-gray-500 shadow md:w-8/12 lg:w-6/12 rounded-xl print:border-0 print:w-full">
    <div class="flex flex-wrap w-4/5 mt-10 place-content-between print:hidden">
        <h2 class="rob-bold text-blueBT text-greenBT">Referencia de pago</h2>
        <div><span class="font-rob-light text-grayBT">5 - 5</span></div>
    </div>

    <div class="w-full my-16 border rounded-lg border-color-gray--BK" id="print">
        <div class="flex flex-col items-center w-full p-8 text-base break-words">
            <img class="w-36" v-bind:src="pago.colegio.logo">
            <div class="flex justify-between w-full color-gray--bk mt-5 py-1.5 border-b border-gray-300">
                <span>FECHA LÍMITE DE PAGO:</span>
                <b>{{ referencia.fecha_limite }}</b>
            </div>
            <div class="w-full py-3 border-b border-gray-300 color-gray--bk">
                <p class="uppercase">
                    <b>NOMBRE:</b>
                    <span>{{ referencia.nombre }}</span>
                </p>
            </div>
            <div class="flex flex-col items-center w-full py-3 text-center border-b border-gray-300">
                <b class="text-base color-gray--bk">{{ referencia.codigo_producto }}</b>
                <b class="text-xl">${{ referencia.monto }} MXN</b>
                <span class="text-xs leading-5">({{ referencia.monto_letra }})</span>
            </div>
            <div class="w-full py-3 border-b border-gray-300 color-gray--bk">
                <p class="my-2 leading-4 uppercase">
                    <span>{{ referencia.nombre_cuenta }}</span>
                </p>
                <p class="my-2 leading-4 uppercase">
                    <b>NÚMERO DE CONTRATO:</b>
                    <span>{{ referencia.numero_contrato }}</span>
                </p>
                <p class="my-2 leading-4 uppercase">
                    <b>NÚMERO DE CONTRATO CLABE:</b>
                    <span>{{ referencia.numero_contrato_clabe }}</span>
                </p>
                <p class="my-2 leading-4 uppercase">
                    <b>BANCO:</b>
                    <span>BBVA BANCOMER</span>
                </p>
            </div>
            <div class="flex flex-col items-center w-full py-3 text-center border-b border-gray-300 color-gray--bk">
                <span>REFERENCIA:</span>
                <b class="text-xl">{{ referencia.referencia_interbancaria }}</b>
            </div>
            <div class="w-full py-3 text-xs color-gray--bk">
                <!--<ul class="list-outside list-line">
                    <li>Con esta ficha de pago puedes realizar tu pago en la ventanilla del banco o realizar una transferencia electrónica desde el portal de tu banco.</li>
                    <li>Esta referencia de pago será válida para un pago únicamente.</li>
                    <li>En caso de querer realizar tu pago posterior a la fecha de vigencia de esta referencia es necesario generar una nueva referencia.</li>
                </ul>-->

                <strong>Practicaja</strong>
                <ol type="1" class="list-outside list-line">
                    <li>1- Acude a la Practicaja Bancomer y da clic en el botón "pagar servicios".</li>
                    <li>2- Ingresa el número de convenio 1813587. </li>
                    <li>3- Escribe el número de referencia que aparece en tu ficha de pago.</li>
                    <li>4- Captura el monto a pagar.</li>
                    <li>5- Al confirmar el pago, la Practicaja te entregará un comprobante impreso, verifícalo y consérvalo para cualquier aclaración. </li>
                </ol>
                <br>
                <strong class="pt-1">Instructivo Transferencias Bancarias BBVA</strong>
                <ol type="1" class="list-outside list-line">
                    <li>1- Abrir aplicación de BBVA y dar clic en "pagar servicio".</li>
                    <li>2- Ingresa el número de convenio 1813587.</li>
                    <li>3- Escribe el número de referencia que aparece en tu ficha de pago. </li>
                    <li>4- Captura el monto a pagar.</li>
                    <li>5- Al confirmar el pago te arrojará un folio de confirmación, verifícalo y consérvalo para cualquier aclaración. </li>
                </ol>
                <br>
                <strong class="pt-1">Instructivo Transferencias Bancarias Otros Bancos</strong>
                <ol type="1" class="list-outside list-line">
                    <li>1- Abrir la aplicación de su banco y dar clic en transferencia.</li>
                    <li>2- Agregar la clabe interbancaria (18 dígitos). </li>
                    <li>3- En el concepto o motivo de pago escribe el número de referencia que aparece en tu ficha de pago. </li>
                    <li>4- Captura el monto a pagar.</li>
                    <li>5- Al confirmar el pago te arrojará un folio de confirmación, verifícalo y consérvalo para cualquier aclaración. </li>
                </ol>

            </div>
            <div class="flex flex-col items-center w-full text-center pt-7 print:invisible">
                <!-- <button v-print="printConf" class="flex items-center justify-center w-40 h-12 text-xl text-white border border-gray-200 rounded-md cursor-pointer background-green--bk hover:bg-gray-400 hover:text-white hover:no-underline"><b>IMPRIMIR</b></button> -->
                <button v-on:click="print" class="flex items-center justify-center w-40 h-12 text-xl text-white border border-gray-200 rounded-md cursor-pointer background-green--bk hover:bg-gray-400 hover:text-white hover:no-underline"><b>IMPRIMIR</b></button>
            </div>
        </div>
    </div>
</div>
</template>

<script>
const axios = require('axios').default
import Swal from 'sweetalert2';
import print from 'vue-print-nb'
export default {
    props:['pago', 'pedido'],
    components: {
    },
    directives: {
        print
    },
    data() {
        return {
            printConf: {
                id: "#print",
                popTitle: "Referencia de pago"
            },
            referencia: {
                fecha_limite: '--/--/----',
                nombre: '----',
                monto: 0,
                monto_letra: 'Calculando...',
                nombre_cuenta: 'COLEGIO DEMO S.A. DE C.V.',
                nombre_banco: 'BBVA BANCOMER',
                numero_cuenta: '123 456 7890',
                codigo_producto: 'PR-12345',
                ventanilla_otros_bancos: 'CONTRATO CIE 01234567890',
                portal_bbva: 'CONTRATO CIE 01234567890',
                portal_otros_bancos: 'CLABE CIE 01234567890'
            }
        }
    },
    methods: {
        print() {
            window.print()
        }
    },
    mounted() {
        var dtoPago = {
                contacto: {
                    nombre: this.pago.contacto.nombre.valor,
                    apellidos: this.pago.contacto.apellidos.valor,
                    celular: this.pago.contacto.celular.valor,
                },
                tipo_entrega: this.pago.tipo_entrega,
                id_direccion_envio: this.pago.entrega.id,
                facturacion_requerida: this.pago.solicitar_factura.valor == 1,
                terminos_aceptados: this.pago.metodo_pago.privacidad,
                forma_pago: this.pago.metodo_pago.forma.valor,
                metodo_pago: this.pago.metodo_pago.metodo.valor,
                meses: 0 + this.pago.metodo_pago.forma.meses,
                direccion: {
                    calle: this.pago.entrega.calle,
                    no_exterior: this.pago.entrega.no_exterior,
                    no_interior: this.pago.entrega.no_interior,
                    colonia: this.pago.entrega.colonia,
                    cp: this.pago.entrega.cp,
                    referencia: this.pago.entrega.referencia,

                }
            }

            if(this.pago.tipo_entrega == 2) {
                dtoPago['direccion']['estado_id'] = this.pago.entrega.estado_id
                dtoPago['direccion']['municipio_id'] = this.pago.entrega.municipio_id
                dtoPago['direccion']['estado'] = this.pago.entrega.estado,
                dtoPago['direccion']['municipio'] = this.pago.entrega.municipio
            }else{
                dtoPago['direccion']['estado'] = this.pago.entrega.estado.nombre,
                dtoPago['direccion']['municipio'] = this.pago.entrega.municipio.nombre
            }

            if(this.pago.solicitar_factura.valor == 1) {

                let ni;
                if(typeof(this.pago.datos_facturacion.num_interior.valor) === 'undefined'){
                    ni = null
                }else{
                    ni = this.pago.datos_facturacion.num_interior.valor
                }
                dtoPago['facturacion'] = {
                    razon_social: this.pago.datos_facturacion.razon_social.valor,
                    rfc: this.pago.datos_facturacion.rfc.valor,
                    correo: this.pago.datos_facturacion.correo.valor,
                    cp: this.pago.datos_facturacion.cp.valor,
                    id_cfdi: this.pago.datos_facturacion.cfdi.valor.id,
                    cfdi: this.pago.datos_facturacion.cfdi.valor.codigo,
                    regimen_fiscal: this.pago.datos_facturacion.regimen_fiscal.valor,
                    calle: this.pago.datos_facturacion.calle.valor,
                    num_exterior: this.pago.datos_facturacion.num_exterior.valor,
                    num_interior: ni,
                    colonia: this.pago.datos_facturacion.colonia.valor,
                    municipio: this.pago.datos_facturacion.municipio.valor,
                    estado: this.pago.datos_facturacion.estado.valor
                };
            }

        Swal.fire({
            allowOutsideClick: false
        })

        Swal.showLoading()

        axios.post('/api_web/pedido/' + this.pedido.id + '/referenciaBbva', dtoPago)
        .then(success => {
            this.referencia = success.data.data
            Swal.close()
        }, fail => {
            Swal.close()
            Swal.fire({
                icon: 'error',
                text: typeof(fail.response.data.message) != 'undefined'? fail.response.data.message: 'Ocurrió un error, intente de nuevo más tarde.',
                footer: 'Contacte al administrador si el problema persiste.',
                confirmButtonText: 'Cerrar',
            })
        })
    }
}
</script>
