<template>

<div class="flex items-center w-4/12 p-2 mx-4 text-lg font-light text-center uppercase border border-gray-300 rounded-sm cursor-pointer h-2/3 text-grayBT">
    {{texto}}
</div>

</template>

<script>
export default {
    props:{
        texto: String
    }
}
</script>




