<template>
  <div>
    <div class="flex flex-col justify-around items-center w-full"></div>
        <div class="flex flex-col w-11/12 items-center shadow rounded-xl border h-auto border-gray-500 py-6">
        <div class="flex flex-wrap w-4/5 mt-10 place-content-between">
            <h2 class="rob-bold text-blueBT text-greenBT">Confirmar pago</h2>
            <div><span class="font-rob-light text-grayBT">xXX - 5</span></div>
        </div>


    </div>
</div>
</template>

<script>
export default {

}
</script>
