<template>
    <!-- <div class="flex flex-col items-center justify-around w-4/12 h-screen"></div> -->
    <div class="flex flex-col items-center w-full h-auto py-6 border border-gray-500 shadow lg:w-4/12 rounded-xl">
        <div class="flex flex-wrap w-full px-3 mt-0 md:w-4/5 md:px-0 md:mt-10 place-content-between">
            <h2 class="uppercase font-rob-bold text-greenBT">Datos de contacto</h2>
            <div><span class="font-rob-light text-grayBT">1 - 5</span></div>
        </div>

        <div class="flex justify-around w-full h-auto mt-12">
            <div class="relative flex flex-col w-full h-auto px-3 mb-6 md:w-4/5 md:px-0">
            <!-- <form class="w-4/5 mb-6" action="/" method="post"> -->
                <input-texto placeHolder="NOMBRE *" reg="1" v-model="usuario.nombre"/>
                <input-texto placeHolder="APELLIDOS *" reg="1" v-model="usuario.apellidos"/>
                <input-texto placeHolder="CELULAR *" reg="2" v-model="usuario.celular"/>
                <input-texto placeHolder="CORREO PARA RECEPCIÓN DE LICENCIAS DIGITALES" reg="7" v-model="usuario.correo"/>

                <div class="relative flex flex-col w-full h-5 mb-4 text-right">
                    <span class="rob-light color-gray--bk">*Campos son obligatorios</span>
                </div>
                <!-- Botones -->
                <div class="relative flex flex-wrap content-end w-full h-auto mt-auto mb-4">

                    <div class="relative flex justify-center w-full">
                        <button v-on:click="paginaSiguiente()" :class="{'pointer-events-none opacity-50': disableNext}"  type="submit" class="appearance-none  relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md bg-gray-400 border border-solid border-gray-400 color-white--bk cursor-pointer hover:bg-white hover:border-blueBT hover:text-blueBT lg:text-lg md:text-base sm:text-sm ">
                            <span class="rob-bold">SIGUIENTE</span>
                        </button>
                    </div>

                    <div class="relative flex justify-center w-full">
                        <div v-on:click="regresar()" class="appearance-none relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md color-gray--bk border border-solid border-gray-400 cursor-pointer hover:bg-white hover:border-blueBT hover:text-blueBT lg:text-lg md:text-base sm:text-sm">
                            <span class="rob-bold">REGRESAR</span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</template>
<script>

import Swal from 'sweetalert2';
import inputTexto from '../inputTexto.vue'

const axios = require('axios').default

export default{
    props:['pago', 'pedido'],
    components:{
        inputTexto
    },
    data(){
        return{
            usuario: {
                nombre: '',
                apellidos: '',
                celular: '',
                correo: '',
            },
            cambioPagina:{
                paginaVista: 1,
                pagina: 1,
                titulo: "ENTREGA",
            },
            formEne:true
        }
    },
    computed: {
        disableNext() {
            return !(this.usuario.nombre.error == false && this.usuario.apellidos.error == false && this.usuario.celular.error == false &&
                    this.usuario.nombre.valor != '' && this.usuario.apellidos.valor != '' && this.usuario.celular.valor != '')

        }
    },
    methods:{
        paginaSiguiente(){
            this.cambioPagina.paginaVista = 2;
            this.cambioPagina.pagina = 2;
            this.$emit('message', 'contacto', this.usuario )
            this.$emit('navegacion', 2)
        },

        regresar() {
            this.$emit('navegacion', 0)
        }
    },

    mounted() {
        if(typeof(this.pedido) != 'undefined') {
            Swal.showLoading()
            axios.get('/api_web/usuario/' + this.pedido.usuario_id + '/datos-ultimo-pedido').then(response => {
                Swal.close();
                this.usuario = {
                    nombre:{
                        error:false,
                        valor: response.data.data.contacto.nombre == null?'':response.data.data.contacto.nombre.trim(),
                        reg:"1"
                    },apellidos:{
                        error:false,
                        valor: response.data.data.contacto.apellidos == null?'':response.data.data.contacto.apellidos.trim(),
                        reg:"1"
                    },
                    celular:{
                        error:false,
                        valor: response.data.data.contacto.celular == null?'':response.data.data.contacto.celular.trim(),
                        reg:"2"
                    },
                    correo:{
                        error:false,
                        valor: response.data.data.contacto.correo == null?'':response.data.data.contacto.correo.trim(),
                        reg:"7"
                    },
                }

                // EVALUACION DE ERRORES
                if(this.usuario.nombre.error == false && this.usuario.apellidos.error == false && this.usuario.celular.error == false){
                    this.formEne = false
                }else{
                    this.formEne = true
                }
            }, fail => {
                Swal.close()
                Swal.fire({
                    icon: 'error',
                    text: typeof(fail.response.data.message) != 'undefined'? fail.response.data.message: 'Ocurrió un error, intente de nuevo más tarde.',
                    footer: 'Contacte al administrador si el problema persiste.',
                    confirmButtonText: 'Cerrar',
                })
            })
        }
    },
}
</script>
