<template>
    <div class="flex flex-col items-center w-full h-auto py-6 border border-gray-500 shadow lg:w-4/12 rounded-xl">
        <div class="flex flex-wrap w-full px-3 mt-0 md:w-4/5 md:px-0 md:mt-10 place-content-between">
            <h2 class="uppercase font-rob-bold text-blueBT">Datos de facturación</h2>
            <div><span class="font-rob-light text-grayBT">3 - 5</span></div>
        </div>
        <div class="flex justify-around w-full mt-12">
            <div class="w-full px-3 mb-6 md:w-4/5 md:px-0">
                <input-texto placeHolder="NOMBRE O RAZÓN SOCIAL *" reg="1" v-model="factura.razon_social"/>
                <input-texto placeHolder="RFC *" reg="6" v-model="factura.rfc"/>
                <input-texto placeHolder="CORREO *" reg="7" v-model="factura.correo"/>
                <select-cfdi placeHolder="USO DE CFDI *" reg="0" v-model="factura.cfdi"/>
                <select-regimen placeHolder="Regimen fiscal *" reg="0" v-model="factura.regimen_fiscal"></select-regimen>
                <input-texto placeHolder="CALLE *" reg="8" v-model="factura.calle"/>
                <input-texto placeHolder="NÚMERO EXTERIOR *" reg="8" v-model="factura.num_exterior"/>
                <input-texto placeHolder="NÚMERO INTERIOR " reg="10" v-model="factura.num_interior"/>
                <input-texto placeHolder="COLONIA *" reg="8" v-model="factura.colonia"/>
                <input-texto placeHolder="MUNICIPIO *" reg="8" v-model="factura.municipio"/>
                <input-texto placeHolder="ESTADO *" reg="8" v-model="factura.estado"/>
                <input-texto placeHolder="CÓDIGO POSTAL *" reg="5" v-model="factura.cp"/>
                <!-- <select-metodo-pago placeHolder="MÉTODO DE PAGO *" reg="0" v-model="factura.metodo_pago"/> -->
                <div class="relative flex flex-col w-full h-5 my-4 text-lefth" >
                    <span class="rob-light color-gray--bk">* Los campos son obligatorios</span>
                </div>
                <div class="relative flex flex-col w-full my-4 text-lefth" >
                    <span class="rob-light color-gray--bk">Estimado cliente: <br>Verifica que tus datos de facturación coincidan con tu registro en el SAT para que tú factura se timbre exitosamente, si algún dato es incorrecto no se timbrará, en caso de no recibir tu factura contáctanos vía WhatsApp al número 442-680-3196 y con gusto te ayudaremos.</span>
                </div>
                <!-- Botones -->

                <div class="relative flex flex-wrap content-end w-full mb-4">
                    <div class="relative flex justify-center w-full">
                        <button v-on:click="paginaSig()" :class="{'pointer-events-none opacity-50':disableNextButton}"  type="submit" class="appearance-none  relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md bg-gray-400 border border-solid border-gray-400 color-white--bk cursor-pointer hover:bg-white hover:border-blueBT hover:text-blueBT lg:text-lg md:text-base sm:text-sm ">
                            <span class="rob-bold">SIGUIENTE</span>
                        </button>
                    </div>
                    <div class="relative flex justify-center w-full">
                        <div v-on:click="paginaAnterior()" class="appearance-none relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md color-gray--bk border border-solid border-gray-400 cursor-pointer hover:bg-white hover:border-blueBT hover:text-blueBT lg:text-lg md:text-base sm:text-sm">
                            <span class="rob-bold">REGRESAR</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
const axios = require('axios').default
import Swal from 'sweetalert2';
import selectMetodoPago from '../selectMetodoPago.vue';
import SelectRegimen from '../selectRegimen.vue';
export default {
  components: { selectMetodoPago, SelectRegimen },
        props:['pago', 'pedido'],
        data() {
            return {
                factura: {
                    razon_social:{},
                    rfc: {},
                    correo: {},
                    cp: {},
                    cfdi: {},
                    regimen_fiscal: {},
                    calle: {},
                    num_exterior: {},
                    num_interior: {},
                    colonia: {},
                    municipio: {},
                    estado: {}
                    // metodo_pago: {}
                }
            }
        },
        methods:{
            paginaSig(){
                this.$emit('message', 'datos_facturacion', this.factura)
                this.$emit('navegacion', 6)
            },
            paginaAnterior(){
                this.$emit('navegacion', 4)
            }
        },
        computed: {
            disableNextButton() {
                return !(this.factura.razon_social.error == false  && this.factura.razon_social  &&
                        this.factura.rfc.error == false     && this.factura.rfc     &&
                        this.factura.correo.error == false  && this.factura.correo  &&
                        this.factura.cp.error == false      && this.factura.cp      &&
                        this.factura.cfdi.error == false    && this.factura.cfdi    &&
                        this.factura.calle.error == false    && this.factura.calle  &&
                        this.factura.num_exterior.error == false    && this.factura.num_exterior  &&
                        // this.factura.num_interior.error == false    && this.factura.num_interior  &&
                        this.factura.colonia.error == false    && this.factura.colonia  &&
                        this.factura.municipio.error == false    && this.factura.municipio  &&
                        this.factura.estado.error == false    && this.factura.estado
                        // this.factura.metodo_pago.error == false    && this.factura.metodo_pago
                        )
            }
        },
         mounted() {
            Swal.showLoading()
            axios.get('/api_web/usuario/' + this.pedido.usuario_id + '/datos-ultimo-pedido').then(response => {
                if(typeof(response.data.data.datosFacturacion) != 'undefined' && response.data.data.datosFacturacion.length > 0) {
                    this.factura = {
                        razon_social:{error:false, valor: response.data.data.datosFacturacion.razon_social, reg:"1"},
                        rfc:{error:false, valor: response.data.data.datosFacturacion.rfc, reg:"6"},
                        correo:{error:false, valor: response.data.data.datosFacturacion.correo, reg:"7"},
                        cp:{error:false, valor: response.data.data.datosFacturacion.cp, reg:"5"},
                        cfdi:{error:false, valor: response.data.data.datosFacturacion.usoCFDI.codigo, reg:"0" },
                        calle:{error:false, valor: response.data.data.datosFacturacion.calle, reg:"1" },
                        num_exterior:{error:false, valor: response.data.data.datosFacturacion.calle, reg:"1" },
                        num_interior:{error:false, valor: response.data.data.datosFacturacion.calle, reg:"1" },
                        colonia:{error:false, valor: response.data.data.datosFacturacion.calle, reg:"1" },
                        municipio:{error:false, valor: response.data.data.datosFacturacion.calle, reg:"1" },
                        estado:{error:false, valor: response.data.data.datosFacturacion.calle, reg:"1" }
                        // metodo_pago:{error:false, valor: response.data.data.datosFacturacion.calle, reg:"1" }
                    }
                }
            }, fail => {
                Swal.close()
                Swal.fire({
                    icon: 'error',
                    text: typeof(fail.response.data.message) != 'undefined'? fail.response.data.message: 'Ocurrió un error, intente de nuevo más tarde.',
                    footer: 'Contacte al administrador si el problema persiste.',
                    confirmButtonText: 'Cerrar',
                })
            })
        }
}
</script>
