<template>
<div class="flex flex-col items-center w-full h-auto py-6 border border-gray-500 shadow md:w-8/12 lg:w-6/12 rounded-xl">
    <div class="flex flex-wrap w-full px-3 mt-0 md:w-4/5 md:px-0 md:mt-10 place-content-between">
        <h2 class="rob-bold text-blueBT">Domicilio de envío</h2>
        <div><span class="font-rob-light text-grayBT">2 - 5</span></div>
    </div>

    <div class="flex justify-around w-full mt-12">
        <div class="w-full px-3 mb-6 md:w-4/5 md:px-0">
            <input-texto placeHolder="CALLE *" reg="0" v-model="direccion.calle"/>
            <div class="flex flex-row justify-between overflow-hidden">
                <input-texto placeHolder="NO.EXTERIOR *" reg="3" v-model="direccion.no_exterior" class="w-5/12"/>
                <input-texto placeHolder="NO.INTERIOR" reg="4" v-model="direccion.no_interior" class="w-5/12"/>
            </div>
            <input-texto placeHolder="COLONIA *" reg="0" v-model="direccion.colonia"/>
            <input-texto placeHolder="C.P. *" reg="5" v-model="direccion.cp"/>

            <select-estados v-on:seleccionar="seleccionarEstado" v-bind:actual="direccion.estado.valor"/>
            <select-municipio v-if="direccion.estado" v-on:seleccionar="seleccionarMunicipio" v-bind:actual="direccion.municipio.valor" v-bind:estado_id="direccion.estado.valor"/>

            <input-texto placeHolder="REFERENCIA" reg="100" v-model="direccion.referencia"/>

            <div class="relative flex flex-wrap content-end w-full mb-4">
                <div class="relative flex justify-center w-full">
                    <button v-on:click="paginaSig()" :class="{'pointer-events-none opacity-50':disableNextButton}" type="submit" class="appearance-none  relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md bg-gray-400 border border-solid border-gray-400 color-white--bk cursor-pointer hover:bg-white hover:border-blue-400 hover:text-blue-400 lg:text-lg md:text-base sm:text-sm ">
                        <span class="rob-bold">SIGUIENTE</span>
                    </button>
                </div>
                <div class="relative flex justify-center w-full">
                    <div v-on:click="paginaAnterior()" class="appearance-none relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md color-gray--bk border border-solid border-gray-400 cursor-pointer hover:bg-white hover:border-blue-400 hover:text-blue-400 lg:text-lg md:text-base sm:text-sm">
                        <span class="rob-bold">REGRESAR</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
const axios = require('axios').default
import Swal from 'sweetalert2';
import inputTexto from '../inputTexto.vue'

export default {
    components:{
        inputTexto
    },
    props:['pago', 'pedido'],
    computed: {
        disableNextButton() {
            return false == (
                this.direccion.calle.error==false && this.direccion.calle.valor != '' &&
                this.direccion.no_exterior.error==false && this.direccion.no_exterior.valor != '' &&
                this.direccion.colonia.error==false && this.direccion.colonia.valor != '' &&
                this.direccion.cp.error==false && this.direccion.cp.valor != '' &&
                this.direccion.estado.error==false && typeof(this.direccion.estado.valor) != 'undefined' &&
                this.direccion.municipio.error==false &&  typeof(this.direccion.municipio.valor) != 'undefined'
                // this.direccion.referencia.valor >50
            )
        }
    },
    data() {
        return {
            direccion: {
                calle:       {error:false, valor: '', reg:"0" },
                no_exterior: {error:false, valor: '', reg:"3" },
                no_interior: {error:false, valor: '', reg:"4" },
                colonia:     {error:false, valor: '', reg:"0" },
                cp:          {error:false, valor: '', reg:"5" },
                estado:      {error:false, valor: 0, reg:"0" },
                municipio:   {error:false, valor: 0, reg:"0" },
                referencia:  {error:false, valor: '', reg:"0" }
            }
        }
    },
    methods:{
        seleccionarEstado(estado) {
            console.log('SeleccionarEstado:', estado)
            this.direccion.estado = estado
        },
        seleccionarMunicipio(municipio) {
            console.log('SeleccionarMunicipio:', municipio)
            this.direccion.municipio = municipio
        },
        paginaSig() {
            this.$emit('message', 'tipo_entrega', 2 )
            this.$emit('message', 'entrega', {
                    calle        : this.direccion.calle.valor,
                    no_exterior  : this.direccion.no_exterior.valor,
                    no_interior  : this.direccion.no_interior.valor,
                    colonia      : this.direccion.colonia.valor,
                    cp           : this.direccion.cp.valor,
                    referencia   : this.direccion.referencia.valor,
                    estado_id    : this.direccion.estado.valor,
                    municipio_id : this.direccion.municipio.valor,
                    estado       : this.direccion.estado.estado.nombre,
                    municipio    : this.direccion.municipio.municipio.nombre
                }
            )
            this.$emit('navegacion', 4)
            // console.log(this.direccion.estado.estado.nombre + this.direccion.municipio.municipio.nombre)
        },
        paginaAnterior(){
            this.$emit('navegacion', 2)
        }
    },
    mounted() {
        Swal.showLoading()
        axios.get('/api_web/usuario/' + this.pedido.usuario_id + '/datos-ultimo-pedido').then(response => {
            Swal.close()
            if(typeof(response.data.data.direccionEntrega) != 'undefined'){
                this.direccion.calle.valor       = response.data.data.direccionEntrega.calle
                this.direccion.no_exterior.valor = response.data.data.direccionEntrega.no_exterior
                this.direccion.no_interior.valor = response.data.data.direccionEntrega.no_interior
                this.direccion.colonia.valor     = response.data.data.direccionEntrega.colonia
                this.direccion.cp.valor          = response.data.data.direccionEntrega.cp
                this.direccion.estado.valor      = response.data.data.direccionEntrega.estado_id
                this.direccion.municipio.valor   = response.data.data.direccionEntrega.municipio_id
            }
        }, fail => {
            Swal.close()
            Swal.fire({
                icon: 'error',
                text: typeof(fail.response.data.message) != 'undefined'? fail.response.data.message: 'Ocurrió un error, intente de nuevo más tarde.',
                footer: 'Contacte al administrador si el problema persiste.',
                confirmButtonText: 'Cerrar',
            })
        })
        // console.log(this.direccion.estado.estado.nombre + this.direccion.municipio.municipio.nombre)
    }
}
</script>
