<template>
<div class="flex flex-col items-center w-full h-auto py-6 border border-gray-400 shadow lg:w-4/12 rounded-xl">
    <div class="flex flex-wrap w-full px-3 mt-0 md:w-4/5 md:px-0 md:mt-10 place-content-between">
        <h2 class="uppercase font-rob-bold text-blueBT">SELECCIONA EL TIPO DE ENTREGA</h2>
        <div><span class="font-rob-light text-grayBT">2 - 5</span></div>
    </div>

    <div class="relative flex justify-around w-full h-auto mt-12">
        <div class="relative flex flex-col w-full px-3 mb-6 md:w-4/5 md:px-0 color-gray--bk">
            <div v-on:click="seleccionarDireccion(1, direccion_entrega)"
                v-for="direccion_entrega in pago.colegio.direcciones_entrega" v-bind:key="direccion_entrega.id"
                class="box-border flex flex-col p-5 mb-5 text-center border rounded-md cursor-pointer hover:border-blueBT hover:text-blueBT">
                <h3 class="rob-bold">ENTREGA EN COLEGIO:</h3>
                <span class="rob-light">{{ direccion_entrega.direccion_completa }}</span>
            </div>

            <div v-if="pago.colegio.configuracion.envio_domicilio_disponible" v-on:click="paginaSig()" class="box-border flex flex-col p-5 mb-5 text-center border rounded-md cursor-pointer hover:border-blueBT hover:text-blueBT">
                <h3 class="rob-bold">ENVIO A DOMICILIO</h3>
                <span class="rob-light">+ ${{ pago.colegio.configuracion.costo_envio }} MXN costo de envío</span>
            </div>

            <div v-on:click="seleccionarDireccion(3, direccion_pickup)"
                v-for="direccion_pickup in pago.colegio.direcciones_pickup" v-bind:key="direccion_pickup.id"
                class="box-border flex flex-col p-5 mb-5 text-center border rounded-md cursor-pointer hover:border-blueBT hover:text-blueBT">
                <h3 class="rob-bold">PICK UP:</h3>
                <span class="rob-light">{{ direccion_pickup.direccion_completa }}</span>
            </div>

            <div class="relative flex flex-wrap content-end w-full mt-auto mb-4">
                <div class="relative flex justify-center w-full">
                    <div v-on:click="paginaAnterior()" class="appearance-none relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md color-gray--bk border border-solid border-gray-400 cursor-pointer hover:bg-white hover:border-blueBT hover:text-blueBT lg:text-lg md:text-base sm:text-sm">
                        <span class="rob-bold">REGRESAR</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        props:['pago', 'pedido'],
        data() {
            return {}
        },
        methods:{
            paginaSig(){
                this.$emit('navegacion', 3)
            },
            seleccionarDireccion(tipo, direccion) {
                this.$emit('message', 'tipo_entrega', tipo )
                this.$emit('message', 'entrega', direccion )
                this.$emit('navegacion', 4)
            },
            paginaAnterior(){
                this.$emit('navegacion', 1)
            }
        }
    }
</script>
