<template>

    <div>

        <!-- <span>Pedido-> {{pedido}}</span>

        <br><br>

        <span>Pago-> {{pago}}</span>

        <br><br> -->

        <div id="btn-mercado" class="opacity-0 cho-container"></div>


    </div>

</template>

<script>
import axios from "axios";

export default {
    props:['pago', 'pedido'],
    data() {
            return {
                idMp: null,
                key:null
            };
        },
     mounted() {
        // console.log('entra mounted');
             this.peticion()
    },
    methods:{

        peticion: async function(){

            let comision = this.pago.metodo_pago.forma.comision
            let valor_comision, new_total

            // valor_comision = (comision / 100) * (this.pedido.subtotal)
            // new_total = valor_comision + this.pedido.subtotal

            if(this.pago.tipo_entrega == 2) {
                valor_comision = (comision / 100) * (this.pedido.subtotal + this.pago.colegio.configuracion.costo_envio)
                new_total = valor_comision + this.pedido.subtotal
            }else{
                valor_comision = (comision / 100) * (this.pedido.subtotal)
                new_total = valor_comision + this.pedido.subtotal
            }

            var dtoPago = {
                contacto: {
                    nombre: this.pago.contacto.nombre.valor,
                    apellidos: this.pago.contacto.apellidos.valor,
                    celular: this.pago.contacto.celular.valor,
                    correo: this.pago.contacto.correo.valor,
                    user_id: this.pedido.usuario_id
                },
                pedido:{

                  //datos para armar la prefeencia de Mercado Pago
                   pedido_id: this.pedido.id,
                   total: new_total,
                   correo:this.pedido.email,

                },

                tipo_entrega: this.pago.tipo_entrega,
                id_direccion_envio: this.pago.entrega.id,
                facturacion_requerida: this.pago.solicitar_factura.valor == 1,
                terminos_aceptados: this.pago.metodo_pago.privacidad,
                forma_pago: this.pago.metodo_pago.forma.valor,
                metodo_pago: this.pago.metodo_pago.metodo.valor,
                meses: 0 + this.pago.metodo_pago.forma.meses,
                direccion: {
                    calle: this.pago.entrega.calle,
                    no_exterior: this.pago.entrega.no_exterior,
                    no_interior: this.pago.entrega.no_interior,
                    colonia: this.pago.entrega.colonia,
                    cp: this.pago.entrega.cp,
                    referencia: this.pago.entrega.referencia,

                },
                tarjeta: this.tarjeta,
                token_tarjeta: this.token_tarjeta,
                device_session_id: this.deviceSessionId
            }

            if(this.pago.tipo_entrega == 2) {
                dtoPago['direccion']['estado_id'] = this.pago.entrega.estado_id
                dtoPago['direccion']['municipio_id'] = this.pago.entrega.municipio_id
                dtoPago['direccion']['estado'] = this.pago.entrega.estado,
                dtoPago['direccion']['municipio'] = this.pago.entrega.municipio
            }else{
                dtoPago['direccion']['estado'] = this.pago.entrega.estado.nombre,
                dtoPago['direccion']['municipio'] = this.pago.entrega.municipio.nombre
            }

            if(this.pago.solicitar_factura.valor == 1) {
                console.log("TRAE DATOS: ");
                let ni;
                if(typeof(this.pago.datos_facturacion.num_interior.valor) === 'undefined'){
                    ni = null
                }else{
                    ni = this.pago.datos_facturacion.num_interior.valor
                }
                dtoPago['facturacion'] = {
                    razon_social: this.pago.datos_facturacion.razon_social.valor,
                    rfc: this.pago.datos_facturacion.rfc.valor,
                    correo: this.pago.datos_facturacion.correo.valor,
                    cp: this.pago.datos_facturacion.cp.valor,
                    id_cfdi: this.pago.datos_facturacion.cfdi.valor.id,
                    cfdi: this.pago.datos_facturacion.cfdi.valor.codigo,
                    regimen_fiscal: this.pago.datos_facturacion.regimen_fiscal.valor,
                    calle: this.pago.datos_facturacion.calle.valor,
                    num_exterior: this.pago.datos_facturacion.num_exterior.valor,
                    num_interior: ni,
                    colonia: this.pago.datos_facturacion.colonia.valor,
                    municipio: this.pago.datos_facturacion.municipio.valor,
                    estado: this.pago.datos_facturacion.estado.valor,
                };

            }

              Swal.showLoading();

            await axios.post("/api/mercado_pago", dtoPago ).then(
                response => {
                   this.idMp=response.data[0]
                   this.key=response.data[1]
                   this.cargaBoton()
                },
                function(error) {
                    console.log(error)
                    alert('Sistema fuera de linea, por favor vuelva a intentar en 2 horas.')
                }

            );

        },

        cargaBoton: function(){

            let checkout = null

            console.log("id map: "+this.idMp)
            // console.log('entra a cargar boton');

                // genera el boton de MP

			//Adicione as credenciais de sua conta Mercado Pago junto ao SDK
			const mp = new MercadoPago(this.key, {
			    locale: 'es-MX'
			});
			checkout = mp.checkout({
			    preference: {

			       id: this.idMp // Indica el ID de la preferencia
			    },
			    render: {
			        container: '.cho-container', // Clase CSS para renderizar el botón de pago
			        label: 'Pagar', // Cambiar el texto del botón de pago (opcional)
			    }
			});

            // console.log('MERCADO API: ', this.idMp);

            setTimeout(function(){
                if(this.idMp == null && checkout == null){
                    alert('Sistema fuera de linea, por favor vuelva a intentarlo en 2 horas.')
                }else{
                    document.getElementById('btn-mercado').firstChild.click()
                }
            }, 3500);



        }

    },

    watch: {
        mercado_pago: function(val){
            axios.get("/api/mercado_pago").then(
                response => {
                    this.secciones = response.data.secciones
                    console.log(response)
                },
                function(error) {
                    console.log(error)
                }
            );
        }
    }
}

</script>

