<template>
<div class="flex flex-col items-center w-full h-auto py-6 border border-gray-400 shadow lg:w-4/12 rounded-xl">
    <div class="flex flex-wrap w-full px-3 mt-0 md:w-4/5 md:px-0 md:mt-10 place-content-between">
        <h2 class="uppercase font-rob-bold text-blueBT">Método de pago</h2>
        <div><span class="font-rob-light text-grayBT">4 - 5</span></div>
    </div>
    <div class="relative flex justify-around w-full h-auto mt-12">
        <div class="relative flex flex-col w-full h-auto px-3 mb-6 md:w-4/5 md:px-0">
            <div class="relative flex flex-col mb-4">
                <label class="mb-2 text-left uppercase text-grayBT font-rob-light">METODO DE PAGO *</label>
                <select class="block w-full px-4 py-3 pr-8 border rounded appearance-none bg-grey-lighter border-grey-lighter text-grey-darker" v-model="metodo_pago.metodo" v-on:change="metodo_pago.forma = {}">
                    <option disabled="disabled" selected>Seleccione una opción</option>
                    <option v-for="metodo_pago in metodosPago" v-bind:key="metodo_pago.valor" v-bind:value="metodo_pago">{{ metodo_pago.nombre }}</option>
                </select>
                <div class="absolute right-0 flex items-center px-2 pointer-events-none top-12 text-grey-darker">
                <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                </div>
            </div>

            <div class="relative flex flex-col mb-4" v-if="metodo_pago.metodo.valor != 0">
                <label class="mb-2 text-left uppercase text-grayBT font-rob-light">FORMA DE PAGO *</label>
                <select class="block w-full px-4 py-3 pr-8 border rounded appearance-none bg-grey-lighter border-grey-lighter text-grey-darker" v-model="metodo_pago.forma">
                    <option disabled="disabled" selected>Seleccione una opción</option>
                    <option v-for="forma_pago in metodo_pago.metodo.formas_pago" v-bind:key="forma_pago.valor" v-bind:value="forma_pago" v-if="typeof(forma_pago.minimo) == 'undefined' || (typeof(forma_pago.minimo) != 'undefined' && pedido.subtotal >= forma_pago.minimo) ">{{ forma_pago.nombre }}</option>
                </select>
                <div class="absolute right-0 flex items-center px-2 pointer-events-none top-12 text-grey-darker">
                <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                </div>
            </div>
            <br>
            <div class="flex items-center justify-end w-fu">
                <label class="inline-flex items-center mt-3">
                    <input type="checkbox" v-model="metodo_pago.privacidad" class="w-5 h-5 transition duration-100 ease-in-out border-2 border-gray-400 rounded shadow-md form-checkbox text-blueBT focus:border-blue-500 focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50 focus:ring-offset-0 disabled:opacity-50 disabled:cursor-not-allowed">
                    <span class="h-5 mb-2 ml-2 text-gray-700 uppercase nowrap"><small class="text-xs text-grayBT font-rob-light">He leído y acepto las <a class="text-blueBT" target="__blank" href="/politicas">políticas de compra </a> y <a class="text-blueBT" target="__blank" href="/aviso-de-privacidad">aviso de privacidad</a></small></span>
                </label>
            </div>

            <div class="flex flex-row mt-4">
                <div class="box-border flex flex-col pr-3 text-right" >
                    <span class="mb-3 text-grayBT font-rob-bold">SUBTOTAL</span>
                    <span class="mb-3 text-grayBT font-rob-bold">ENVÍO</span>
                    <span class="mb-3 text-grayBT font-rob-bold">COMISIÓN DE PAGO</span>
                    <span class="mb-3 text-grayBT font-rob-bold">TOTAL</span>
                </div>
                <div class="box-border flex flex-col pl-3 text-right">
                    <span class="mb-3 text-greenBT font-rob-regularBT">${{ pedido.subtotal.toFixed(2) }} MXN</span>
                    <span class="mb-3 text-greenBT font-rob-regularBT">${{ costo_envio.toFixed(2) }} MXN</span>
                    <!--<span class="mb-3 text-greenBT font-rob-regularBT" v-if="metodo_pago.metodo.valor != 0">${{ ((metodo_pago.metodo.comision / 100) * pedido.subtotal).toFixed(2) }} MXN</span>
                    <span class="mb-3 text-greenBT font-rob-regularBT" v-if="metodo_pago.metodo.valor == 0">$0.00 MXN</span>-->
                    <span class="mb-3 text-greenBT font-rob-regularBT">${{ calculo_comision.toFixed(2) }} MXN</span>
                    <span class="mb-3 text-greenBT font-rob-regularBT">${{ total.toFixed(2) }} MXN</span>
                </div>
            </div>

            <!-- Botones -->
            <div class="relative flex flex-wrap content-end w-full h-auto mt-auto">
                <div class="relative flex justify-center w-full">
                    <button v-on:click="paginaSiguiente" :class="{'pointer-events-none opacity-50': disableNextButton}" class="appearance-none relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md bg-greenBT border border-solid border-gray-400 color-white--bk cursor-pointer hover:bg-white hover:border-greenBT hover:text-greenBT lg:text-lg md:text-base sm:text-sm ">
                        <span class="rob-bold">PAGAR</span>
                    </button>
                </div>

                <div class="relative flex justify-center w-full">
                    <div v-on:click="paginaAnterior" class="appearance-none relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md color-gray--bk border border-solid border-gray-400 cursor-pointer hover:bg-white hover:border-blue-400 hover:text-blue-400 lg:text-lg md:text-base sm:text-sm">
                        <span class="rob-bold">REGRESAR</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
const axios = require('axios').default

export default{
    props:['pago', 'pedido'],
    data() {
        return{
            metodo_pago: {
                metodo: {
                    valor: 0,
                    comision: 0
                },
                forma: {
                    valor: 0
                },
                privacidad: false,
                costo_envio: 0
            },
            comision_pago: 0
        }
    },
    computed: {
        metodosPago() {
            if(typeof(this.pago) == 'undefined')
                return []
            // Filtramos los métodos de pago
            console.log('metodos_pago', Object.values(this.pago.colegio.configuracion.metodos_pago))

            return Object.values(this.pago.colegio.configuracion.metodos_pago).filter(item => {
                if(Object.values(item.formas_pago).filter(fp => {
                        if(this.pedido.subtotal >= fp.minimo)
                            return true
                    }).length > 0)
                        return true

                return false
            })
        },
        costo_envio() {
            if(this.pago.tipo_entrega == 2)
                return this.pago.colegio.configuracion.costo_envio;

            return 0;

        },
        calculo_comision() {

            if (typeof(this.metodo_pago.forma) == 'undefined') return 0
            if (this.metodo_pago.forma.valor == 0) return 0

            if(typeof(this.metodo_pago.forma.comision) != 'undefined')
                if(this.pago.tipo_entrega == 2)
                    return (this.metodo_pago.forma.comision / 100) * (this.pedido.subtotal + this.pago.colegio.configuracion.costo_envio)
                else
                    return (this.metodo_pago.forma.comision / 100) * this.pedido.subtotal

            return 0

        },
        total() {
            return 0 + this.pedido.subtotal + this.costo_envio + this.calculo_comision
        },
        disableNextButton() {
            var check_metodo = this.metodo_pago.metodo.valor == 0
            var check_forma = typeof(this.metodo_pago.forma) == 'undefined' || typeof(this.metodo_pago.forma.valor) == 'undefined'

            return check_metodo || check_forma || this.metodo_pago.privacidad == false
        }
    },
    mounted() {},
    methods:{
        paginaSiguiente() {
            this.$emit('message', 'metodo_pago', this.metodo_pago)

            // Validamos a que vista redirigir según la selección del usuario
            if(this.metodo_pago.metodo.valor != 0) {
                switch(this.metodo_pago.metodo.valor) {
                    case 'DEBITO':this.$emit('navegacion', 7); break;           // Tarjeta de débito -> NETPAY
                    case 'CREDITO':this.$emit('navegacion', 7); break;          // Tarjeta de crédito -> NETPAY
                    case 'AMEX':this.$emit('navegacion', 7); break;             // American Express -> NETPAY
                    case 'BANCO':this.$emit('navegacion', 12); break;           // Referencia interbancaria -> BBVA
                    case 'TIENDA':this.$emit('navegacion', 13); break;          // Tienda de conveniencia -> NETPAY

	                case 'BBVADEBITOVPOS': this.$emit('navegacion', 15); break;  // Pago con tarjeta de débito -> BBVA
	                case 'BBVACREDITOVPOS': this.$emit('navegacion', 15); break; // Pago con tarjeta de crédito -> BBVA

	                case 'BBVATARJETA': this.$emit('navegacion', 0); break;     // Pago con tarjeta autogestionado BBVA -> BBVA

	                case 'OPDEBITO': this.$emit('navegacion', 18); break;       // Tarjeta de Débito -> OPENPAY
	                case 'OPAMEX': this.$emit('navegacion', 18); break;         // American Express -> OPENPAY
	                case 'OPMASTERCARD': this.$emit('navegacion', 18); break;   // Visa/Mastercard -> OPENPAY
	                case 'OPEFECTIVO': this.$emit('navegacion', 0); break;      // Efectivo -> OPENPAY
	                case 'OPSPEI': this.$emit('navegacion', 0); break;          // Transferencia SPEI -> OPENPAY
	                case 'OPBANCO': this.$emit('navegacion', 0); break;         // CIE Bancomer/SPEI -> OPENPAY
	                case 'OPTIENDA': this.$emit('navegacion', 17); break;       // Pago en OXXO -> OPENPAY
	                case 'OPQRALIPAY': this.$emit('navegacion', 0); break;      // Pago con QR AliPay -> OPENPAY
	                case 'OPQRCODI': this.$emit('navegacion', 0); break;        // Pago con QR CoDi -> OPENPAY
	                case 'OPIVR': this.$emit('navegacion', 0); break;           // Autorizador remoto IVR -> OPENPAY
                    case 'MERCADO PAGO': this.$emit('navegacion', 21); break;
                }
            }
        },

        paginaAnterior(){
            if(this.pago.solicitar_factura.valor == 1)
                this.$emit('navegacion', 5)
            else
                this.$emit('navegacion', 4)
        },

        togglePrivacidad() {
            console.log(typeof(this.pago.privacidad), this.pago.privacidad)

            if(typeof(this.pago.privacidad) == 'undefined')
                this.pago.privacidad = false

            this.pago.privacidad = !this.pago.privacidad
        }
    }
}
</script>
