<template>
<div class="p-3.5 max-w-full md:flex flex-col w-600 items-center shadow rounded-xl border h-auto border-gray-500 pb-6">
    <div class="hidden lg:flex flex-wrap w-4/5 mt-10 place-content-between md:flex">
        <h2 class="rob-bold text-blueBT">Pago exitoso</h2>
    </div>

    <div class="flex flex-col items-center w-full">
        <div class="flex w-full flex-col items-center my-5">
            <h1 class="font-rob-bold text-greenBT text-2xl mb-3">PAGO EXITOSO</h1>
            <span class="text-center md:font-rob-regularBT text-grayBT text-base mb-6">SE HA ENVIADO AL CORREO <b class="text-greenBT text-uppercase">{{ correo }}</b> TU COMPROBANTE DE PAGO</span>
            <div class="flex flex-col mb-2 text-center">
                <span class="font-rob-light text-grayBT text-base">PEDIDO</span>
                <span class="font-rob-bold text-grayBT text-xl text-uppdercase">{{ numero_pedido }}</span>
            </div>
        </div>

        <div class="flex flex-col items-center lg:flex-row justify-around w-full text-grayBT mt-4">
            <div class="w-80 m-2 mx-2 p-5 flex flex-col border box-border rounded-md text-center cursor-pointer lg:w-52 lg:h-24 justify-center hover:border-blue-400 hover:text-blue-400">
                <a v-bind:href="'/datos-compra/' + id_pedido ">VER COMPROBANTE DE PAGO</a>
            </div>
            <div class="w-80 m-2 mx-2 p-5 flex flex-col border box-border rounded-md text-center cursor-pointer lg:w-52 lg:h-24 justify-center hover:border-blue-400 hover:text-blue-400">
                <a href="/inicio">REALIZAR OTRO PEDIDO</a>
            </div>
            <div class="w-80 m-2 mx-2 p-5 flex flex-col border box-border rounded-md text-center cursor-pointer lg:w-52 lg:h-24 justify-center hover:border-blue-400 hover:text-blue-400">
                <a href="/mis-pedidos">VER MIS PEDIDOS</a>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    props:['pago', 'pedido'],
    data() {
        return {
            id_pedido: 1,
            correo: 'correo@cliente.com',
            numero_pedido: 'AB-1234'
        }
    },
    mounted() {
        this.id_pedido = this.pago.success.id
        this.correo = this.pago.success.correo
        this.numero_pedido = this.pago.success.pedido
    }
}
</script>
