<template>
<div class="flex flex-col max-w-full w-600 items-center shadow rounded-xl border h-auto border-gray-500 py-6">
    <div class="flex flex-wrap w-4/5 mt-10 place-content-between">
        <h2 class="rob-bold text-greenBT">Pago rechazado</h2>
    </div>

    <div class="w-full flex justify-center items-center">
        <div class="flex flex-col w-11/12 items-center mt-4 py-6">
            <div class="relative w-full text-base text-grayBT uppercase font-bold text-center mt-6 flex h-20 justify-center items-center">
                <div class="relative w-16 h-16 border-2 border-gray-400 rounded-full">
                    <div class="absolute left-2 right-2 m-auto top-0 bottom-0 h-2 background-red--bk transform rotate-45"></div>
                    <div class="absolute left-2 right-2 m-auto top-0 bottom-0 h-2 background-red--bk transform -rotate-45"></div>
                </div>
            </div>
            <span class="relative w-full text-3xl uppercase font-bold text-center mt-6 text-red-600"> Transacción fallida </span>

            <span class="relative w-full mt-8 px-4 text-sm text-grayBT uppercase text-center">{{ pago.error }}</span>
            <div class="flex flex-col items-center lg:flex-row justify-around w-full text-grayBT mt-4">
                <div @click="regresar" class="w-11/12 m-2 mx-2 p-5 flex flex-col border box-border rounded-md text-center cursor-pointer lg:w-52 lg:h-24 justify-center hover:border-blue-400 hover:text-blue-400">REGRESAR</div>
                <a href="/inicio" class="w-11/12 m-2 mx-2 p-5 flex flex-col border box-border rounded-md text-center cursor-pointer lg:w-52 lg:h-24 justify-center hover:border-blue-400 hover:text-blue-400">REALIZAR OTRO PEDIDO</a>
                <a href="/mis-pedidos" class="w-11/12 m-2 mx-2 p-5 flex flex-col border box-border rounded-md text-center cursor-pointer lg:w-52 lg:h-24 justify-center hover:border-blue-400 hover:text-blue-400">VER MIS PEDIDOS</a>
            </div>
        </div>
    </div>

</div>
</template>

<script>
export default {
    props:['pago', 'pedido'],

    data(){
        return{
        }
    },
    mounted() {
        console.log("pago: ", this.pago.error);
    },
    methods: {
        regresar() {
            this.$emit('navegacion', 6)
        }
    }
}

</script>

