<template>
    <div class="flex flex-col lg:w-4/12 w-full items-center shadow rounded-xl border h-auto border-gray-500 py-6">
        <div class="flex flex-wrap w-full md:w-4/5 px-3 md:px-0 mt-0 md:mt-10 place-content-between">
            <h2 class="font-rob-bold text-blueBT uppercase">¿Solicitar factura?</h2>
            <div><span class="font-rob-light text-grayBT">3 - 5</span></div>
        </div>

    <div class="flex justify-around w-full mt-12 h-auto relative">
        <div class="mb-6 w-full md:w-4/5 px-3 md:px-0 color-gray--bk h-auto relative flex flex-col">
            <div v-on:click="paginaSig(1)" class="mb-5 p-5 flex flex-col border box-border rounded-md text-center cursor-pointer hover:border-blueBT hover:text-blueBT border-gray-200 text-grayBT">
                <span class="rob-light">SI</span>
            </div>

            <div v-on:click="paginaSig(0)" class="mb-5 p-5 flex flex-col border box-border rounded-md text-center cursor-pointer hover:border-blueBT hover:text-blueBT border-gray-200 text-grayBT">
                <span class="rob-light">NO</span>
            </div>

            <div class="w-full relative flex flex-wrap content-end mb-4 mt-auto">
                <div class="w-full flex justify-center relative">
                    <div v-on:click="paginaAnterior()" class="appearance-none relative block text-center py-1 px-3 w-1/2 my-1.5 rounded-md color-gray--bk border border-solid border-gray-400 cursor-pointer hover:bg-white hover:border-blueBT hover:text-blueBT lg:text-lg md:text-base sm:text-sm">
                        <span class="rob-bold">REGRESAR</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
  export default {
    props:['pago', 'pedido'],
    data() {
        return {
             factura:{
                valor: '',
            }
        }
    },
    methods:{
        paginaSig(opc){
            this.factura.valor = opc
            this.$emit('message', 'solicitar_factura', this.factura)
            switch (opc) {
                case 1: this.$emit('navegacion', 5); break;
                case 0: this.$emit('navegacion', 6); break;
            }
        },
        paginaAnterior(){
            if(this.pago.entrega.valor == 2)
                this.$emit('navegacion', 3)
            else
                this.$emit('navegacion', 2)
        },
    }
}
</script>
